@charset "utf-8";

$selectorRoot: "#p_category";
/* ---------------------------------------------
	アーカイブページ
----------------------------------------------------------*/
/* -----------------------------------------------
/* sec-archive
-------------------------------------------------- */
#{$selectorRoot} .sec-archive{
	margin-top: 0;
	.heading{
		background-color: $grayBackgroundColor;
		padding: 50px 0;
		text-align: center;
		.headingTtl{
			font-size: 20px;
			font-weight: bold;
		}
	}
	.archiveList{
		max-width: $baseWidth;
		margin: $sectionMargin auto 0;
		>*{
			&:nth-of-type(n+5){
				margin-top: $paramMarginM;
			}
		}
	}
@include media(tablet) {
	.archiveList{
		>*{
			&:nth-of-type(4){
				margin-top: $paramMarginM;
			}
		}
	}
}
@include media(phablet) {
	.archiveList{
		>*{
			&:nth-of-type(3){
				margin-top: $paramMarginM;
			}
		}
	}
}
}

/* -----------------------------------------------
/* sec-category
-------------------------------------------------- */
#{$selectorRoot} .sec-category{
	background-color: $grayBackgroundColor;
	padding: 50px 0;
@include media(tablet) {
}
@include media(phablet) {
}
}