@charset "utf-8";

$selectorRoot: "#p_contact";
/* -----------------------------------------------
/* お問い合わせ
-------------------------------------------------- */
#{$selectorRoot} .sec-contact{
	margin: 0;
	.heading{
		background-color: $grayBackgroundColor;
		padding: 50px 0;
		text-align: center;
		.headingTtl{
			font-size: 20px;
			font-weight: bold;
		}
	}
	.form_body{
		max-width: $baseWidth - 200px;
		margin: $sectionMargin auto;
	}
	.field_item{
		display: flex;
		padding: 20px 0;
		&:not(:first-of-type){
			// border-top: 1px solid #ccc;
		}
	}
	.item_group{
		& + .item_group{
			margin-top: 5px;
		}
	}
	.item_head{
		flex-basis: 220px;
		font-size: 18px;
		font-weight: bold;
		text-align: right;
		padding: 5px 20px 0 0 ;
	}
	.item_cont{
		flex-basis: calc(100% - 220px);
		input[type="text"],select,textarea{
			width: 100%;
			font-size: 16px;
			border-radius: 5px;
		}
		select{
			appearance: none;
			padding: 8px 10px;
			background-color: #fff;
		}
		.selectBox{
			@include icoArrow(before, 50%, 10px, 50%, null, 12px, 3px, $baseTextColor, 135deg);
		}
	}
	.form_btn{
		text-align: center;
		display: flex;
		justify-content: center;
		>li{
			max-width: 260px;
			width: 100%;
			& + li{
				margin-left: 20px;
			}
		}
	}
@include media(tablet) {
	.form_body{
		padding: 0 20px;
	}
	.item_head{
		flex-basis: 30%;
		font-size: 16px;
		padding: 5px 10px 0 0 ;
	}
	.item_cont{
		flex-basis: 70%;
	}
}
@include media(phablet) {
	.form_body{
		margin: $sectionMargin/2 auto;
	}
	.field_item{
		display: block
	}
	.item_head{
		text-align: left;
	}
	.item_cont{
		margin-top: 10px;
	}
	.field_item{
		padding: 0 0 20px;
	}
}
}
/* -----------------------------------------------
/* お問い合わせ 確認
-------------------------------------------------- */
#{$selectorRoot} .sec-contact.is-confirm{
	.item_cont{
		font-size: 16px;
		padding-top: 6px;
	}
}