@charset "utf-8";

$selectorRoot: "#p_home";
/* ---------------------------------------------------------
	ホーム
----------------------------------------------------------*/
/* mainSlide
-------------------------------------------------- */
#{$selectorRoot} .mainSlide{
	background-color: #e2e2e2;
	.slideInner{
		max-width: $baseWidth;
		margin: 0 auto;
	}
@include media(tablet) {
}
@include media(phablet) {
}
}
/* -----------------------------------------------
/* sec-category
-------------------------------------------------- */
#{$selectorRoot} .sec-category{
	background-color: #e2e2e2;
	padding: 50px 0;
@include media(tablet) {
}
@include media(phablet) {
}
}
/* -----------------------------------------------
/* sec-temiyage
-------------------------------------------------- */
#{$selectorRoot} .sec-temiyage{
	.temiyageList{
		max-width: $baseWidth;
		margin: 0 auto;
	}
@include media(tablet) {
}
@include media(phablet) {
}
}
/* -----------------------------------------------
/* sec-mine
-------------------------------------------------- */
#{$selectorRoot} .sec-mine{
	.mineList{
		max-width: $baseWidth;
		margin: 0 auto;
	}
@include media(tablet) {
}
@include media(phablet) {
}
}
/* -----------------------------------------------
/* sec-station
-------------------------------------------------- */
#{$selectorRoot} .sec-station{
	background-color: #e2e2e2;
	padding: 50px 0;
	.stationList{
		max-width: $baseWidth;
		margin: 0 auto;
		>section{
			text-align: center;
			.stationTtl{
				display: inline-block;
				vertical-align: middle;
				font-size: 20px;
				font-weight: bold;
			}
			.stationCont{
				display: inline-block;
				ul{
					display: flex;
					li{
						margin: 0 10px;
						a{
							padding: 15px;
							display: block;
							border: 4px solid $baseBorderColor;
							font-weight: bold;
							background-color: #fff;
							// color: #fff;
						}
					}
				}
			}
		}
	}
@include media(tablet) {
}
@include media(phablet) {
}
}