@charset "utf-8";

$selectorRoot: "#p_home";
/* ---------------------------------------------------------
	ホーム
----------------------------------------------------------*/
/* mainSlide
-------------------------------------------------- */
#{$selectorRoot} .mainSlide{
	background-color: $grayBackgroundColor;
	.slideInner{
		max-width: $baseWidth;
		margin: 0 auto 30px;
		padding-bottom: 0;
	}
@include media(tablet) {
}
@include media(phablet) {
}
}
/* -----------------------------------------------
/* sec-category
-------------------------------------------------- */
#{$selectorRoot} .sec-category{
	background-color: $grayBackgroundColor;
	padding: 50px 0;
@include media(tablet) {
}
@include media(phablet) {
}
}
/* -----------------------------------------------
/* sec-temiyage
-------------------------------------------------- */
#{$selectorRoot} .sec-temiyage{
	.temiyageList{
		max-width: $baseWidth;
		margin: 0 auto 30px;
	}
@include media(tablet) {
}
@include media(phablet) {
	.temiyageList{
		margin: 0 auto;
	}
}
}
/* -----------------------------------------------
/* sec-mine
-------------------------------------------------- */
#{$selectorRoot} .sec-mine{
	.mineList{
		max-width: $baseWidth;
		margin: 0 auto 30px;
		>*{
			&:nth-of-type(n+5){
				margin-top: $paramMarginM;
			}
		}
	}
@include media(tablet) {
	.mineList{
		>*{
			&:nth-of-type(4){
				margin-top: $paramMarginM;
			}
		}
	}
}
@include media(phablet) {
	.mineList{
		>*{
			&:nth-of-type(3){
				margin-top: $paramMarginM;
			}
		}
	}
}
}
/* -----------------------------------------------
/* sec-station
-------------------------------------------------- */
#{$selectorRoot} .sec-station{
	background-color: $grayBackgroundColor;
	padding: 50px 0;
@include media(tablet) {
}
@include media(phablet) {
}
}