@charset "utf-8";

$selectorRoot: "#p_item";
/* ---------------------------------------------
	商品詳細ページ
----------------------------------------------------------*/
/* メイン
-------------------------------------------------- */
#{$selectorRoot} .mainItem{
	background-color: $grayBackgroundColor;
	.itemInner{
		padding: 60px 0 20px;
		max-width: $baseWidth;
		margin: 0 auto;
		display: flex;
	}
	.itemAlbum{
		flex-basis: 60%;
		&.is-new{
			position: relative;
			&:before{
				content: 'NEW';
				position: absolute;
				top: -30px;
				left: 0;
				background-color: #f6ff00;
				padding: 3px 10px;
				font-size: 16px;
				height: 30px;
				font-family: $fontFamilyQuantico;
				font-weight: 700;
			}
		}
	}
	.albumList{
		margin-top: 20px;
		display: flex;
		>li{
			flex-basis: calc((100% - 40px) / 5);
			& + li{
				margin-left: 10px;
			}
		}
	}
	.itemHead{
		flex-basis: 40%;
		padding: 20px 0 0 30px;
	}
	.itemBrand{
		color: $grayTextColor;
		font-size: 16px;
	}
	.itemName{
		font-size: 20px;
		font-weight: bold;
	}
	.itemPrice{
		em{
			font-family: $fontFamilySaira;
			font-weight: 500;
			font-size: 34px;
			color: $keyColor;
		}
	}
	.itemStatus{
		position: relative;
		&:before{
			content: '冷蔵';
			position: absolute;
			top: 50%;
			right: 0;
			display: block;
			border: 2px solid map-get($statusColorMap, frozen);
			background-color: #fff;
			color: map-get($statusColorMap, frozen);
			transform: translateY(-50%);
			width: 100px;
			text-align: center;
		}
	}
	.itemParam{
		display: flex;
		.itemLimit,.itemStation{
			flex-basis: 50%;
			text-align: center;
			span{
				display: inline-block;
				&.ttl{width: 40%;}
				&.txt{
					width: 60%;
					border: 2px solid $baseBorderColor;
					background-color: #fff;
					font-family: $fontFamilyQuantico;
					font-weight: 700;
					text-align: center;
					padding: 0 5px;
				}
			}
		}
	}
	.itemCredit{
		.creditTtl{
			font-weight: bold;
		}
		.creditList{
			display: flex;
			>li{
				flex-grow: 1;
				text-align: center;
				padding: 3px;
				font-size: 12px;
				& + li{
					margin-left: 10px;
				}
				&.is-possible{
					border: 2px solid $baseBorderColor;
					color: $baseTextColor;
				}
				&:not(.is-possible){
					border: 2px solid $lightgrayBorderColor;
					color: $lightgrayTextColor;
				}
			}
		}
	}
@include media(tablet) {
}
@include media(phablet) {
}
}

/* ---------------------------------------------
/* 商品のご説明
-------------------------------------------------- */
#{$selectorRoot} .mainDescription{
	.descriptionIner{
		max-width: $baseWidth;
		margin: 0 auto;
	}
	.itemTtl{
		font-size: 18px;
	}
	.descriptionTxt{
		margin-top: 20px;
	}
	.variationList{
		display: flex;
		>li{
			position: relative;
			margin-left: 10px;
			flex-basis: 20%;
			span{
				position: absolute;
				top: 0;
				left: 0;
				display: inline-block;
				border: 2px solid $baseBorderColor;
				background-color: #fff;
				text-align: center;
				padding: 0 5px;
				font-size: 12px;
			}
		}
	}
	.shopList{
		display: flex;
		flex-wrap: wrap;
		>li{
			flex-basis: calc((100% - 20px) / 2);
			&:nth-of-type(even){
				margin-left: 20px;
			}
		}
	}
@include media(tablet) {
}
@include media(phablet) {
}
}
#googleMap{
	width: 100%;
	height: 400px;
}
/* ---------------------------------------------
/* 商品のご説明
-------------------------------------------------- */
#{$selectorRoot} .mainDescription{
	.descriptionIner{
		max-width: $baseWidth;
		margin: 0 auto;
	}
@include media(tablet) {
}
@include media(phablet) {
}
}
/* -----------------------------------------------
/* sec-other
-------------------------------------------------- */
#{$selectorRoot} .sec-other{
	.otherList{
		max-width: $baseWidth;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		text-align: center;
	}
	.otherPic{
		width: 160px;
		height: 160px;
		background-color: #f00;
		border-radius: 100%;
		overflow: hidden;
		position: relative;
		img{
			position: absolute;
			top: 50%;
			left: 50%;
			height: 100%;
			max-width: none;
			width: auto;
			transform: translate(-50%,-50%);
		}
	}
	.otherPrice{
		em{
			font-family: $fontFamilySaira;
			font-weight: 500;
			font-size: 20px;
			color: $keyColor;
		}
	}
@include media(tablet) {
}
@include media(phablet) {
}
}
/* -----------------------------------------------
/* sec-recommend
-------------------------------------------------- */
#{$selectorRoot} .sec-recommend{
	.recommendList{
		max-width: $baseWidth;
		margin: 0 auto;
	}
@include media(tablet) {
}
@include media(phablet) {
}
}