@charset "utf-8";

$selectorRoot: "#p_item";
/* ---------------------------------------------
	商品詳細ページ
----------------------------------------------------------*/
/* メイン
-------------------------------------------------- */
#{$selectorRoot} .mainItem{
	background-color: $grayBackgroundColor;
	.itemInner{
		padding: 60px 0 20px;
		max-width: $baseWidth;
		margin: 0 auto;
		display: flex;
	}
	.itemAlbum{
		max-width: calc(100% - 400px);
		&.is-new{
			position: relative;
			&:before{
				content: 'NEW';
				position: absolute;
				top: -30px;
				left: 0;
				background-color: #f6ff00;
				padding: 3px 10px;
				font-size: 16px;
				height: 30px;
				font-family: $fontFamilyQuantico;
				font-weight: 700;
			}
		}
	}
	.albumList{
		margin-top: $paramMarginM;
	}
	.listItem{
		padding: 0 10px;
		img{
			cursor: pointer;
			transition: all .5s;
			border: 2px dashed rgba(0,0,0,0);
		}
		&.slick-current img{
			border: 2px dashed #000;
		}
		&:hover img{
			opacity: .7;
		}
	}
	.itemHead{
		width: 400px;
		padding: 10px 0 60px 30px;
		position: relative;
	}
	.itemBrand{
		color: $grayTextColor;
		font-size: 16px;
	}
	.itemName{
		font-size: 20px;
		font-weight: bold;
	}
	.itemPrice{
		em{
			font-family: $fontFamilySaira;
			font-weight: 500;
			font-size: 34px;
			color: $keyColor;
		}
	}
	.itemStatus{
		position: relative;
		&:before{
			position: absolute;
			top: 50%;
			right: 0;
			display: block;
			background-color: #fff;
			transform: translateY(-50%);
			width: 100px;
			text-align: center;
		}
		&.is-normal:before{
			content: '常温';
			border: 2px solid map-get($statusColorMap, normal);
			color: map-get($statusColorMap, normal);
		}
		&.is-cool:before{
			content: '冷蔵';
			border: 2px solid map-get($statusColorMap, cool);
			color: map-get($statusColorMap, cool);
		}
		&.is-frozen:before{
			content: '冷凍';
			border: 2px solid map-get($statusColorMap, frozen);
			color: map-get($statusColorMap, frozen);
		}
	}
	.itemParam{
		margin-top: $paramMarginLL;
		display: flex;
		.itemLimit,.itemStation{
			flex-basis: 50%;
			text-align: center;
			span{
				display: inline-block;
				&.ttl{width: 40%;}
				&.txt{
					width: 60%;
					border: 2px solid $baseBorderColor;
					background-color: #fff;
					// font-family: $fontFamilyQuantico;
					// font-weight: 700;
					text-align: center;
					padding: 0 5px;
				}
			}
		}
		.itemLimit span.txt{
			font-family: $fontFamilyQuantico;
			font-weight: 700;
		}
	}
	.itemCredit{
		margin-top: $paramMarginM;
		.creditTtl{
			font-weight: bold;
		}
		.creditList{
			display: flex;
			>li{
				flex-grow: 1;
				text-align: center;
				padding: 3px;
				font-size: 12px;
				& + li{
					margin-left: 10px;
				}
				&.is-possible{
					border: 2px solid $baseBorderColor;
					color: $baseTextColor;
				}
				&:not(.is-possible){
					border: 2px solid $lightgrayBorderColor;
					color: $lightgrayTextColor;
				}
			}
		}
	}
	.itemBtn{
		position: absolute;
		left: 0;
		bottom: 0;
		width: calc(100% - 30px);
		margin-left: 30px;
	}
@include media(tablet) {
	.itemInner{
		display: block;
	}
	.itemAlbum{
		max-width: 100%;
	}
	.mainItem img{
		margin: 0 auto;
	}
	.albumList{
		justify-content: center;
	}
	.itemHead{
		padding: 20px 20px 60px 20px;
	}
	.itemParam{
		margin-top: $paramMarginM;
	}
	.itemBtn{
		margin-left: 0;
		width: 100%;
	}
}
@include media(sp) {
	.itemHead{
		padding: 10px 10px 60px 10px;
	}
	.itemCredit{
		.creditList{
			>li{
				font-size: 10px;
			}
		}
	}
}
}

/* ---------------------------------------------
/* 商品のご説明
-------------------------------------------------- */
#{$selectorRoot} .mainDetails{
	.detailsInner{
		max-width: $baseWidth;
		margin: 0 auto;
		position: relative;
		padding-top: 60px;
	}
	.detailsBtn{
		position: absolute;
		top: 20px;
		right: 0;
		width: 400px;
		padding-left: 30px;
	}
	.itemTtl{
		font-size: 18px;
		font-weight: bold;
	}
	.descriptionTxt{
		margin-top: $paramMarginM;
	}
	.itemVariation{
		margin-top: $sectionMargin;
	}
	.variationList{
		margin: $paramMarginM 0 $paramMarginL;
		display: flex;
		>li{
			position: relative;
			& + li{margin-left: 10px;}
			flex-basis: 20%;
			span{
				position: absolute;
				top: 0;
				left: 0;
				display: inline-block;
				border: 2px solid $baseBorderColor;
				background-color: #000;
				text-align: center;
				padding: 0 10px;
				font-size: 12px;
				color: #fff;
				border-radius: 20px
			}
		}
	}
	.itemShop{
		margin-top: $sectionMargin;
	}
	.shopList{
		margin-top: $paramMarginM;
		display: flex;
		flex-wrap: wrap;
		>li{
			flex-basis: calc((100% - 20px) / 2);
			&:nth-of-type(even){
				margin-left: 20px;
			}
			&:nth-of-type(n+3){
				margin-top: $paramMarginM;
			}
		}
	}
	.shopName{
		font-weight: bold;
	}
	.shopMapActive{
		margin-left: 20px;
		display: inline-block;
		vertical-align: middle;
		background-color: #000;
		color: #fff;
		padding: 5px 12px;
		line-height: 1.0;
		font-size: 10px;
		font-family: $fontFamilyQuantico;
		border-radius: 20px;
		cursor: pointer;
		transition: all .5s;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			top: -10px;
			left: -10px;
			width: calc(100% + 20px);
			height: calc(100% + 20px);
			border: 2px solid #000;
			border-radius: 30px;
			transition: all .5s;
			opacity: 0;
		}
		&:hover{
			color: #000;
			background-color: $baseBackgroundColor;
			&:before{
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 1;
			}
		}
	}
	.shopBtn{
		margin-top: $paramMarginL;
	}
@include media(tablet) {
	.variationList{
		justify-content: center;
		>li{flex-basis: auto;}
	}
	.detailsInner{
		padding: 80px 20px 0 20px;
	}
	.detailsBtn{
		width: 100%;
		padding-left: 0;
	}
}
@include media(phablet) {
	.shopList{
		display: block;
		>li{
			& + li{
				margin-top: 20px;
			}
			&:nth-of-type(even){
				margin-left: 0;
			}
		}
	}
	.itemVariation{
		margin-top: $sectionMargin / 2;
	}
	.variationList{
		flex-wrap: wrap;
		>li{
			flex-basis: calc((100% - 10px) / 2);
			&:nth-of-type(even){
				margin-left: 10px;
			}
			&:nth-of-type(odd){
				margin-left: 0;
			}
			&:nth-of-type(n+3){
				margin-top: 20px;
			}
		}
	}
	.itemShop{
		margin-top: $sectionMargin / 2;
	}
}
}
#googleMap{
	margin-top: $paramMarginM;
	width: 100%;
	height: 400px;
}
/* -----------------------------------------------
/* sec-other
-------------------------------------------------- */
#{$selectorRoot} .sec-other{
	.otherList{
		max-width: $baseWidth;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		text-align: center;
		flex-wrap: wrap;
		>section{
			flex-basis: 160px;
			padding: 10px;
		}
	}
	.otherPic{
		display: inline-block;
		margin: 0 auto;
		width: 160px;
		height: 160px;
		// background-color: #f00;
		border-radius: 100%;
		overflow: hidden;
		position: relative;
		z-index: 0;
		&:before{
			content: '';
			position: absolute;
			top: -4px;
			left: -4px;
			width: calc(100% + 8px);
			height: calc(100% + 8px);
			border-radius: 100%;
			border: 4px solid #fff;
			z-index: 1;
			transition: all .5s;
		}
		img{
			position: absolute;
			top: 50%;
			left: 50%;
			height: 100%;
			max-width: none;
			width: auto;
			transform: translate(-50%,-50%);
		}
	}
	a:hover .otherPic:before{
		top: 4px;
		left: 4px;
		width: calc(100% - 8px);
		height: calc(100% - 8px);
	}
	.otherPrice{
		em{
			font-family: $fontFamilySaira;
			font-weight: 500;
			font-size: 20px;
			color: $keyColor;
		}
	}
@include media(tablet) {
	.otherList{
		padding: 0 20px;
		>section{
			flex-basis: calc(100% / 3);
		}
	}
	.otherPic{
		width: 140px;
		height: 140px;
	}
}
@include media(phablet) {
	.otherList{
		>section{
			flex-basis: calc(100% / 2);
		}
	}
	.otherPic{
		width: 120px;
		height: 120px;
	}
}
@include media(sp) {
	.otherPic{
		width: 120px;
		height: 120px;
	}
}
}
/* -----------------------------------------------
/* sec-recommend
-------------------------------------------------- */
#{$selectorRoot} .sec-recommend{
	background-color: $grayBackgroundColor;
	padding: 50px 0;
	.recommendList{
		max-width: $baseWidth;
		margin: 0 auto 30px;
		>*{
			a:before{
				background-color: #fff;
			}
		}
	}
@include media(tablet) {
}
@include media(phablet) {
	.recommendList{
		// margin: 0 auto;
	}
}
}