@charset "utf-8";

$selectorSitemapRoot: "#p_sitemap";
$selectorErrorRoot: "#p_error";
/* -----------------------------------------------
/* サイトマップ・404・503ページ
-------------------------------------------------- */
#{$selectorSitemapRoot},#{$selectorErrorRoot}{
	.sec-filed{
		margin: 0 0 $sectionMargin;
		.heading{
			background-color: $grayBackgroundColor;
			padding: 50px 0;
			text-align: center;
			.headingTtl{
				font-size: 20px;
				font-weight: bold;
			}
			.headingTag{
				color: #999;
				font-weight: bold;
				display: inline-block;
				position: relative;
				&:before,&:after{
					content: '';
					position: absolute;
					top: 50%;
					width: 30px;
					height: 2px;
					border-top: 1px solid #999;
					transform: translateY(-50%);
				}
				&:before{left: -40px;}
				&:after{right: -40px;}
			}
		}
		>section{
			max-width: $baseWidth;
			margin: $sectionMargin auto 0;
			.m-subHeading{
				text-align: center;
				em{color: $keyColor;}
				padding-top: 100px;
				background-image: url(/img/cmn/icon.svg);
				background-repeat: no-repeat;
				background-position: center 0;
				background-size: 150px 80px;
			}
			.filedTxt{
				max-width: 640px;
				margin: 20px auto 0;
				line-height: 2;
			}
			.filedTtl{
				margin-top: 10px;
				font-size: 16px;
				position: relative;
				padding-left: 50px;
				color: #999;
				&:before{
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					width: 30px;
					height: 2px;
					border-top: 1px solid #999;
					transform: translateY(-50%);
				}
			}
			.filedList{
				display: flex;
				flex-wrap: wrap;
				>li{
					margin: 10px 0 0 20px;
					flex-basis: calc(25% - 20px);
					a{
						padding: 0 0 5px 15px;
						position: relative;
						@include motionLinkTxt(#000);
						&:after{
							content: '';
							position: absolute;
							top: 50%;
							left: 0;
							width: 10px;
							height: 2px;
							border-top: 1px solid #999;
							transform: translateY(-50%);
						}
					}
				}
			}
		}
	@include media(tablet) {
		>section{
			padding: 0 20px;
			.filedList{
				>li{
					flex-basis: calc(50% - 20px);
				}
			}
		}
	}
	@include media(phablet) {
		margin: 0 0 $sectionMargin/2;
		>section{
			margin: $sectionMargin/2 auto 0;
			.filedTtl{
				padding-left: 40px;
				&:before{
					width: 20px;
				}
			}
			.filedList{
				>li{
					margin: 10px 0 0 10px;
					flex-basis: calc(50% - 10px);
				}
			}
		}
	}
	}
}