@charset "utf-8"

@import "../_base/variable"
@import "../_tool/mixin/**"

/* ---------------------------------------------------------
 *	記事詳細
 *----------------------------------------------------------
 *  header
 *----------------------------------------------------------
.entry_header
  .mainvisual
    position: relative
  .mainvisual_ttl
    position: absolute
    bottom: 20px
    left: 80px
    span
      font-family: $fontFamilyMetroNotoSans
      font-size: 3.6rem
      font-weight: 700
      background-color: rgba(#fff , 0.7)
      line-height: 1.4
      color: #000
  .mainvisual_date
    position: absolute
    top: -50px
    right: 0
    font-family: $fontFamilyMetropolis
    font-size: 3.6rem
    font-weight: 700
    color: #e7e7e7
    letter-spacing: 2px
  .mainvisual_pic
    text-align: center
    background-color: #e2e2e2
    position: relative
    &::before
      position: absolute
      top: -90px
      left: 0
      content: "COLUMN"
      color: #fff
      font-size: 70px
      font-family: $fontFamilyMetropolis
      font-weight: 700
      transform-origin: bottom left
      transform: rotate(90deg)
      opacity: 0.7
  +media(minipc)
    .mainvisual_ttl
      bottom: 10px
      left: 20px
      span
        font-size: 2.8rem
    .mainvisual_date
      top: 10px
      right: 10px
      font-size: 2.8rem
    .mainvisual_pic
      &::before
        top: -70px
        font-size: 50px
  +media(tablet)
    .mainvisual_ttl,.mainvisual_date
      position: static
    .mainvisual_ttl span,.mainvisual_date
      font-size: 2.2rem
    .mainvisual_date
      margin-top: 5px
    .mainvisual_pic
      &::before
        top: -50px
        font-size: 40px
  +media(phablet)
    .mainvisual_ttl span,.mainvisual_date
      font-size: 1.8rem
    .mainvisual_pic
      &::before
        top: -20px
        font-size: 20px

/* ---------------------------------------------------------
 *  目次
 *----------------------------------------------------------
.entry_content
  .mokuji
    max-width: 780px
    margin: 0 auto
    border: 1px solid $baseBorderColor
    padding: $sectionMargin/2
  .mokuji_list
    >li
      margin-top: 10px
      counter-increment: cnt
      position: relative
      padding-left: 30px
      font-size: 1.8rem
      font-weight: 700
      &::before
        position: absolute
        top: 3px
        left: 0
        content: counter(cnt) '. '
        font-family: $fontFamilyMetropolis
      a
        text-decoration: underline
        &:hover
          text-decoration: none
  +media(phablet)
    .mokuji
      padding: $sectionMargin/3
    .mokuji_list
      >li
        font-size: 1.6rem
        &::before

/* ---------------------------------------------------------
 *  記事ブロック
 *----------------------------------------------------------
.entry_content
  .entry_section
    margin-top: $sectionMargin*2
  .entry_txt
    margin-top: $sectionMargin/2
    line-height: 2.0
  .entry_pic
    margin-top: $sectionMargin/2
    img,iframe
      border: 5px solid #e2e2e2
  +media(phablet)
    .entry_section
      margin-top: $sectionMargin
    .entry_txt
      margin-top: $sectionMargin/3
      line-height: 1.8
    .entry_pic
      margin-top: $sectionMargin/3

/* ---------------------------------------------------------
 *  ソーシャル
 *----------------------------------------------------------
.social_list
  margin-top: $sectionMargin
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  padding-bottom: $sectionMargin
  border-bottom: 1px solid $baseBorderColor
  >li
    flex-basis: 22%
    a
      display: block
      background-color: #000
      text-align: center
      color: #fff
      span
        display: inline-block
        padding: 10px 0 10px 2.8rem
    &.is-facebook a span
      +iconFontAbsolute(before, facebook, 50%, null, 50%, 10px, 2.4rem, #fff)
    &.is-twitter a span
      +iconFontAbsolute(before, twitter, 50%, null, 50%, 0, 2.4rem, #fff)
    &.is-line a span
      +iconFontAbsolute(before, line, 50%, null, 50%, 0, 2.4rem, #fff)
    &.is-hatenabookmark a span
      +iconFontAbsolute(before, hatenabookmark, 50%, null, 50%, 5px, 1.6rem, #fff)
  +media(minipc)
    >li a span
      font-size: 1.3rem
  +media(tablet)
    >li
      flex-basis: 48%
      &:nth-child(n+3)
        margin-top: 10px
/* ---------------------------------------------------------
 *  関連記事
 *----------------------------------------------------------
.entry_relation
  margin-top: $sectionMargin*2
  .relation_list
    margin-top: $sectionMargin/2

/* ---------------------------------------------------------
 *  個別記事 SASS
 *----------------------------------------------------------
@import "./entry/butterbutler"