@charset "utf-8"

/* ---------------------------------------------------------
 *	大枠
 *----------------------------------------------------------
#contents
  // display: flex
  min-height: 100%
  margin-left: 260px
  +media(minipc)
    margin-left: 200px
  +media(tablet)


  +media(phablet)


  +media(sp)

/* ---------------------------------------------------------
 *	メイン枠
 *----------------------------------------------------------
#main
  flex-basis: calc(100% - 260px)
  padding: $sectionMargin
  .main_inner
    max-width: 1020px
    margin: 0 auto
  +media(minipc)
    padding: $sectionMargin/2