@charset "utf-8";

/* ---------------------------------------------------------
	大枠
----------------------------------------------------------*/
#contents {
	position: relative;
	margin-top: 147px;
	overflow: hidden;
	>section{
		margin-top: $sectionMargin;
	}
	.dir{
		// background-color: #f5f5f5;
		// border-bottom: 2px solid #fff;
		padding: 10px 0;
		ul{
			max-width: $baseWidth;
			margin: 0 auto;
			display: flex;
			>li{
				color: #999;
				line-height: 1.2;
				&:first-of-type{
					padding: 0 10px 0 20px;
					a{
						font-size: 0;
						height: 25px;
						width: 25px;
						display: block;
						@include iconFontAbsolute(before, home, 50%, null, 50%, 0, 25px, $baseTextColor);
					}
				}
				& + li{
					padding: 3px 10px 0 20px;
					@include icoArrow(before, 8px, null, null, 0, 8px, 1px, $baseTextColor, 45deg);
					a{
						@include motionLinkTxt();
						padding: 0 0 5px;
					}
				}
			}
		}
	}
	@include media(tablet) {
		margin-top: 98px;
	}
	@include media(phablet) {
		margin-top: 78px;
		>section{
			margin-top: $sectionMargin / 2;
		}
		.dir ul >li{
			font-size: 12px;
			& + li{
				padding: 5px 10px 0 20px;
			}
			a{font-size: 12px;}
		}
	}
}
