@charset "utf-8"

/* ---------------------------------------------------------
 *	ヘッダー
 *----------------------------------------------------------
#header
  position: absolute
  top: 0
  left: 0
  // max-width: $navWidth
  width: 0
  min-height: 100%
  transition: all .5s
  z-index: 0
  .header_inner
    position: fixed
    max-width: $navWidth
    width: 100%
    top: 0
    left: 0
    height: 100%
    padding-top: 160px
    background-color: #fff
    border-right: 1px solid $baseBorderColor
    z-index: -1
    transition: all .5s
  .header_logo
    position: fixed
    top: 0
    left: 0
    height: 160px
    max-width: $navWidth
    width: 100%
    padding: 0 50px
    display: flex
    align-items: center
    vertical-align: middle
    background-color: $baseBackgroundColor
    border-right: 1px solid $baseBorderColor
    border-bottom: 1px solid $baseBorderColor
    z-index: index($zIndex, headerLogo)
    transition: all .5s
    font-family: $fontFamilyMetropolis
    font-weight: 700
    font-size: 3.0rem
    line-height: 1.2
  .header_nav
    padding: $sectionMargin/2
  .header_item
    padding: $sectionMargin/2
    div.c-item_list >*
      margin-top: 20px
      &:nth-of-type(n+4),.c-tag_list
        display: none
  .header_tag
    border-top: 1px solid $baseBorderColor
    padding: $sectionMargin/2
    >ul
      & + .header_advertise
        margin-top: $sectionMargin/2
  .header_subNav
    border-top: 1px solid $baseBorderColor
    >ul
      display: flex
      flex-wrap: wrap
      >li
        flex-basis: 50%
        display: flex
        border-bottom: 1px solid $baseBorderColor
        &:nth-of-type(even)
          border-left: 1px solid $baseBorderColor
        >a
          padding: 10px
          font-size: 1.2rem
          display: flex
      & + .header_advertise
        margin-top: $sectionMargin/2
  +media(minipc)
    max-width: 200px
    .header_logo
      max-width: 200px
      padding: 0 20px
    .header_inner
      max-width: 200px
    .header_nav,.header_item,.header_tag
      padding: $sectionMargin/3
    .header_tag
      >ul
        & + .header_advertise
          margin-top: $sectionMargin/3
    .header_item
      div.c-item_list >*
        margin-top: 10px
    .header_subNav >ul
      >li
        flex-basis: 100%
        &:nth-of-type(even)
          border-right: none
      & + .header_advertise
        margin-top: $sectionMargin/3
  +media(tablet)
    max-width: 260px
    z-index: 1
    .header_inner
      padding-top: 60px
      max-width: 260px
      transform: translateX(-100%)
      &.is-show
        transform: translateX(0)
    .header_logo
      max-width: 100%
      height: $spNavHeight
      padding: 0 $sectionMargin/2
      background-color: rgba(#fff, .7)
      border-right: none
      border-bottom: 1px solid rgba($baseBorderColor, .3)
  +media(phablet)

/* ---------------------------------------------------------
 *	ヘッダー（記事詳細） ※右メニュー
 *----------------------------------------------------------
#p-entry #header
  left: auto
  right: 0
  .header_inner,.header_logo
    right: 0
    left: auto
    border-right: none
    border-left: 1px solid $baseBorderColor
  +media(tablet)
    left: 0
    right: auto
    .header_inner,.header_logo
      left: 0
      right: auto
    .header_inner
      border-left: none
      border-right: 1px solid $baseBorderColor
    .header_logo
      border-left: none
      border-right: none

/* ---------------------------------------------------------
 *	ヘッダー記事の順番を変更
 *----------------------------------------------------------
.g-fashion #header .header_flexibleArea
  display: flex
  flex-wrap: wrap
  .header_item
    flex-basis: 100%
    &:nth-of-type(1)
      order: 2
    &:nth-of-type(2)
      order: 1

/* ---------------------------------------------------------
 *	ヘッダー：スマホメニューボタン
 *----------------------------------------------------------*/
+media(tablet)
	#btnMenu
		position: absolute
		top: 50%
		right: 0
		transform: translateY(-50%)
		// background-color: #377d39
		p
			+icoMenu(52px, 52px, null, null, 50%, 50%, 28px ,2px ,2px, #000)