@charset "utf-8";

/* ---------------------------------------------------------
	ヘッダー
----------------------------------------------------------*/
#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, .9);
	z-index: index($zIndex, header);
	&.is-short{
		box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
		#headerSub{
			margin-top: -32px;
		}
		#headerNav{
			padding: 25px 0 20px;
			svg{
				width: 200px;
			}
		}
	}
@include media(tablet) {
	// position: relative;
	#btnMenu03 {
		position: absolute;
		top: 50%;
		right: 30px;
		transform: translateY(-50%);
		p {
			@include icoMenu(30px, 30px, null, null, 50%, 50%, 30px, 3px, 30px, #000, 10px);
		}
	}
	&.is-short{
		#headerNav{
			padding: 20px 0 10px;
		}
	}
}
@include media(phablet) {
	#btnMenu03 {
		right: 20px;
	}
	&.is-short{
		#headerNav{
			padding: 20px 0 10px;
			.navLogo{
				svg{width: 180px;}
			}
		}
	}
}
}
/* ---------------------------------------------------------
	ヘッダー サブメニュー
----------------------------------------------------------*/
#headerSub {
	background-color: $baseBackgroundColorGray;
	transition: all .5s;
	>ul{
		max-width: $baseWidth;
		margin: 0 auto;
		display: flex;
		justify-content: flex-end;
		text-align: center;
		>li{
			& + li{
				margin-left: 20px;
			}
			a{
				@include motionLinkTxt();
			}
		}
	}
@include media(tablet) {
	display: none;
}
}
/* ---------------------------------------------------------
	ヘッダー メインメニュー
----------------------------------------------------------*/
#headerNav {
	padding: 30px 0;
	display: flex;
	align-items: flex-end;
	text-align: center;
	transition: all .5s;
	position: relative;
	.navLogo{
		flex-basis: 240px;
		svg{
			width: 220px;
			transition: all .5s;
		}
		span{
			display: block;
			margin-top: 5px;
			font-size: 12px;
		}
	}
	.navItem{
		flex-basis: calc((100% - 240px) / 2);
		display: flex;
		justify-content: center;
		>p{
			margin: 0 20px;
			>a,>span{
				display: block;
				cursor: pointer;
				@include icoArrow(before, null, 50%, 0, 50%, 14px, 2px, $keyColor, 135deg);
				color: #666666;
				&:before{
					opacity : 0;
					transition: all .5s
				}
				&:after{
					content: '';
					opacity: 0;
					transition: all .5s;
					position: absolute;
					top: 0;
					left: 50%;
					width: 19px;
					height: 9px;
					transform :translateX(-50%);
					// border-radius: 30px;
					// background-color: rgba(0,0,0,.1);
					background-image: url(#{$path}/icon.svg);
					background-repeat: no-repeat;
					background-size: 100%;
					z-index: -1;

				}
				&:hover{
					&:before{
						bottom: -15px;
						opacity: 1;
					}
					&:after{
						top: -12px;
						opacity: 1;
						width: 30px;
						height: 13px;
						// width: 50px;
						// height: 50px;
					}
				}
				>span{
					font-family: $fontFamilyQuantico;
					font-weight: 700;
					font-size: 16px;
					color: #000;
					em{color: $keyColor;}
				}
			}
		}
	}
@include media(minipc) {
	.navItem{
		>p{
			margin: 0 10px;
		}
	}
}
@include media(tablet) {
	display: block;
	padding: 30px 0 10px;
	border-top: 3px solid #000;
	.navItem{
		display: none;
	}
}
@include media(phablet) {
	padding: 20px 0 10px;
	.navLogo{
		svg{
			width: 180px;
		}
		span{
			display: block;
			margin-top: 3px;
			font-size: 10px;
		}
	}
}
}
/* ---------------------------------------------------------
	ヘッダー カテゴリメニュー
----------------------------------------------------------*/
#headerCat{
	position: absolute;
	padding: 20px 0;
	background-color: rgba(226, 226, 226, .9);
	// background-color: #333;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
	width: 100%;
	.c-category{
		flex-wrap: nowrap;
		section{
			flex-basis: 90px;
		}
		.m-catPic{
			position: relative;
			z-index: 0;
			&:before{
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 80px;
				height: 80px;
				border-radius: 80px;
				background-color: #fff;
				z-index: -1;
				box-shadow: 2px 2px 3px rgba(0,0,0,.2);
			}
		}
		.m-catName{
			// color: #fff;
		}
	}
	.headerClose{
		content: '';
		position: absolute !important;
		top: 10px;
		left: 50%;
		width: 40px;
		height: 40px;
		cursor: pointer;
		transform :translateX(-50%);
		@include icoSymbol(cross, null, 50%, 50%, null, 20px, 3px, #000);
	}
@include media(tablet){
	display: none;
}
}
/* ---------------------------------------------------------
	ヘッダー ドロワーメニュータイトル
----------------------------------------------------------*/
#drawerTtl{
@include media(tablet){
	text-align: center;
	font-family: $fontFamilyQuantico;
	font-weight: 700;
	font-size: 20px;
	padding: 10px 20px;
	border-bottom: 2px solid $baseBackgroundColorGray;
}
}
/* ---------------------------------------------------------
	ヘッダー ドロワーメニュー
----------------------------------------------------------*/
#drawerNav{
@include media(tablet){
	.navItem{
		display: flex;
		text-align: center;
		>p{
			flex-basis: 50%;
			border-bottom: 2px solid $baseBackgroundColorGray;
			&:nth-of-type(odd){
				border-right: 2px solid $baseBackgroundColorGray;
			}
			>a,>span{
				display: block;
				padding: 10px;
				>span{
					font-family: $fontFamilyQuantico;
					font-weight: 700;
					font-size: 16px;
					color: #000;
					em{color: $keyColor;}
				}
			}
			>span{
				background-color: $baseBackgroundColorGray;
			}
		}
	}
}
@include media(phablet){
	.navItem{
		>p{
			>a,>span{
				font-size: 12px;
				>span{
					font-size: 14px;
				}
			}
		}
	}
}
@include media(sp){
	.navItem{
		>p{
			>a,>span{
				font-size: 10px;
				>span{
					font-size: 12px;
				}
			}
		}
	}
}
}
/* ---------------------------------------------------------
	ヘッダー ドロワーメニュー
----------------------------------------------------------*/
#drawerCat{
@include media(tablet){
	background-color: $baseBackgroundColorGray;;
	.c-category{
		padding: 10px;
		section{
			flex-basis: calc((100% - 40px) / 3);
			& + section{
				margin-left: 10px;
			}
			&:nth-of-type(3n-2){margin-left: 0;}
			.m-catPic{padding: 0 10px;}
		}
	}
}
@include media(phablet){
	.c-category{
		.m-catName{
			font-size: 12px;
		}
	}
}
}
/* ---------------------------------------------------------
	ヘッダー ドロワーサブメニュー
----------------------------------------------------------*/
#drawerSub{
@include media(tablet){
	>ul >li{
		a{
			display: block;
			padding: 5px 10px;
			border-bottom: 2px solid $baseBackgroundColorGray;
		}
	}
}
@include media(phablet){
}
}