@charset "utf-8";

/* ---------------------------------------------------------
	ヘッダー
----------------------------------------------------------*/
#header {
}
#headerInner {
	background-color: #e2e2e2;
	>ul{
		max-width: $baseWidth;
		margin: 0 auto;
		display: flex;
		justify-content: flex-end;
		>li{
			& + li{
				margin-left: 20px;
			}
			a{
				display: inline-block;
				padding: 5px;
			}
		}
	}
	@include media(minipc) {
	}
	@include media(phablet) {
	}
}
.header_logo {
	@include media(tablet) {
		width: 30%;
	}
}