@charset "utf-8";

/* ---------------------------------------------------------
	インデント
----------------------------------------------------------*/
.u-indent {
	margin-left: 1em;
	text-indent: -1em;
	&.is-2 {
		margin-left: 2em;
		text-indent: -2em;
	}
	&.is-2_5 {
		margin-left: 2.5em;
		text-indent: -2.5em;
	}
	&.is-3 {
		margin-left: 3em;
		text-indent: -3em;
	}
}
ol.u-indent,
ul.u-indent {
	margin-left: 0 !important;
	text-indent: 0 !important;
	li {
		margin-left: 1em;
		text-indent: -1em;
	}
	&.is-2 {
		li {
			margin-left: 2em;
			text-indent: -2em;
		}
	}
	&.is-2_5 {
		li {
			margin-left: 2.5em;
			text-indent: -2.5em;
		}
	}
	&.is-3 {
		li {
			margin-left: 3em;
			text-indent: -3em;
		}
	}
}