@charset "utf-8";

/* ---------------------------------------------------------
	リスト
----------------------------------------------------------*/
ul.u-list {
	li {
		margin-left: 16px;
		list-style-type: disc;
	}
}
ol.u-list {
	li {
		margin-left: 16px;
		list-style-type: decimal;
	}
}