@charset "utf-8";

/* ---------------------------------------------------------
	縦位置
----------------------------------------------------------*/
.u-vat {vertical-align: top !important;}
.u-vam {vertical-align: middle !important;}
.u-vab {vertical-align: bottom !important;}