extends /_pug/_inc/_layout

//-
	---------------------------------------------------------
	ページ固有の変数を定義
	---------------------------------------------------------
append setVar
	- layout = 'map'
	- pageUrl = '/privacypolicy/index.html'
	- dirArray = createDirArray(pageUrl)
	- bodyAttributes.id = 'p-normal'

//-
	---------------------------------------------------------
	ページ固有のCSSを読み込み
	---------------------------------------------------------
append css
	link(rel="stylesheet" href="/css/p_normal.css")

//-
	---------------------------------------------------------
	コンテンツ
	---------------------------------------------------------
block main
			
	div.c-pageTitle
		div.c-pageTitle_inner
			h1.c-pageTitle_txt test

	div.main_inner
		div#googlemap(class="gmap" style="width:100%; height:300px")
		
			
append scriptBefore
	script(src="//maps.googleapis.com/maps/api/js?key=AIzaSyB1AZym205O26sSso4yjJE4ZGjFXOYwAUY")
	
append script
	script.
		$(function(){
			var markerData = JSON.parse('[{"mapId":"googlemap","name":"湘南森林霊園","link":"/cemetery/reien/shonan-shinrin.html","lat":35.8330812,"lng":136.8069419},{"mapId":"googlemap","name":"相模メモリアルパーク","link":"/cemetery/reien/smp.html","lat":35.53542,"lng":139.314586},{"mapId":"googlemap","name":"熱海日金山霊園","link":"/cemetery/reien/atami-higanesan.html","lat":35.124008,"lng":139.045058},{"mapId":"googlemap","name":"所沢聖地霊園","link":"/cemetery/reien/t-sr.html","lat":35.806979,"lng":139.490159},{"mapId":"googlemap","name":"飯能霊園","link":"/cemetery/reien/hannou.html","lat":35.845773,"lng":139.273427}]');
			var centerPinLan = 139.5804093;
			var centerPinLat = 35.52;
			var zoom = 9;
			var markerEventFlg = true;

			// googleMapCustomize関数
			exportFunc.gm(markerData,centerPinLat,centerPinLan,zoom,markerEventFlg);
		});