@charset "utf-8";

// font-family
$fontFamilySansSerif: "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
$fontFamilySerif    : "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "MS PMincho", serif;

$fontFamilyQuantico    : 'Quantico', sans-serif;


// フォントサイズ
$fontSize2S: 			10px;
$fontSizeS: 			12px;
$fontSizeM: 			14px;
$fontSizeL: 			16px;
$fontSize2L: 			18px;
$fontSize3L: 			20px;
$fontSize4L: 			22px;
$fontSize5L: 			24px;
$fontSize6L: 			26px;
$fontSize7L:	 		28px;
$fontSize8L:	 		30px;

// 行間
$lineHeightSSS: 		1.0;
$lineHeightSS: 			1.2;
$lineHeightS: 			1.4;
$lineHeightM: 			1.6;
$lineHeightL: 			1.8;
$lineHeightLL: 			2.0;

// キーカラー
$keyColor01: 			#41454e;

// 標準テキストカラー
$baseTextColor: 		#000;

// 標準リンクカラー
$linkColor: 			$baseTextColor;
$linkColor_visited: 	$baseTextColor;
$linkColor_hover: 		$baseTextColor;
$linkColor_active: 		$baseTextColor;

//テキスト選択時のハイライトカラー
$selectionTextColor: 	#fff;
$selectionBgColor: 		#ff6f6f;

// ページ背景色
$baseBackgroundColor: 	#ecf0f1;

// カテゴリカラー
$catColorMap: (
	mixin: 				#26c6da,
	module: 			#ab47bc,
	embed : 			#26a69a,
	page  : 			#ad1457,
	effect: 			#3949ab,
	jsTips: 			#fb8c00
);

// SNSカラー
$snsColorMap: (
	facebook  : 		#3a589a,
	twitter   : 		#00aaf0,
	googleplus: 		#dd4b39,
	line      :			#00c300
);

//グリッド設定
$columnWidth: 			70px;
$gutterWidth: 			30px;
$columns: 				12;
$totalWidth: 			100%;

// ページの横幅
$baseWidth: 			1200px;
$mainWidth: 			800px;
$subWidth: 				340px;

// ページの横マージン（タブレット、スマホ）
$gutterWidthL: 			30px;
$gutterWidthS: 			15px;

// ブレイクポイント
$breakpointMap: (
	'minipc' : 			$baseWidth,
	'tablet' : 			768px,
	'phablet': 			480px,
	'sp'     : 			320px
);

// z-index
$zIndex:
	btnPageTop,
	slideMenu,
	cloneH1,
	header,
	floatingMenu,
	btnfloatingMenuClose,
	drawerMenuOverlay,
	btnDrawerMenuClose,
	drawerMenu;

// アイコンフォント
$fontMap: (
	home               : '\e800',
	link-ext           : '\e801',
	download           : '\e802',
	reply              : '\e803',
	forward            : '\e804',
	doc-text           : '\e805',
	menu               : '\e806',
	clock              : '\e807',
	down-dir           : '\e808',
	up-dir             : '\e809',
	left-dir           : '\e80a',
	right-dir          : '\e80b',
	down-open          : '\e80c',
	left-open          : '\e80d',
	right-open         : '\e80e',
	up-open            : '\e80f',
	angle-circled-left : '\e810',
	angle-circled-right: '\e811',
	angle-circled-up   : '\e812',
	angle-circled-down : '\e813',
	down-big           : '\e814',
	left-big           : '\e815',
	right-big          : '\e816',
	up-big             : '\e817',
	left-circled       : '\e818',
	right-circled      : '\e819',
	up-circled         : '\e81a',
	down-circled       : '\e81b',
	to-end             : '\e81c',
	to-start           : '\e81d',
	list-bullet        : '\e81e',
	instagram          : '\e81f',
	file-pdf           : '\e820',
	plus-circle        : '\e821',
	minus-circle       : '\e822',
	line               : '\e823',
	facebook           : '\e824',
	twitter            : '\e825',
	googleplus         : '\e826',
	search             : '\e827',
	check-empty        : '\e828',
	check              : '\e829',
	circle-empty       : '\e82a',
	dot-circled        : '\e82b'
);