@charset "utf-8";
/*
#overview
チェック要素ボタン
*/
/* ---------------------------------------------------------
	チェック要素ボタン
----------------------------------------------------------*/
/*
#styleguide
```
<p class="m-btnInput"><input type="checkbox" id="check" name="check" value=""><label for="check"><span>チェックボックス</span></label></p>
```
*/
.m-btnInput {
	display: inline-block;
	position: relative;
	input[type="radio"],
	input[type="checkbox"] {
		position: absolute;
		top: 50%;
		left: 10px;
		transform: translateY(-50%);
		z-index: 1;
		+ label {
			display: table;
			width: 100%;
			height: 100%;
			padding: 10px 10px 10px 30px;
			border: 1px solid #c6c6c6;
			border-radius: 4px;
			text-align: center;
			@include transition;
			&:hover {
				background-color: #f3f3f3;
			}
			span {
				display: table-cell;
				vertical-align: middle;
			}
		}
		&:checked {
			+ label {
				background-color: #f3f3f3;
			}
		}
	}
}