@charset "utf-8";

/* ---------------------------------------------------------
	タイトル
----------------------------------------------------------*/
.m-heading {
	text-align: center;
	margin-bottom: $paramMarginM;
	.m-headingTtl{
		font-size: 20px;
		font-weight: bold;
		span{
			font-family: $fontFamilyQuantico;
			font-weight: normal;
			margin-right: 20px;
			em{
				color: $keyColor;
			}
		}
	}
	.m-headingLead{
		margin-top: $paramMarginM;
		font-size: 16px;
		font-weight: bold;
		color: #999;
		display: inline-block;
		position: relative;
		&:before,&:after{
			content: '';
			position: absolute;
			top: 50%;
			width: 30px;
			height: 2px;
			border-top: 1px solid #999;
			transform: translateY(-50%);
		}
		&:before{left: -40px;}
		&:after{right: -40px;}
	}
	.m-headingTxt{
		margin-top: $paramMarginS;
		color: #999;
	}
	@include media(tablet) {
		padding: 0 20px;
	}
	@include media(phablet) {
		.m-headingTtl{
			span{display: block;}
		}
	}
}
/* ---------------------------------------------------------
	サブタイトル
----------------------------------------------------------*/
.m-subHeading {
	font-size: 18px;
	font-weight: bold;
}