@charset "utf-8";

/* ---------------------------------------------------------
	list
----------------------------------------------------------*/
.m-list {
	display: flex;
	justify-content: center;
	>*{
		a{
			display: block;
			padding: 10px;
			position: relative;
			z-index: 0;
			&:before{
				content: '';
				position: absolute;
				top: -10px;
				left: -10px;
				width: calc(100% + 20px);
				height: calc(100% + 20px);
				background-color: $grayBackgroundColor;
				transition: all .5s;
				z-index: -1;
				opacity: 0;
			}
			&:hover{
				&:before{
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					opacity: 1;
				}
			}
		}
	}
	&.is-limit{
		flex-wrap: wrap;
		>*{
			flex-basis: calc(100% / 4);
			&:nth-of-type(4n-3){
				margin-left: 0;
			}
		}
	}
	.is-new{
		position: relative;
		z-index: 0;
		&:before{
			content: 'NEW';
			position: absolute;
			top: 0;
			left: 0;
			background-color: #f6ff00;
			padding: 3px 10px;
			font-size: 12px;
			font-family: $fontFamilyQuantico;
			font-weight: 700;
			z-index: 1;
		}
	}
	.m-itemPrice{
		em{
			font-family: $fontFamilySaira;
			font-weight: 500;
			font-size: 20px;
			color: $keyColor;
		}
	}
	.m-itemBrand{
		margin-top: 10px;
		font-size: 12px;
	}
	.m-itemStatus{
		position: relative;
		&:before{
			position: absolute;
			top: 50%;
			right: 0;
			display: block;
			background-color: #fff;
			transform: translateY(-50%);
			font-size: 10px;
			width: 68px;
			text-align: center;
		}
		&.is-normal:before{
			content: '常温';
			border: 2px solid map-get($statusColorMap, normal);
			color: map-get($statusColorMap, normal);
		}
		&.is-cool:before{
			content: '冷蔵';
			border: 2px solid map-get($statusColorMap, cool);
			color: map-get($statusColorMap, cool);
		}
		&.is-frozen:before{
			content: '冷凍';
			border: 2px solid map-get($statusColorMap, frozen);
			color: map-get($statusColorMap, frozen);
		}
	}
	.m-itemParam{
		display: flex;
		align-items: center;
		.m-itemLimit,.m-itemStation{
			flex-basis: 50%;
			text-align: center;
			span{
				display: inline-block;
				font-size: 10px;
				line-height: 1.0;
				&.ttl{width: 40%;}
				&.txt{
					width: 60%;
					border: 2px solid $baseBorderColor;
					background-color: #fff;
					// font-family: $fontFamilyQuantico;
					// font-weight: 700;
					text-align: center;
					padding: 3px 5px;
				}
			}
		}
		.m-itemLimit span.txt{
			font-family: $fontFamilyQuantico;
			font-weight: 700;
			// padding: 4px 5px;
		}
	}
	.m-itemPic.is-train{
		z-index: 0;
		@include iconFontAbsolute(before, subway, null, 10px, -20px, null, 20px, $keyColor);
		&:before{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 40px;
			text-align: center;
			border-radius: 40px;
			background-color: #fff;
		}
	}
	@include media(minipc) {
	.m-itemParam{
		.m-itemLimit,.m-itemStation{
			span{
				display: block;
				font-size: 10px;
				&.ttl{width: 100%;}
				&.txt{
					width: 100%;
					margin: 2px auto 0;
					border: 2px solid $baseBorderColor;
					background-color: #fff;
					font-family: $fontFamilyQuantico;
					font-weight: 700;
					text-align: center;
					padding: 0;
				}
			}
		}
		.m-itemStation{
			margin-left: 20px;
		}
	}
	.m-itemStatus{
		&:before{
			width: 30%;
		}
	}
	}
	@include media(tablet) {
	&.is-limit{
		>*{
			flex-basis: calc(100% / 3);
		}
	}
	.m-itemParam{
		.m-itemStation{
			margin-left: 5px;
		}
	}
	.m-itemStatus{
		&:before{
			display: none;
		}
	}
	}
	@include media(phablet) {
	&.is-limit{
		>*{
			flex-basis: calc(100% / 2);
		}
	}
	}
}