@charset "utf-8";

/* ---------------------------------------------------------
	フローティングメニュー
----------------------------------------------------------*/
#floatingMenu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $keyColor01;
	display: none;
	z-index: index($zIndex, floatingMenu);
	&.is-show {
		display: block;
		animation: showFloatingMenu .5s ease-in-out both;
	}
	#globalNav {
		height: 100%;
		overflow-y: scroll;
		-webkit-overflow-scrolling : touch;
	}
	.btnfloatingMenuClose {
		position: fixed;
		top: 10px;
		right: 10px;
		z-index: index($zIndex, btnfloatingMenuClose);
		p {
			width: 40px;
			height: 40px;
			cursor: pointer;
			@include icoSymbol(cross, null, 50%, 50%, null, 40px, 2px, #fff);
		}
	}
}
@keyframes showFloatingMenu {
	0% {
		opacity: 0;
		transform: scale(.95);
	}
	1% {
		display: block;
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}