@charset "utf-8";

/* ---------------------------------------------------------
	ドロワーメニュー
----------------------------------------------------------*/
#drawerMenu {
	position: fixed;
	left: 0;
	top: 0;
	width: 70%;
	height: 100%;
	background-color: #fff;
	transform: translate3d(-100%, 0, 0);
	z-index: index($zIndex, drawerMenu);
	#globalNav {
		height: 100%;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}
	&.is-show {
		transform: translate3d(0, 0, 0);
		animation: drawerMenuShow .5s ease-in-out;
		#globalNav {
			box-shadow: 0px 20px 40px rgba(0, 0, 0, .8);
		}
	}
	&.is-hide {
		transform: translate3d(-100%, 0, 0);
		animation: drawerMenuHide .3s ease-in-out;
	}
}
@keyframes drawerMenuShow {
	0%   {transform: translate3d(-100%, 0, 0);}
	70%  {transform: translate3d(5%, 0, 0);}
	100% {transform: translate3d(0, 0, 0);}
}
@keyframes drawerMenuHide {
	0%   {transform: translate3d(0, 0, 0);}
	100% {transform: translate3d(-100%, 0, 0);}
}
#drawerMenuOverlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
	display: none;
	opacity: 0;
	transition: all .2s ease-out;
	&.is-show {
		z-index: index($zIndex, drawerMenuOverlay);
		display: block;
		opacity: 1;
		animation: fadeIn .2s;
	}
}
#btnDrawerMenuClose {
	position: fixed;
	top: 10px;
	right: 10px;
	display: none;
	opacity: 0;
	transition: all .2s ease-out;
	z-index: index($zIndex, btnDrawerMenuClose);
	&.is-show {
		display: block;
		opacity: 1;
		animation: fadeIn .2s;
	}
	p {
		width: 40px;
		height: 40px;
		cursor: pointer;
		@include icoSymbol(cross, null, 50%, 50%, null, 40px, 1px, #fff);
	}
}