@charset "utf-8";
/*
#overview
動画の埋め込み
*/
/*	動画の埋め込み
-------------------------------------------------- */
/*
#styleguide
```
<div class="m-movie">
<iframe src="https://www.youtube.com/embed/Znw4WkL9pzo" allowfullscreen></iframe>
</div>
```
*/
.m-movie {
	position: relative;
	width: 100%;
	padding-top: 56.25%;
	iframe {
		position: absolute;
		top: 0;
		right: 0;
		width: 100% !important;
		height: 100% !important;
		border: none;
	}
}