@charset "utf-8";

/* ---------------------------------------------------------
	ページネーション
----------------------------------------------------------*/
.m-pagination {
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
	justify-content: center;
	li {
		margin: 5px;
		a {
			display: block;
			width: 100%;
			padding: 15px 20px;
			background-color: $keyColor01;
			@include resetLinkStyle(#fff);
			@include transition;
			&.is-hover {
				color: #fff;
				background-color: lighten($keyColor01, 10%);
			}
		}
		> span {
			display: block;
			padding: 15px 20px;
			background-color: #000;
			vertical-align: bottom;
		}
		&.is-disable {
			display: none;
		}
		&.is-first a,
		&.is-first span {
			@include iconFontInline(before, to-start);
		}
		&.is-prev a,
		&.is-prev span {
			@include iconFontInline(before, left-open);
		}
		&.is-next a,
		&.is-next span {
			@include iconFontInline(after, right-open);
		}
		&.is-last a,
		&.is-last span {
			@include iconFontInline(after, to-end);
		}
		&.is-current a,
		&.is-current span {
			color: #fff;
			background-color: lighten($keyColor01, 10%);
		}
		&.is-pageCount {
			display: none;
		}
		.label {
			display: inline;
			padding: 0;
			background-color: transparent;
			&:before,
			&:after {
				display: none;
			}
		}
	}
}
@include media(tablet) {
	.m-pagination {
		display: table;
		width: 100%;
		li {
			display: none;
			margin: 0;
			padding-right: 5px;
			padding-left: 5px;
			&.is-first,
			&.is-prev,
			&.is-next,
			&.is-last,
			&.is-pageCount {
				display: table-cell;
			}
			&.is-pageCount {
				span {
					color: #fff;
					background-color: #000;
				}
			}
			&.is-disable {
				visibility: hidden;
			}
		}
	}
}
@include media(phablet) {
	.m-pagination {
		li {
			.label {
				display: none;
			}
		}
	}
}