@charset "utf-8";

/* ---------------------------------------------------------
	ページャー
----------------------------------------------------------*/
.m-pager {
	display: flex;
	margin: 30px -5px 0;
	li {
		width: 33.3%;
		padding-right: 5px;
		padding-left: 5px;
		&:nth-child(2) {
			width: 33.4%;
		}
		&.is-disable {
			visibility: hidden;
		}
		a {
			position: relative;
			display: table;
			width: 100%;
			height: 100%;
			padding: 15px;
			background-color: $keyColor01;
			@include resetLinkStyle(#fff);
			@include transition;
			> span {
				display: table-cell;
				width: 100%;
				vertical-align: middle;
				&:before {
					font-family: 'icons';
					speak: none;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
			}
			&.is-hover {
				color: #fff;
				background-color: lighten($keyColor01, 10%);
			}
		}
		&.is-prev a,
		&.is-next a {
			> span:before {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		&.is-prev a {
			padding-left: 30px;
			> span:before {
				content: map-get($fontMap, left-open);
				left: 10px;
			}
		}
		&.is-index a {
			text-align: center;
			> span:before {
				content: map-get($fontMap, list-bullet);
				margin-right: 10px;
			}
		}
		&.is-next a {
			padding-right: 30px;
			text-align: right;
			> span:before {
				content: map-get($fontMap, right-open);
				right: 10px;
			}
		}
	}
}
@include media(phablet) {
	.m-pager {
		li {
			a > span > span {
				display: none;
			}
			&.is-prev a span:after {
				content: "\524D\3078";
			}
			&.is-index a span:after {
				content: "\4e00\89a7";
			}
			&.is-next a span:after {
				content: "\6B21\3078";
			}
		}
	}
}