@charset "utf-8";
/*
#overview
レーティング
*/
/* ---------------------------------------------------------
	レーティング
----------------------------------------------------------*/
/*
#styleguide
```
<p><span class="m-rating is-3"></span><a href="#">（100件）</a></p>
```
*/
.m-rating {
	position: relative;
	display: inline-block;
	width: 6em;
	height: 1em;
	&:before,
	&:after {
		content: "★★★★★";
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		font-size: 1.2em;
	}
	&:before {
		color: #ddd;
	}
	&:after {
		color: #f90;
		overflow: hidden;
		white-space: nowrap;
	}
	&.is-0:after {
		width: 0em;
	}
	&.is-0_5:after {
		width: .5em;
	}
	&.is-1:after {
		width: 1em;
	}
	&.is-1_5:after {
		width: 1.5em;
	}
	&.is-2:after {
		width: 2em;
	}
	&.is-2_5:after {
		width: 2.5em;
	}
	&.is-3:after {
		width: 3em;
	}
	&.is-3_5:after {
		width: 3.5em;
	}
	&.is-4:after {
		width: 4em;
	}
	&.is-4_5:after {
		width: 4.5em;
	}
	&.is-5:after {
		width: 5em;
	}
}


