div.entry_content
	div.mokuji
		p.m-titleType03 目次
		ul.mokuji_list
			li: a(href="#anchor01") ほんのり甘～い、三ツ星「ASOMILK」
			li: a(href="#anchor02") 一度口にしたら忘れられない阿部牧場の「のむヨーグルト」

	section.entry_section#anchor01
		h2.m-titleType02 ほんのり甘～い、三ツ星「ASOMILK」
		div.entry_pic.m-bySide.is-2block
			div: img(src="/gourmet/img/pic_asomilk_sub01.jpg" alt="ほんのり甘～い、三ツ星「ASOMILK」イメージ")
			div: img(src="/gourmet/img/pic_asomilk_sub02.jpg" alt="ほんのり甘～い、三ツ星「ASOMILK」イメージ")
		p.entry_txt 「阿部牧場」のミルクは、ほんのり甘くて、とっても爽やか。日本で初、食品のミシュランガイドと称されるｉＴＱｉ（国際味覚審査機構）で、最高ランク三ツ星を受賞した逸品です。
		p.m-btn.js-gaEventTracking(data-ga-group="button" data-ga-action="click" data-ga-label="asomilk onlineasomilk" data-ga-count="1"): a(href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=27059&r_v=&s_v=&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fasorindou%2Fabmilk900%2F" target="_blank") #[span 牛乳「ASO MILK」のご購入はこちら]

	section.entry_section#anchor02
		h2.m-titleType02 一度口にしたら忘れられない阿部牧場の「のむヨーグルト」
		div.entry_pic.m-bySide.is-2block
			div: img(src="/gourmet/img/pic_asomilk_sub03.jpg" alt="一度口にしたら忘れられない阿部牧場の「のむヨーグルト」イメージ")
			div: img(src="/gourmet/img/pic_asomilk_sub04.jpg" alt="一度口にしたら忘れられない阿部牧場の「のむヨーグルト」イメージ")
		p.entry_txt 大人気商品「のむヨーグルト」は、看板商品である低温殺菌の牛乳と砂糖のみで作られ、一切余計なものを加えていない無添加の安心安全な商品です。<br>とにかく濃厚！旨味が強い！そしてミルクの甘い余韻がいつまでも残る、一度口にしたら忘れられない美味しさの「のむヨーグルト」。
		p.m-btn.js-gaEventTracking(data-ga-group="button" data-ga-action="click" data-ga-label="asomilk onlineasomilk" data-ga-count="1"): a(href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=27059&r_v=&s_v=&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fasorindou%2Fabmilkyg800%2F" target="_blank") #[span ご購入はこちら]
