div.entry_content
	div.mokuji
		p.m-titleType03 目次
		ul.mokuji_list
			li: a(href="#anchor01") 濃厚フロマージュの大人スイーツ
			li: a(href="#anchor02") 『beillevaire（ベイユヴェール）』とは？
			li: a(href="#anchor03") ５種類の「サンド・オ・ブール」フレーバー
			li: a(href="#anchor04") beillevaire（ベイユヴェール）の店舗情報

	section.entry_section#anchor01
		h2.m-titleType02 濃厚フロマージュの大人スイーツ
		div.entry_pic.m-bySide.is-2block
			div: img(src="/gourmet/img/pic_beillevaire_sub01.jpg" alt="")
			div: img(src="/gourmet/img/pic_beillevaire_sub02.jpg" alt="")
		p.entry_txt お洒落なパッケージが目を惹く『beillevaire』の「サンド・オ・ブール」。コク深い発酵バターを使用した巷で話題のバターサンドです。<br>バター特有の濃厚さはありながらもしつこくなく、各フレーバーの風味や旨みが絶妙に相まった味わいと程よくクリーミーな口当たりがクセになる美味しさです。直径5cmほどのサイズ感も良く、ホムパの手土産として持って行けば、注目されること間違いなし！

	section.entry_section#anchor02
		h2.m-titleType02 『beillevaire（ベイユヴェール）』とは？
		div.entry_pic.m-bySide.is-2block
			div: img(src="/gourmet/img/pic_beillevaire_sub03.jpg" alt="")
			div: img(src="/gourmet/img/pic_beillevaire_sub04.jpg" alt="")
		p.entry_txt フランス西部ナントのマシュクール村で酪農家だったパスカル・ベイユヴェール氏が、1980年に創業。チーズと発酵バター専用の工房やアトリエを構えており、現在、パリをはじめフランス中西部に約80店舗のフロマージュブティックを展開。
		p.entry_txt 食の都・パリで、『beillevaire』のフロマージュに魅了される人が続出！ミシュランの星付きシェフやフレンチ界の巨匠、次世代の若き天才シェフたちも指名買いするほど、今大注目のフロマージュブランドです！ 

	section.entry_section#anchor03
		h2.m-titleType02 「サンド・オ・ブール」のフレーバー
		div.m-bySide.is-2block
			section
				p.entry_pic: img(src="/gourmet/img/pic_beillevaire_sub05.jpg" alt="ラムレーズン")
				h3.entry_ttl #[span ラムレーズン]
			section
				p.entry_pic: img(src="/gourmet/img/pic_beillevaire_sub06.jpg" alt="ミモレット")
				h3.entry_ttl #[span ミモレット]
			section
				p.entry_pic: img(src="/gourmet/img/pic_beillevaire_sub07.jpg" alt="ピスタチオ＆クランベリー")
				h3.entry_ttl #[span ピスタチオ＆クランベリー]
			section
				p.entry_pic: img(src="/gourmet/img/pic_beillevaire_sub08.jpg" alt="ビターチョコ")
				h3.entry_ttl #[span ビターチョコ]

	section.entry_section#anchor04
		h2.m-titleType02 beillevaire（ベイユヴェール）の店舗情報
		section.entry_shop
			div.m-bySide.is-3block.shop_list.js-shop_list
				section
					h4.shop_name.js-shop_name 麻布十番店
					p.shop_pin: a(target="_blank" href="https://goo.gl/maps/5R52Q2Sr7yGJXaCaA") 東京都港区元麻布3-11-8
					p.shop_time 10:00-21:00
				section
					h4.shop_name.js-shop_name 伊勢丹新宿店
					p.shop_pin: a(target="_blank" href="https://goo.gl/maps/8TGYKpk6Edmck2MAA") 東京都新宿区新宿3-14-1 三越伊勢丹新宿店B1
					p.shop_time 10:00-20:00