div.entry_content
	div.mokuji
		p.m-titleType03 目次
		ul.mokuji_list
			li: a(href="#anchor01") CANOBLE（カノーブル）とは？
			li: a(href="#anchor02") ”食べるバター”を使用したドイツの伝統菓子。
			li: a(href="#anchor03") 初めてのバター和菓子も開発！
			li: a(href="#anchor04") CANOBLE（カノーブル）の店舗情報

	section.entry_section#anchor01
		h2.m-titleType02 CANOBLE（カノーブル）とは？
		div.entry_pic.m-bySide.is-2block
			div: img(src="/gourmet/img/pic_canoble_sub01.jpg" alt="CANOBLE（カノーブル）とは？のイメージ")
			div: img(src="/gourmet/img/pic_canoble_sub02.jpg" alt="CANOBLE（カノーブル）とは？のイメージ")
		p.entry_txt 【官能と高貴】をテーマとした食のコスメティック。カノーブルは、基本五味である「甘味、酸味、塩味、苦味、うま味」では表現できない第六の味覚「潤味」や「香味」を追求した食のコスメティックブランドです。

	section.entry_section#anchor02
		h2.m-titleType02 ”食べるバター”を使用したドイツの伝統菓子。
		div.entry_pic.m-bySide.is-2block
			div: img(src="/gourmet/img/pic_canoble_sub03.jpg" alt="”食べるバター”を使用したドイツの伝統菓子。のイメージ")
			div: img(src="/gourmet/img/pic_canoble_sub04.jpg" alt="”食べるバター”を使用したドイツの伝統菓子。のイメージ")
		p.entry_txt ハロウィンの次はクリスマス！ドイツで親しまれている伝統菓子に”食べるバター”を使用した、ブールアロマティゼを使用したCANOBLEオリジナルの新しいシュトレンが誕生しました。第一弾は「キャラメルナッツ」。バター、白あん、マジパン、くるみ、そして自家製キャラメルを組み合わせたフィリングを生地に包んで丁寧に焼き上げ、サクサク生地としっとりフィリングの絶妙な組み合わせが特徴です。

	section.entry_section#anchor03
		h2.m-titleType02 初めてのバター和菓子も開発！
		div.entry_pic.m-bySide.is-2block
			div: img(src="/gourmet/img/pic_canoble_sub05.jpg" alt="初めてのバター和菓子も開発！のイメージ")
			div: img(src="/gourmet/img/pic_canoble_sub06.jpg" alt="初めてのバター和菓子も開発！のイメージ")
		p.entry_txt 今回新作の「モチーフ(MOTIF.)」は、ぷるるんと柔らかな食感の餅でバターを包み込んだバター和菓子。バターは国産の純バターだけにこだわったとろーり芳醇な香りが特徴。求肥と大福のちょうど中間のようなソフト食感の餅と、バターのコンビネーションをぜひ体験してみてください。また、バター和菓子「モチーフ(MOTIF.)」と同時にデザート感覚で味わえる新感覚のバタークリーム「デッサン(DESSIN.)」も！<br>2019年11月16日(土)より発売。

	section.entry_section#anchor04
		h2.m-titleType02 CANOBLE（カノーブル）の店舗情報
		section.entry_shop
			div.m-bySide.is-2block.shop_list.js-shop_list
				section
					h4.shop_name.js-shop_name ナショナルデパート東京
					p.shop_pin: a(target="_blank" href="https://goo.gl/maps/1gDTjeRbCrEcRpev9") 東京都目黒区八雲2-6-11
					p.shop_time 11:00〜18:00<br>※定休日：毎週月曜日
				section
					h4.shop_name.js-shop_name ナショナルデパート岡山
					p.shop_pin: a(target="_blank" href="https://goo.gl/maps/LNrEHZ6WaDfzeFn86") 岡山県岡山市北区天神町9-2
					p.shop_time 10:00〜18:00<br>※定休日：月〜木曜日定休<br>毎週金・土・日曜日のみの営業。