div.entry_content
	div.mokuji
		p.m-titleType03 目次
		ul.mokuji_list
			li: a(href="#anchor01") “LAセレブに愛される朝食” アメリカの定番料理「エッグサンド」
			li: a(href="#anchor02") 日本限定メニューの「ROUTE 20 SANDWICH（ルート トゥエンティ サンド）」
			li: a(href="#anchor03") 『eggslut（エッグスラット）』の店舗
			li: a(href="#anchor04") その他の気になる『Dosand（ドサンド）』メニュー

	section.entry_section#anchor01
		h2.m-titleType02 “LAセレブに愛される朝食” アメリカの定番料理「エッグサンド」
		div.entry_pic.m-bySide.is-2block
			div: img(src="/gourmet/img/pic_eggslut_sub01.jpg" alt="“LAセレブに愛される朝食” アメリカの定番料理「エッグサンド」のイメージ")
			div: img(src="/gourmet/img/pic_eggslut_sub02.jpg" alt="“LAセレブに愛される朝食” アメリカの定番料理「エッグサンド」のイメージ")
		p.entry_txt 「eggslut」は“LAセレブに愛される朝食”としてブームをおこした、エッグスラットのオリジナルメニュー「スラット」発祥の店であり、アメリカの定番料理「エッグサンド」の革命児として、2011年のブランド創立以来、あらゆる卵好きを魅了しています。

	section.entry_section#anchor02
		h2.m-titleType02 日本限定メニューの「ROUTE 20 SANDWICH（ルート トゥエンティ サンド）」
		div.entry_pic.m-bySide.is-2block
			div: img(src="/gourmet/img/pic_eggslut_sub03.jpg" alt="日本限定メニューの「ROUTE 20 SANDWICH（ルート トゥエンティ サンド）」のイメージ")
			div: img(src="/gourmet/img/pic_eggslut_sub04.jpg" alt="日本限定メニューの「ROUTE 20 SANDWICH（ルート トゥエンティ サンド）」のイメージ")
		p.entry_txt 半熟目玉焼き、チェダーチーズ、ビーフパティ、ピクルス、キャラメライズドオニオン、ディジョネーズをブリオッシュバンズでサンドした人気の「CHEESE BURGER（チーズバーガー）」に、スクランブルエッグを合わせた“全部入り”の「究極サンド」です！

	section.entry_section#anchor03
		h2.m-titleType02 『eggslut（エッグスラット）』の店舗
		div.entry_mapIframe: iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.581804023991!2d139.69784191569298!3d35.68729793724571!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cd021f78cf5%3A0x823af66c60803c01!2z5paw5a6_44K144K244Oz44OG44Op44K5!5e0!3m2!1sja!2sjp!4v1574121593547!5m2!1sja!2sjp" width="1020" height="500" allowfullscreen)
		section.entry_shop
			div.m-bySide.is-2block.shop_list.js-shop_list
				section
					h4.shop_name.js-shop_name eggslut（エッグスラット）新宿店
					p.shop_pin 〒151-0053 東京都渋谷区代々木２丁目２－１ 新宿サザンテラス
					p.shop_time 7:30 - 22:00 (L.O. 21:00)　※不定休

	section.entry_section#anchor04
		h2.m-titleType02 その他気になるメニュー
		div.m-bySide.is-2block
			section
				p.entry_pic: img(src="/gourmet/img/pic_eggslut_sub05.jpg" alt="フェアファックス サンド")
				h3.entry_ttl #[span #[em FAIRFAX SANDWICH] [フェアファックス サンド]]<br>とろけるほど半熟のスクランブルエッグをリッチな自家製ブリオッシュバンズでサンド。他では食べることのできない、ふわふわ＆とろとろの新食感エッグサンドです。
			section
				p.entry_pic: img(src="/gourmet/img/pic_eggslut_sub06.jpg" alt="ベーコン エッグ チーズ サンド")
				h3.entry_ttl #[span #[em BACON, EGG & CHEESE SANDWICH] [ベーコン エッグ チーズ サンド]]<br>香ばしいスモークベーコンとコクのあるチェダーチーズを使った「ベーコンエッグチーズサンド」