div.entry_content
	div.mokuji
		p.m-titleType03 目次
		ul.mokuji_list
			li: a(href="#anchor01") テイクアウト型スフレパンケーキプリン専門店「フリッパーズ スタンド」
			li: a(href="#anchor02") フレーバーも3種類！今なら期間限定のストロベリーがおすすめ。
			li: a(href="#anchor03") テイクアウト型「フリッパーズ スタンド」の店舗一覧
			li: a(href="#anchor04") 通常のスフレパンケーキ専門店「フリッパーズ（FLIPPER'S）」の店舗一覧

	section.entry_section#anchor01
		h2.m-titleType02 テイクアウト型スフレパンケーキプリン専門店「フリッパーズ スタンド」
		div.entry_pic.m-bySide.is-2block
			div: img(src="/gourmet/img/pic_flippers-pancake_sub01.jpg" alt="")
			div: img(src="/gourmet/img/pic_flippers-pancake_sub02.jpg" alt="")
		p.entry_txt 「奇跡のスフレパンケーキプリン」の一番の特徴は”プリン　オンザ　パンケーキ！”。従来のスフレパンケーキの概念を一新する、テイクアウト型メニューになっています。パンケーキ部分のスフレパンケーキと自家製メープルバタークリーム、そしてプリン部分のキャラメルソースとカスタードプリンの計4層が時間差でとろけ出す、進化系スイーツ！

	section.entry_section#anchor02
		h2.m-titleType02 フレーバーも3種類！今なら期間限定のストロベリーがおすすめ。
		div.entry_pic.m-bySide.is-2block
			div: img(src="/gourmet/img/pic_flippers-pancake_sub03.jpg" alt="")
			div: img(src="/gourmet/img/pic_flippers-pancake_sub04.jpg" alt="")
		p.entry_txt キャラメルソースがアクセントの定番「プレーン」、濃厚な「チョコレート」、そして季節限定となる「ストロベリー」の3種類がラインナップ。

	section.entry_section#anchor03
		h2.m-titleType02 テイクアウト型「フリッパーズ スタンド」の店舗一覧
		section.entry_shop
			div.m-bySide.is-3block.shop_list
				section
					h4.shop_name 自由が丘店
					p.shop_pin: a(target="_blank" href="https://goo.gl/maps/gV47BK9nXos") 東京都目黒区自由が丘1-31-11　etomo1F
					p.shop_time 11:00 ~ 20:00
				section
					h4.shop_name NEWoMan新宿店
					p.shop_pin: a(target="_blank" href="https://goo.gl/maps/4H1H52SgASU2") 東京都渋谷区千駄ヶ谷5-24-55 NEWoMan新宿2F エキナカ
					p.shop_time 8:00 ~ 22:00<br>土日祝；8:00 ~ 21:30
				section
					h4.shop_name 原宿店
					p.shop_pin: a(target="_blank" href="https://goo.gl/maps/uXXTwyyUdkC2") 東京都渋谷区神宮前6-2-7
					p.shop_time 11:00 ~ 20:00
					
	section.entry_section#anchor04
		h2.m-titleType02 通常のスフレパンケーキ専門店「フリッパーズ（FLIPPER'S）」の店舗一覧
		section.entry_shop
			div.m-bySide.is-3block.shop_list
				section
					h4.shop_name 自由が丘店
					p.shop_pin: a(target="_blank" href="https://goo.gl/maps/fchyCBRQcwS2") 東京都目黒区自由が丘1-8-7 3F
					p.shop_time 11:00 ~ 21:00（L.O. 20:30）<br>土日祝；11:00 ~ 20:30（L.O. 20:00）
				section
					h4.shop_name 下北沢店
					p.shop_pin: a(target="_blank" href="https://goo.gl/maps/hmxUGZghMb52") 東京都世田谷区北沢2-26-20 1F
					p.shop_time 11:00 ~ 20:00（L.O. 19:30）
				section
					h4.shop_name 吉祥寺店
					p.shop_pin: a(target="_blank" href="https://goo.gl/maps/8NyL1fo59tr") 東京都武蔵野市吉祥寺本町2-10-5 1F
					p.shop_time 11:00 ~ 20:00（L.O. 19:30）
				section
					h4.shop_name 代官山店
					p.shop_pin: a(target="_blank" href="https://goo.gl/maps/18veQrfsNFS2") 東京都渋谷区恵比寿西1-35-16
					p.shop_time 11:00 ~ 20:00（L.O. 19:30）
				section
					h4.shop_name 中目黒店
					p.shop_pin: a(target="_blank" href="https://goo.gl/maps/7jabAiQPrMq") 東京都目黒区上目黒1-19-7
					p.shop_time 11:00 ~ 20:00（L.O. 19:30）
				section
					h4.shop_name 表参道店
					p.shop_pin: a(target="_blank" href="https://goo.gl/maps/nhyYVUjCsq32") 東京都渋谷区神宮前6-1-4ガーデンテラス 1F
					p.shop_time 11:00 ~ 20:00（L.O. 19:30）
				section
					h4.shop_name 渋谷店
					p.shop_pin: a(target="_blank" href="https://goo.gl/maps/EMK6zHTtLAJ2") 東京都渋谷区神南1-15-5　神南プラザビル1F
					p.shop_time 11:00 ~ 20:00（L.O. 19:30）
				section
					h4.shop_name 横浜元町店
					p.shop_pin: a(target="_blank" href="https://goo.gl/maps/2gbEt5ceFJJ2") 神奈川県横浜市中区元町1-20-102A
					p.shop_time 11:00 ~ 20:00（L.O. 19:30）
				section
					h4.shop_name 名古屋ラシック店
					p.shop_pin: a(target="_blank" href="https://goo.gl/maps/xdtRrNJ3GTr") 愛知県名古屋市中区栄3-6-1 ラシック B1F
					p.shop_time 11:00 ~ 21:00（L.O. 20:30）