div.entry_content
	div.mokuji
		p.m-titleType03 目次
		ul.mokuji_list
			li: a(href="#anchor01") おむすびケーキとは
			li: a(href="#anchor02") パッケージもおしゃれなので用途も様々
			li: a(href="#anchor03") おむすびケーキのフレーバー

	section.entry_section#anchor01
		h2.m-titleType02 おむすびケーキとは
		div.entry_pic.m-bySide.is-2block
			div: img(src="/gourmet/img/pic_omusubicake_sub01.jpg" alt="おむすびケーキとはのイメージ")
			div: img(src="/gourmet/img/pic_omusubicake_sub02.jpg" alt="おむすびケーキとはのイメージ")
		p.entry_txt 赤いテープを引いて開けるのも、見た目もコンビニのおにぎり。ワンハンドで食べられる手土産としての使いやすさも重視したケーキです。また、冷凍保存もできるので半解凍でアイスとしても楽しめます！<br>実店舗はまだないんですが、東京では、11月18日〜12月12日の約1ヶ月間限定でルミネ新宿にストアがオープンするそうです！
		p.m-btn: a( target="_blank" href="https://tsukiichi-shop.com/?category_id=5d57be54abfe2919c69e882e") #[span オンラインショップで購入する]
		
	section.entry_section#anchor02
		h2.m-titleType02 パッケージもおしゃれなので用途も様々
		div.m-bySide.is-2block
			section
				p.entry_pic: img(src="/gourmet/img/pic_omusubicake_sub03.jpg" alt="引き出物")
				h3.entry_ttl #[span #[em Happy Wedding] [引き出物]]<br>お2人の特別な日、たくさんの幸せが詰まった場所で、これからの良縁の願いと縁結びの願いを込めた、結婚式の引き出物としても◎。
			section
				p.entry_pic: img(src="/gourmet/img/pic_omusubicake_sub04.jpg" alt="ピクニック")
				h3.entry_ttl #[span #[em Picnic] [ピクニック]]<br>おしゃれに飾り付けしたピクニックのシーンにはデザートは不可欠。冷凍対応も可能なOMUSUBICakeは、食べる頃には冷たいままで、もしくはアイスとしてもおいしくいただけます。

	section.entry_section#anchor04
		h2.m-titleType02 おむすびケーキのフレーバー
		div.m-bySide.is-2block
			section
				p.entry_pic: img(src="/gourmet/img/pic_omusubicake_sub05.jpg" alt="チーズケーキ")
				h3.entry_ttl #[span #[em CHEESE CAKE] [チーズケーキ]]<br>ラズベリーが入ったベイクドチーズケーキ。
			section
				p.entry_pic: img(src="/gourmet/img/pic_omusubicake_sub06.jpg" alt="ストロベリー")
				h3.entry_ttl #[span #[em THE Strawberry] [ストロベリー]]<br>スポンジ同士の間には苺の果肉入りのストロベリークリーム。
			section
				p.entry_pic: img(src="/gourmet/img/pic_omusubicake_sub07.jpg" alt="アールグレイ")
				h3.entry_ttl #[span #[em Earl Grey] [アールグレイ]]<br>クリームをオレンジピールの入った紅茶のプディングとスポンジでサンドしました
			section
				p.entry_pic: img(src="/gourmet/img/pic_omusubicake_sub08.jpg" alt="グリーンティー")
				h3.entry_ttl #[span #[em THE Strawberry] [グリーンティー]]<br>抹茶のスポンジ同士の間には小豆入りの抹茶クリーム。
			section
				p.entry_pic: img(src="/gourmet/img/pic_omusubicake_sub09.jpg" alt="ショコラ")
				h3.entry_ttl #[span #[em Chocolat] [ショコラ]]<br>ココアスポンジ同士の間にはチョコチップ入りのチョコレートクリーム。
			section
				p.entry_pic: img(src="/gourmet/img/pic_omusubicake_sub10.jpg" alt="グレープフルーツ")
				h3.entry_ttl #[span #[em Grapefruit] [グレープフルーツ]]<br>スポンジのスポンジの間にはグレープフルーツのクリーム。
		p.m-btn: a( target="_blank" href="https://tsukiichi-shop.com/?category_id=5d57be54abfe2919c69e882e") #[span オンラインショップで購入する]