div.entry_content
	div.mokuji
		p.m-titleType03 目次
		ul.mokuji_list
			li: a(href="#anchor01") お店は、絵本に出てくる世界観
			li: a(href="#anchor02") 生クリームで仕立ててのしっとりスコーン
			li: a(href="#anchor03") キニョンの店舗情報

	section.entry_section#anchor01
		h2.m-titleType02 お店は、絵本に出てくる世界観
		div.entry_pic.m-bySide.is-2block
			div: img(src="/gourmet/img/pic_quignon_sub01.jpg" alt="")
			div: img(src="/gourmet/img/pic_quignon_sub02.jpg" alt="")
		p.entry_txt 手作りパンと絶品スコーンが人気の「キィニョン」。美味しいパンや焼き菓子はもちろん、色とりどりの可愛らしいイラストや雑貨が散りばめられた店内は、まるで絵本の中にいるような感じです。ナチュラルで優しいこの雰囲気も、キィニョンの魅力のひとつ♪

	section.entry_section#anchor02
		h2.m-titleType02 生クリームで仕立ててのしっとりスコーン
		div.entry_pic.m-bySide.is-2block
			div: img(src="/gourmet/img/pic_quignon_sub03.jpg" alt="")
			div: img(src="/gourmet/img/pic_quignon_sub04.jpg" alt="")
		p.entry_txt 普通のスコーンとは少し違って、外はサクサク、中はしっとりもちもち！<br>キィニョンのスコーンはいろんな種類のフレーバーありますが、初めて食べるなら絶対に「プレーン」がおすすめ。スコーンの本当の美味しさがわかります！

	section.entry_section#anchor04
		h2.m-titleType02 キニョンの店舗情報
		section.entry_shop
			div.m-bySide.is-3block.shop_list.js-shop_list
				section
					h4.shop_name.js-shop_name 国分寺本店
					p.shop_pin: a(target="_blank" href="https://goo.gl/maps/6e2sPB7pGiv") 東京都国分寺市南町2-11-19
					p.shop_time 10:00-18:00
				section
					h4.shop_name.js-shop_name 国分寺マルイ店
					p.shop_pin: a(target="_blank" href="https://goo.gl/maps/aMvhFgzeBsF2") 東京都国分寺市南町3-20-3国分寺マルイ1階食遊館
					p.shop_time 10:00-20:30
				section
					h4.shop_name.js-shop_name エキュート立川店
					p.shop_pin: a(target="_blank" href="https://goo.gl/maps/kzfo649J3xC2") 東京都立川市柴崎町3-1-1エキュート立川2階（駅構内）
					p.shop_time 7:00-22:00<br>（日祝7:00-21:00）
				section
					h4.shop_name.js-shop_name エキュート上野店
					p.shop_pin: a(target="_blank" href="https://goo.gl/maps/j9Pbf5wJp7G2") 東京都台東区上野7-1-1JR東日本上野駅構内3階
					p.shop_time 8:00-22:00<br>8:00-22:30（金曜）<br>8:00-21:00（日曜・祝）
				section
					h4.shop_name.js-shop_name nonowa国立店
					p.shop_pin: a(target="_blank" href="https://goo.gl/maps/kzfo649J3xC2") 東京都国立市北1-14-17nonowa国立
					p.shop_time 10:00-21:00
				section
					h4.shop_name.js-shop_name 都立多摩図書館店
					p.shop_pin: a(target="_blank" href="https://goo.gl/maps/EiLY1oBJN982") 東京都国分寺市泉町2-2-26都立多摩図書館1階
					p.shop_time 10:00-17:00
				section
					h4.shop_name.js-shop_name 東京経済大学店
					p.shop_pin: a(target="_blank" href="https://goo.gl/maps/3n7mUfVhZNp") 東京都国分寺市南町1-7-34東京経済大学葵陵会館2階
					p.shop_time 11:00-15:30（月曜-金曜）