div.entry_content
	div.mokuji
		p.m-titleType03 目次
		ul.mokuji_list
			li: a(href="#anchor01") 牧草育ち。だから美と健康によい栄養が詰まっています。
			li: a(href="#anchor02") ニュージーランドは世界で最も安全に牛を100%牧草飼育できる国
			li: a(href="#anchor03") 栄養素を豊富に含む「パーフェクトフード」といえる赤身牛肉
			li: a(href="#anchor04") 低カロリー＆低脂肪で栄養素もぎっしり！健康的なダイエットのためにも牧草牛がおすすめ！
			li: a(href="#anchor05") 質のいい脂を抱き込んだ上質なお肉なので調理方法もいろいろ！
			li: a(href="#anchor06") 店舗でもご購入できる！Saito Farm 麻布十番。

	section.entry_section#anchor01
		h2.m-titleType02 牧草育ち。だから美と健康によい栄養が詰まっています。
		div.entry_pic.m-bySide.is-2block
			div: img(src="/gourmet/img/pic_reserve_sub01.jpg" alt="")
			div: img(src="/gourmet/img/pic_reserve_sub02.jpg" alt="")
		p.entry_txt 私達が日常的に食べてきた牛肉は、ほとんどが穀物を与えて、牛舎の中で脂肪を蓄えさせた穀物肥育牛(グレインフェッドビーフ)になります。一方、牧草飼育牛(グラスフェッドビーフ)は自然環境のもとで放牧され、牧草だけを食べて健康に育ちます。その肉質は赤身がとても多く脂肪が黄色いのが特徴。栄養価が高いうえ、しっかりした歯ごたえと自然を凝縮したような肉本来の旨味が魅力。
		p.m-btn.js-gaEventTracking(data-ga-group="button" data-ga-action="click" data-ga-label="reserve onlinereserve" data-ga-count="1"): a(href="https://px.a8.net/svt/ejp?a8mat=2Z8HP8+APUFU+3PNO+HVFKY" target="_blank") #[span ご購入はこちら]

	section.entry_section#anchor02
		h2.m-titleType02 ニュージーランドは世界で最も安全に牛を100%牧草飼育できる国
		div.entry_pic.m-bySide.is-2block
			div: img(src="/gourmet/img/pic_reserve_sub03.jpg" alt="")
			div: img(src="/gourmet/img/pic_reserve_sub04.jpg" alt="")
		p.entry_txt 完全放牧で牛を育てるのに最適な環境にあるニュージーランド。牧草だけで成長するニュージーランド産の牛は健康で若齢、牧草牛特有の臭みやくせがなく、栄養価はお墨付き。<br>また、国を挙げての徹底した検疫により、BSEや口蹄疫の発症率ゼロという世界第一位の安全性を誇ります。日本向けの牛肉はすべて成長促進ホルモン剤不使用牛。抗生物質も治癒目的にのみ使用し、使用された牛は法律上、休薬期間を経ないと屠畜できない仕組みに。牧草牛で遺伝子組み換えの牛は存在せず、遺伝子組み換えのない牧草だけで育てられています。
		
	section.entry_section#anchor03
		h2.m-titleType02 栄養素を豊富に含む「パーフェクトフード」といえる赤身牛肉
		div.entry_pic.m-bySide.is-2block
			div: img(src="/gourmet/img/pic_reserve_sub05.jpg" alt="")
			div: img(src="/gourmet/img/pic_reserve_sub06.jpg" alt="")
		p.entry_txt 牧草牛は食事から摂取すべき栄養素「タンパク質」「鉄」「亜鉛」を豊富に含んでいます。また牧草牛由来の「オメガ３脂肪酸」も含み、”丘の魚”と呼んでも過言ではありません。牧草牛は、現在人の健康にとって理想的な赤身牛肉。肉をメインのタンパク質源として摂取したい方に最適な食材《パーフェクトフード》です。
		p.m-btn.js-gaEventTracking(data-ga-group="button" data-ga-action="click" data-ga-label="reserve onlinereserve" data-ga-count="1"): a(href="https://px.a8.net/svt/ejp?a8mat=2Z8HP8+APUFU+3PNO+HVFKY" target="_blank") #[span ご購入はこちら]
		
	section.entry_section#anchor04
		h2.m-titleType02 低カロリー＆低脂肪で栄養素もぎっしり！健康的なダイエットのためにも牧草牛がおすすめ！
		div.entry_pic.m-bySide.is-2block
			div: img(src="/gourmet/img/pic_reserve_sub07.jpg" alt="")
			div: img(src="/gourmet/img/pic_reserve_sub08.jpg" alt="")
		p.entry_txt 高タンパク質で、低カロリーなのが牧草牛の魅力のひとつ。牧草牛のカロリーは国産穀物牛の約62％、脂質は約40％(それぞれヒレ肉での比較)。体型維持が気になるという方にもオススメです。<br>牧草牛は美肌・美髪効果につながる亜鉛、老化防止や免疫アップのためのビタミン類、体脂肪の燃焼を促進する共役リノール酸、疲労回復に役立つタウリンなどを豊富に含み、まるでサプリメントのようです。
		
	section.entry_section#anchor05
		h2.m-titleType02 質のいい脂を抱き込んだ上質なお肉なので調理方法もいろいろ！
		div.m-bySide.is-2block
			section
				p.entry_pic: img(src="/gourmet/img/pic_reserve_sub09.jpg" alt="")
				h3.entry_ttl #[span #[em Original Roast Beef] [オリジナルローストビーフ]]<br>「牧草牛はパサついている」「肉質が堅そう」、そんなイメージを持っている方も多いようですが、こちらのニュージーランド牧草牛は全く違います。ブロック肉を低温で時間をかけて調理すると、美味しい脂がブロック全体にまんべんなく行き渡り、驚くほどふわふわの食感になります。
			section
				p.entry_pic: img(src="/gourmet/img/pic_reserve_sub10.jpg" alt="")
				h3.entry_ttl #[span #[em BBQ Beef] [バーベキュービーフ]]<br>バーベキューでは、牧草牛のブロック肉を好きな厚さにカットして焼いてもいいし、大きな塊で焼く時場合は、グローブをつけて転がして焼きながらナイフで削いで食べるのも美味しい！
		div.entry_youtube
			iframe(width="560" height="315" src="https://www.youtube.com/embed/f0glyxDNeLw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
		p.m-btn.js-gaEventTracking(data-ga-group="button" data-ga-action="click" data-ga-label="reserve onlinereserve" data-ga-count="1"): a(href="https://px.a8.net/svt/ejp?a8mat=2Z8HP8+APUFU+3PNO+HVFKY" target="_blank") #[span ご購入はこちら]
		
	section.entry_section#anchor06
		h2.m-titleType02 店舗でもご購入できる！Saito Farm 麻布十番。
		div.entry_mapIframe: iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.7999150329188!2d139.73078131525813!3d35.65730098019984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b9e398eb2b3%3A0x4ad641ec7b618c46!2zU2FpdG8gRmFybSAo5paO6Jek44OV44Kh44O844OgKSDpurvluIPljYHnlao!5e0!3m2!1sja!2sjp!4v1553744221814" width="1020" height="500" allowfullscreen)
		section.entry_shop
			div.m-bySide.is-2block.shop_list.js-shop_list
				section
					h4.shop_name.js-shop_name Saito Farm 麻布十番
					p.shop_pin 東京都港区麻布十番1-5-5 SH麻布1F
					p.shop_time 12:00〜19:00
					p.shop_item ブロック4kg、ブロック500g、カット250g×4枚セット、ブロック1kg、カット250g 総重量4kg