div.entry_content
	div.mokuji
		p.m-titleType03 目次
		ul.mokuji_list
			li: a(href="#anchor01") 昔なつかしい！「錢屋カフヱー」のカスタードプリン
			li: a(href="#anchor02") 錢屋カフヱーは、近鉄上本町駅から徒歩５分。
			li: a(href="#anchor03") 錢屋カフヱーのおすすめメニュー

	section.entry_section#anchor01
		h2.m-titleType02 昔なつかしい！「錢屋カフヱー」のカスタードプリン
		div.entry_pic.m-bySide.is-2block
			div: img(src="/gourmet/img/pic_zeniyacafe_sub01.jpg" alt="昔なつかしい！「錢屋カフヱー」のカスタードプリンのイメージ")
			div: img(src="/gourmet/img/pic_zeniyacafe_sub02.jpg" alt="昔なつかしい！「錢屋カフヱー」のカスタードプリンのイメージ")
		p.entry_txt しっかりと自立して、口に入れると卵とバニラの香りがスーッと抜けて、甘すぎないけれど、食べ応えのある質感。

	section.entry_section#anchor02
		h2.m-titleType02 錢屋カフヱーは、近鉄上本町駅から徒歩５分。
		div.entry_pic.m-bySide.is-2block
			div: img(src="/gourmet/img/pic_zeniyacafe_sub03.jpg" alt="錢屋カフヱーは、近鉄上本町駅から徒歩５分。のイメージ")
			div: img(src="/gourmet/img/pic_zeniyacafe_sub04.jpg" alt="錢屋カフヱーは、近鉄上本町駅から徒歩５分。のイメージ")
		div.entry_mapIframe: iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13126.453940762918!2d135.522011!3d34.664463000000005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd348b43537b20747!2z5qCq5byP5Lya56S-IOmMouWxi-acrOiIlw!5e0!3m2!1sja!2sjp!4v1569543745306!5m2!1sja!2sjp" width="1020" height="500" allowfullscreen)
		section.entry_shop
			div.m-bySide.is-2block.shop_list.js-shop_list
				section
					h4.shop_name.js-shop_name 錢屋カフヱー
					p.shop_pin 大阪市天王寺区石ヶ辻町14番6号　錢屋本舗本館 103
					p.shop_time 11:30-23:00<br>※定休日：月曜

	section.entry_section#anchor03
		h2.m-titleType02 錢屋カフヱーのおすすめメニュー
		div.m-bySide.is-2block
			section
				p.entry_pic: img(src="/gourmet/img/pic_zeniyacafe_sub05.jpg" alt="クラシックチーズケーキ")
				h3.entry_ttl #[span #[em Classic Cheesecake] [クラシックチーズケーキ]]<br>四つ葉のクリームチーズをたっぷり使い、濃厚でいてフレッシュな味わいです。
			section
				p.entry_pic: img(src="/gourmet/img/pic_zeniyacafe_sub06.jpg" alt="クレームダンジュ")
				h3.entry_ttl #[span #[em Creme D'anjou] [クレームダンジュ]]<br>季節限定商品
			section
				p.entry_pic: img(src="/gourmet/img/pic_zeniyacafe_sub07.jpg" alt="根菜キーマカレー ˜スパイス香味ダレ添え˜")
				h3.entry_ttl #[span #[em Keema curry] [根菜キーマカレー ˜スパイス香味ダレ添え˜]]<br>錢屋カレーの秋冬の定番、根菜キーマ。中国山椒をアクセントに調合したスパイスと、大根、蓮根、玉葱、牛蒡を加えて食感が楽しめるキーマカレーです。
			section
				p.entry_pic: img(src="/gourmet/img/pic_zeniyacafe_sub08.jpg" alt="ねばねば野菜の旨味たっぷり食べるスープ")
				h3.entry_ttl #[span #[em Soup] [ねばねば野菜の旨味たっぷり食べるスープ]]<br>錢屋マルシェでも人気の「やまくにのいりこだし」を使用し、素材の旨味とねばねば野菜がたっぷり入った栄養満点スープです。