<mtapp:setting
    id="fjcfl_enable_native_sort"
    label="<__trans phrase="Enable native sort">"
    hint="<__trans phrase="DFV_INSTALL">"
    show_hint="1">
    <input type="checkbox" name="fjcfl_enable_native_sort" value="1"<mt:if name="fjcfl_enable_native_sort"> checked="checked"</mt:if>>
</mtapp:setting>
