extends /_pug/_inc/_layout

//-
	---------------------------------------------------------
	ページ固有の変数を定義
	---------------------------------------------------------
append setVar
	- layout = 'entry'
	- pageUrl = '/gourmet/bake.html'
	- dirArray = createDirArray(pageUrl)
	- bodyAttributes.id = 'p-entry'
	- bodyAttributes.class = 'p-bake.g-gourmet'

//-
	---------------------------------------------------------
	ページ固有のCSSを読み込み
	---------------------------------------------------------
append css
	link(rel="stylesheet" href="/css/p_entry.css")

//-
	---------------------------------------------------------
	コンテンツ
	---------------------------------------------------------
block main

	article.main_inner

		header.entry_header
			div.mainvisual
				p.mainvisual_pic: img(src="/gourmet/img/pic_bake_01.jpg" alt="")
				p.mainvisual_date 2019.03.04
				h1.mainvisual_ttl: span カフェ併設の店舗は全国でたった1店舗！<br>自由が丘のチーズタルト専門店<br>『BAKE CHEESE TART』
			ul.c-tag_list
				li: a(href="/") #[span タグ1]
				li: a(href="/") #[span タグあああああ]


		//#include virtual="/_inc/advertise.html"

		div.entry_content
			div.mokuji
				p.m-titleType03 目次
				ul.mokuji_list
					li: a(href="#anchor01") 「BAKE CHEESE TART（ベイクチーズタルト）」って？
					li: a(href="#anchor02") 焼きたてが味わえる！ファクトリー・カフェ併設の自由が丘本店
					li: a(href="#anchor03") BAKEの「期間限定商品」
					li: a(href="#anchor04") BAKEの店舗一覧

			section.entry_section#anchor01
				h2.m-titleType02 「BAKE CHEESE TART（ベイクチーズタルト）」って？
				div.entry_pic.m-bySide.is-2block
					div: img(src="/gourmet/img/pic_bake_sub01.jpg" alt="")
					div: img(src="/gourmet/img/pic_bake_sub02.jpg" alt="")
				p.entry_txt オリジナルブレンドのクリームチーズを使ったフワフワ食感のムースと2度焼きタルトがポイントの北海道生まれのチーズタルト。関東・関西・東北・九州・中国エリアに店を構える人気スイーツ店です。焼きたてをそのまま食べるのが一番おすすめですが、それ以外の食べ方もできるのがBAKE（ベイク）のチーズタルトの特徴です。

			section.entry_section#anchor02
				h2.m-titleType02 焼きたてが味わえる！ファクトリー・カフェ併設の自由が丘本店
				div.entry_pic.m-bySide.is-2block
					div: img(src="/gourmet/img/pic_bake_sub03.jpg" alt="")
					div: img(src="/gourmet/img/pic_bake_sub04.jpg" alt="")
				p.entry_txt 自由が丘店1階は、｢工場直売」をコンセプトに、焼きたてチーズタルトをその場で製造し販売。2階には、「大人がくつろげる穴場的カフェ」をコンセプトに、大きなソファや2人席のテーブルも完備。デートや待ち合わせにもぴったりな空間になっています。店内では、チーズタルトのほか、きのとやで人気のソフトクリームやコーヒーなどのドリンクも提供。
				div.entry_mapIframe: iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3243.8071122480633!2d139.66543396525682!3d35.607824330211535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f51f1c4e716f%3A0x212c41ba5fcdadcd!2z44OZ44Kk44KvIOODgeODvOOCuuOCv-ODq-ODiCDoh6rnlLHjgYzkuJjlupc!5e0!3m2!1sja!2sjp!4v1550552004001" width="1020" height="500" allowfullscreen)
				div.entry_shop
					div.m-bySide.is-2block.shop_list
						section
							h4.shop_name 自由が丘本店
							p.shop_pin 東京都目黒区自由が丘1-31-10 BAKEビル
							p.shop_time 11:00 ~ 20:00(L.O. 19:30 ~)
							p.shop_item チーズタルト、ミルクソフト、ベイクブレンドコーヒー

			section.entry_section#anchor03
				h2.m-titleType02 BAKEの「期間限定商品」
				div.entry_pic.m-bySide.is-2block
					div: img(src="/gourmet/img/pic_bake_sub05.jpg" alt="")
					div: img(src="/gourmet/img/pic_bake_sub06.jpg" alt="")
				p.entry_txt 福岡県産「あまおう苺」を使用した新商品「あまおう苺チーズタルト」を期間限定で、全国の店舗で販売しています。<br>「あまおう苺」のピューレとパウダーを練り込んだ、ふわっとクリーミーなチーズムース。チーズの酸味とやわらかな苺の甘さがバランスよく合わさり、口のなかに苺のつぶつぶした食感と芳醇な香りが広がります。<br>

			section.entry_section#anchor04
				h2.m-titleType02 BAKEの店舗一覧
				section.entry_shop
					h3.m-titleType04.shop_head 東京 / #[span 関東]
					div.m-bySide.is-3block.shop_list
						//- section
						//- 	h4.shop_name 自由が丘本店
						//- 	p.shop_pin 東京都目黒区自由が丘1-31-10 BAKEビル
						//- 	p.shop_time 11:00 ~ 20:00(L.O. 19:30 ~)
						//- 	p.shop_item チーズタルト、ミルクソフト、ベイクブレンドコーヒー
						section
							h4.shop_name グランスタ丸の内店
							p.shop_pin: a(target="_blank" href="https://maps.google.com/maps?ll=35.682138,139.765724&z=18&t=m&hl=ja&gl=JP&mapclient=embed&cid=10537051019932899650") 東京都千代田区丸の内1-9-1 JR東日本東京駅構内地下1階(改札外)
							p.shop_time 8:00 ~ 22:00 <br>日・休前日；8:00 ~ 21:00
							p.shop_item チーズタルト
						section
							h4.shop_name ルミネエスト新宿店（JR新宿駅東口交番裏）
							p.shop_pin: a(target="_blank" href="https://maps.google.com/maps?ll=35.691599,139.701043&z=16&t=m&hl=ja&gl=JP&mapclient=embed&cid=441710177723526797") 東京都新宿区新宿3-38-1ルミネエスト1F
							p.shop_time 11:00 ~ 22:00 <br>土日祝；10:30 ~ 21:30
							p.shop_item チーズタルト
						section
							h4.shop_name 池袋店
							p.shop_pin: a(target="_blank" href="https://maps.google.com/maps?ll=35.730347,139.71146&z=20&t=m&hl=ja&gl=JP&mapclient=embed&cid=11794809252386661295") 東京都豊島区南池袋1-28-2 JR池袋駅構内、中央改札外、中央通路
							p.shop_time 10:00 ~ 22:00
							p.shop_item チーズタルト
						section
							h4.shop_name EQUiA 北千住店
							p.shop_pin: a(target="_blank" href="https://maps.google.com/maps?ll=35.749612,139.805334&z=17&t=m&hl=ja&gl=JP&mapclient=embed&cid=1680103925946745343") 東京都足立区千住旭町42-1 東武北千住駅構内
							p.shop_time 10:00 ~ 21:00
							p.shop_item チーズタルト
						section
							h4.shop_name 立川店
							p.shop_pin: a(target="_blank" href="https://maps.google.com/maps?ll=35.697676,139.414288&z=20&t=m&hl=ja&gl=JP&mapclient=embed&cid=16882552579965764356") 東京都立川市柴崎町3-2-1 グランデュオ立川 改札内
							p.shop_time 10:00 ~ 21:00
							p.shop_item チーズタルト
						section
							h4.shop_name アトレ川崎店
							p.shop_pin: a(target="_blank" href="https://maps.google.com/maps?ll=35.531616,139.6972&z=16&t=m&hl=ja&gl=JP&mapclient=embed&cid=9328663903054648540") 神奈川県川崎市川崎区駅前本町26-1 アトレ川崎3F
							p.shop_time 10:00 ~ 22:00
							p.shop_item チーズタルト、ミルクソフト
						section
							h4.shop_name ららぽーと海老名店
							p.shop_pin: a(target="_blank" href="https://cheesetart.com/shop/lalaport-ebina/") 神奈川県海老名市扇町13-1 ららぽーと海老名1F
							p.shop_time 10:00 ~ 21:00
							p.shop_item チーズタルト、ミルクソフト
						section
							h4.shop_name テラスモール湘南店
							p.shop_pin: a(target="_blank" href="https://maps.google.com/maps?ll=35.337874,139.446246&z=18&t=m&hl=ja&gl=JP&mapclient=embed&cid=7373325018116549605") 神奈川県藤沢市辻堂神台1-3-1 テラスモール湘南1階 南モール内
							p.shop_time 10:00 ~ 21:00
							p.shop_item チーズタルト、ミルクソフト、ベイクブレンドコーヒー、シングルオリジンコーヒー、カフェラテ、ココア、ミルク、ベイクエスプレッソアフォガート
						section
							h4.shop_name 大宮店（JR大宮駅北口改札内 ディラ大宮内）
							p.shop_pin: a(target="_blank" href="https://maps.google.com/maps?ll=35.906653,139.623772&z=16&t=m&hl=ja&gl=JP&mapclient=embed&cid=2100065394879215206") 埼玉県さいたま市大宮区錦町630
							p.shop_time 8:00 ~ 22:00
							p.shop_item チーズタルト
						section
							h4.shop_name イクスピアリ店
							p.shop_pin: a(target="_blank" href="https://maps.google.com/maps?ll=35.634688,139.885167&z=17&t=m&hl=ja&gl=JP&mapclient=embed&cid=6903185239139879400") 千葉県浦安市舞浜1-4 イクスピアリ 1階ザ・コートヤード
							p.shop_time 11:00 ~ 21:00 <br>土日；10:00 ~ 21:00
							p.shop_item チーズタルト、ミルクソフト
						section
							h4.shop_name シャポー船橋店
							p.shop_pin: a(target="_blank" href="https://maps.google.com/maps?ll=35.701424,139.985111&z=19&t=m&hl=ja&gl=JP&mapclient=embed&cid=11060800701976501582") 千葉県船橋市本町7-1- 1 1F
							p.shop_time 10:00 ~ 21:00
							p.shop_item チーズタルト
						section
							h4.shop_name イオンモール高崎店
							p.shop_pin: a(target="_blank" href="https://maps.google.com/maps?ll=36.390139,139.006861&z=18&t=m&hl=ja&gl=US&mapclient=embed") 群馬県高崎市棟高町 1400番地 イオンモール高崎1階
							p.shop_time 10:00 ~ 22:00
							p.shop_item チーズタルト、ミルクソフト
				p.m-btn.is-pin.js-gaEventTracking(data-ga-group="button" data-ga-action="click" data-ga-label="bake other shop" data-ga-count="1"): a(href="https://cheesetart.com/shop/" target="_blank") #[span その他の店舗はこちらから]


		//#include virtual="/_inc/entry_sns.html"
		//#include virtual="/_inc/relation_gourmet.html"