extends /_pug/_inc/_layout

//-
	---------------------------------------------------------
	ページ固有の変数を定義
	---------------------------------------------------------
append setVar
	- layout = 'gourmet'
	- pageUrl = '/gourmet/basquecheesecake.html'
	- dirArray = createDirArray(pageUrl)
	- bodyAttributes.id = 'p-entry'
	- bodyAttributes.class = 'p-basquecheesecake.g-gourmet'

//-
	---------------------------------------------------------
	ページ固有のCSSを読み込み
	---------------------------------------------------------
append css
	link(rel="stylesheet" href="/css/p_entry.css")

//-
	---------------------------------------------------------
	コンテンツ
	---------------------------------------------------------
block main

	article.main_inner

		header.entry_header
			div.mainvisual
				p.mainvisual_pic: img(src="/gourmet/img/pic_basquecheesecake_01.jpg" alt="")
				p.mainvisual_date 2019.03.28
				h1.mainvisual_ttl: span インパクト大！真っ黒いチーズケーキ！？<br>「バスクチーズケーキ」専門店をご紹介！
			ul.c-tag_list
				li: a(href="/") #[span タグ1]
				li: a(href="/") #[span タグあああああ]


		//#include virtual="/_inc/advertise780.html"

		div.entry_content
			div.mokuji
				p.m-titleType03 目次
				ul.mokuji_list
					li: a(href="#anchor01") 「バスクチーズケーキ」の特徴は？
					li: a(href="#anchor02") ふわトロ食感「バスクチーズケーキ」。BELTZ【ベルツ】チーズケーキ専門店
					li: a(href="#anchor03") 直接レシピを伝授された日本人パティシエールが焼くバスクチーズケーキ。GAZTA【ガスタ】

			section.entry_section#anchor01
				h2.m-titleType02 「バスクチーズケーキ」の特徴は？
				div.entry_pic.m-bySide.is-2block
					div: img(src="/gourmet/img/pic_basquecheesecake_sub01.jpg" alt="")
					div: img(src="/gourmet/img/pic_basquecheesecake_sub02.jpg" alt="")
				p.entry_txt 真っ黒い表面が印象的なこのチーズケーキは、スペイン・バスク地方で生まれた「バスクチーズケーキ」。あえて長時間オーブンに入れて表面を焦がしてつくるバスクチーズケーキは、ほろ苦さとチーズの濃厚さが特徴的です。

			section.entry_section#anchor02
				h2.m-titleType02 ふわトロ食感「バスクチーズケーキ」。BELTZ【ベルツ】チーズケーキ専門店
				div.entry_pic.m-bySide.is-2block
					div: img(src="/gourmet/img/pic_basquecheesecake_sub03.jpg" alt="")
					div: img(src="/gourmet/img/pic_basquecheesecake_sub04.jpg" alt="")
				p.entry_txt BELTZ【ベルツ】のチーズケーキは外側のしっかり感と、内部のしっとり感の対比が秀逸。チーズの味わいも濃厚でとろける美味しさです。スフレとは違うフワフワ感が特徴です！
				div.entry_mapIframe: iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3242.0378339962513!2d139.7108502152579!3d35.65143948020121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bb18edd88a7%3A0x36636b9dd6738bdf!2zQkVMVFrjgJDjg5njg6vjg4TjgJHjg4Hjg7zjgrrjgrHjg7zjgq3lsILploDlupc!5e0!3m2!1sja!2sjp!4v1553762775532" width="1020" height="500" allowfullscreen)
				section.entry_shop
					div.m-bySide.is-2block.shop_list.js-shop_list
						section
							h4.shop_name.js-shop_name BELTZ【ベルツ】
							p.shop_pin 東京都渋谷区広尾2-2-18
							p.shop_time 11:00～19:00<br>※定休日：水曜日
							p.shop_item Smallサイズ（7cm）、Mediumサイズ（12cm）
		
			section.entry_section#anchor02
				h2.m-titleType02 直接レシピを伝授された日本人パティシエールが焼くバスクチーズケーキ。GAZTA【ガスタ】
				div.entry_pic.m-bySide.is-2block
					div: img(src="/gourmet/img/pic_basquecheesecake_sub05.jpg" alt="")
					div: img(src="/gourmet/img/pic_basquecheesecake_sub06.jpg" alt="")
				p.entry_txt バスクチーズケーキの元祖の「ラ・ヴィーニャ」から直接レシピを伝授された日本人パティシエールが焼くバスクチーズケーキ。本場の味が日本でも食べられる数少ないバスクチーズケーキ専門店！
				div.entry_mapIframe: iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12968.151390628358!2d139.70428414386657!3d35.651439143621445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b2e7c7c5bfb%3A0x414e32024b7ecb6d!2zR0FaVEEo44Ks44K544K_KQ!5e0!3m2!1sja!2sjp!4v1553763367409" width="1020" height="500" allowfullscreen)
				section.entry_shop
					div.m-bySide.is-2block.shop_list.js-shop_list
						section
							h4.shop_name.js-shop_name GAZTA【ガスタ】
							p.shop_pin 東京都港区白金1-14-10-1F
							p.shop_time 9:00～19:00<br>※定休日：月曜日※月曜日が祝日の場合は、翌日火曜日に振替します。
							p.shop_item バスクチーズケーキ（8cm）、バスクチーズケーキ（15cm）


		//#include virtual="/_inc/entry_sns.html"
		//#include virtual="/_inc/relation_gourmet.html"