extends /_pug/_inc/_layout

//-
	---------------------------------------------------------
	ページ固有の変数を定義
	---------------------------------------------------------
append setVar
	- layout = 'gourmet'
	- pageUrl = '/gourmet/chocolaphil.html'
	- dirArray = createDirArray(pageUrl)
	- bodyAttributes.id = 'p-entry'
	- bodyAttributes.class = 'p-chocolaphil.g-gourmet'

//-
	---------------------------------------------------------
	ページ固有のCSSを読み込み
	---------------------------------------------------------
append css
	link(rel="stylesheet" href="/css/p_entry.css")

//-
	---------------------------------------------------------
	コンテンツ
	---------------------------------------------------------
block main

	nav.m-breadcrumbs
		ol.m-breadcrumbs_list
			li: a(href="/") HOME
			li 自由が丘にオープン！ガトーショコラ専門店。「Chocolaphil（ショコラフィル）」

	article.main_inner

		header.entry_header
			div.mainvisual
				p.mainvisual_pic: img(src="/gourmet/img/pic_chocolaphil_01.jpg" alt="")
				p.mainvisual_date 2019.03.07
				h1.mainvisual_ttl: span 自由が丘にオープン！<br>ガトーショコラ専門店。「Chocolaphil（ショコラフィル）」
			ul.c-tag_list
				li: a(href="/") #[span タグ1]
				li: a(href="/") #[span タグあああああ]


		//#include virtual="/_inc/advertise780.html"

		div.entry_content
			div.mokuji
				p.m-titleType03 目次
				ul.mokuji_list
					li: a(href="#anchor01") ショコラフィルのコンセプトと特徴
					li: a(href="#anchor02") 商品ラインナップを2種類！カップタイプとバータイプ。
					li: a(href="#anchor03") 「Chocolaphil™」1号店、エトモ自由が丘にオープン！
					li: a(href="#anchor04") 期間限定の催事場情報！

			section.entry_section#anchor01
				h2.m-titleType02 ショコラフィルのコンセプトと特徴
				div.entry_pic.m-bySide.is-2block
					div: img(src="/gourmet/img/pic_chocolaphil_sub01.jpg" alt="")
					div: img(src="/gourmet/img/pic_chocolaphil_sub02.jpg" alt="")
				p.entry_txt ”チョコレートよりもチョコレートを感じるガトーショコラ”が「Chocolaphil™（ショコラフィル）」のコンセプト。チョコレートはアロマ生チョコ専門店「ca ca o」が手掛ける、コロンビア産の厳選されたチョコレートを2種使用。

			section.entry_section#anchor02
				h2.m-titleType02 商品ラインナップを2種類！カップタイプとバータイプ。
				div.m-bySide.is-2block
					section
						p.entry_pic: img(src="/gourmet/img/pic_chocolaphil_sub03.jpg" alt="")
						h3.entry_ttl #[span 焼きたてガトーショコラ ロンド]<br>ムースのようなふんわりとした口溶けに仕上げています。
					section
						p.entry_pic: img(src="/gourmet/img/pic_chocolaphil_sub04.jpg" alt="")
						h3.entry_ttl #[span ガトーショコラ レクタングル]<br>カカオらしいおいしさをぎゅっと濃厚に閉じ込めました。
						
			section.entry_section#anchor03
				h2.m-titleType02 「Chocolaphil™」1号店、エトモ自由が丘にオープン！
				p.entry_txt 2019年2月1日(金)、自由が丘駅直結の商業施設「エトモ自由が丘」内に、ガトーショコラ専門店「Chocolaphil™」1号店をオープンいたします。
				div.entry_mapIframe: iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3243.838361347532!2d139.6661221152567!3d35.60705358021164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f5141bbcdfd7%3A0x2ae417fb0728879a!2zQ2hvY29sYXBoaWwg44Ko44OI44Oi6Ieq55Sx44GM5LiY5bqX!5e0!3m2!1sja!2sjp!4v1551863724022" width="1020" height="500" allowfullscreen)
				div.entry_shop
					div.m-bySide.is-2block.shop_list
						section
							h4.shop_name 自由が丘店
							p.shop_pin 東京都目黒区自由が丘一丁目31番11号（自由が丘駅改札外）
							p.shop_time 11:00 ~ 20:00

			section.entry_section#anchor04
				h2.m-titleType02 期間限定の催事場情報！
				section.entry_shop
					div.m-bySide.is-3block.shop_list
						section
							h4.shop_name 銀座三越ポップアップショップ
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/zvQ51p463ZA2") 東京都中央区銀座4丁目6−16 銀座三越B2階銀座ステージ
							p.shop_time 期間：2019年2月4日〜2月14日
						section
							h4.shop_name たまプラーザテラスポップアップショップ
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/jkCeTLcnrTU2") 神奈川県横浜市青葉区美しが丘1-1-2 たまプラーザテラスゲートプラザ 1F テラスハッチ
							p.shop_time 期間：2019年3月2日〜3月31日


		//#include virtual="/_inc/entry_sns.html"
		//#include virtual="/_inc/relation_gourmet.html"