extends /_pug/_inc/_layout

//-
	---------------------------------------------------------
	ページ固有の変数を定義
	---------------------------------------------------------
append setVar
	- layout = 'entry'
	- pageUrl = '/gourmet/daifuku.html'
	- dirArray = createDirArray(pageUrl)
	- bodyAttributes.id = 'p-entry'
	- bodyAttributes.class = 'p-daifuku.g-gourmet'

//-
	---------------------------------------------------------
	ページ固有のCSSを読み込み
	---------------------------------------------------------
append css
	link(rel="stylesheet" href="/css/p_entry.css")

//-
	---------------------------------------------------------
	コンテンツ
	---------------------------------------------------------
block main

	article.main_inner

		header.entry_header
			div.mainvisual
				p.mainvisual_pic: img(src="/gourmet/img/pic_daifuku_01.jpg" alt="")
				p.mainvisual_date 2019.03.14
				h1.mainvisual_ttl: span 東京三大豆大福！<br>手土産におすすめ「売り切れ必至」の有名店
			ul.c-tag_list
				li: a(href="/") #[span タグ1]
				li: a(href="/") #[span タグあああああ]
				li: a(href="/") #[span タグ3]
				li: a(href="/") #[span タグｆｆｆ]
				li: a(href="/") #[span タグ5]
				li: a(href="/") #[span タグ6]
				li: a(href="/") #[span タグ3]
				li: a(href="/") #[span タグｆｆｆ]
				li: a(href="/") #[span タグ5]
				li: a(href="/") #[span タグ6]

		//#include virtual="/_inc/advertise780.html"

		div.entry_content
			div.mokuji
				p.m-titleType03 目次
				ul.mokuji_list
					li: a(href="#anchor01") しっとりのこしあんが特徴。瑞穂（みずほ）～原宿～
					li: a(href="#anchor02") 大きな赤エンドウ豆ぎっしり。群林堂（ぐんりんどう）～護国寺～
					li: a(href="#anchor03") ふわっととろける食パン！高級食パンの先駆け。「乃が美」

			section.entry_section#anchor01
				h2.m-titleType02 しっとりのこしあんが特徴。瑞穂（みずほ）～原宿～
				div.entry_pic.m-bySide.is-2block
					div: img(src="/gourmet/img/pic_daifuku_sub01.jpg" alt="")
					div: img(src="/gourmet/img/pic_daifuku_sub02.jpg" alt="")
				p.entry_txt あんことおもちの割合が９：１というかなり特徴的な大福。ほぼあん笑<br>しっとりしたこしあんと、柔らかなおもちが超絶美味しい。多めの豆も柔らかめの大福のいいアクセントになっています。商品も豆大福と最中のみ。午後には売り切れてしまうこともあるので、もし行くなら電話予約か午前中をおすすめします。
				p.m-btn: a(href="tel:0334005483") #[span 「瑞穂」に電話する <0334005483>]
				div.entry_mapIframe: iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.407017758259!2d139.70341041510423!3d35.6669787801976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ca4105948f7%3A0xfef946029b26a8!2z55Ge56mC!5e0!3m2!1sja!2sjp!4v1552606948442" width="1020" height="500" allowfullscreen)
				section.entry_shop
					div.m-bySide.is-2block.shop_list.js-shop_list
						section
							h4.shop_name.js-shop_name 瑞穂
							p.shop_pin 東京都渋谷区神宮前６丁目８−７
							p.shop_time 8:30～18:00<br>※売り切れ次第終了<br>※定休日：日曜日
							p.shop_item 豆大福、瑞穂最中
		
			section.entry_section#anchor02
				h2.m-titleType02 大きな赤エンドウ豆ぎっしり。群林堂（ぐんりんどう）～護国寺～
				div.entry_pic.m-bySide.is-2block
					div: img(src="/gourmet/img/pic_daifuku_sub03.jpg" alt="")
					div: img(src="/gourmet/img/pic_daifuku_sub04.jpg" alt="")
				p.entry_txt 群林堂の豆大福の特徴はなんといってもこの「豆」存在感にあります。大きな赤エンドウ豆がゴロゴロと大量に入っています！餡はあまり塩気がなく甘さがストレートに感じられます。こちらも大人気店ですので、午前中に行くことをおすすめします。
				div.entry_mapIframe: iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.3528292612964!2d139.72630235067032!3d35.71754028008857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d0890900001%3A0xc3ec114555271041!2z6I-T5a2Q5YemIOe-pOael-Wggg!5e0!3m2!1sja!2sjp!4v1552866972799" width="1020" height="500" allowfullscreen)
				section.entry_shop
					div.m-bySide.is-2block.shop_list.js-shop_list
						section
							h4.shop_name.js-shop_name 群林堂
							p.shop_pin 東京都文京区音羽2-1-2
							p.shop_time 9:30～17:00<br>※定休日：日曜日・月曜日
							p.shop_item 豆大福、豆餅、おはぎ(こしあん)、かのこ	

			section.entry_section#anchor03
				h2.m-titleType02 しっとりのこしあんが特徴の瑞穂（みずほ）～原宿～
				div.entry_pic.m-bySide.is-2block
					div: img(src="/gourmet/img/pic_daifuku_sub05.jpg" alt="")
					div: img(src="/gourmet/img/pic_daifuku_sub06.jpg" alt="")
				p.entry_txt あんことおもちの割合が９：１というかなり特徴的な大福。ほぼあん笑<br>しっとりしたこしあんと、柔らかなおもちが超絶美味しい。多めの豆も柔らかめの大福のいいアクセントになっています。商品も豆大福と最中のみ。午後には売り切れてしまうこともあるので、もし行くなら電話予約か午前中をおすすめします。
				div.entry_mapIframe: iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3242.480857724385!2d139.73519401525763!3d35.64052268020376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bac773afa9f%3A0x4b072e1c2ef90f04!2z5p2-5bO25bGL!5e0!3m2!1sja!2sjp!4v1552866926506" width="1020" height="500" allowfullscreen)
				section.entry_shop
					div.m-bySide.is-2block.shop_list.js-shop_list
						section
							h4.shop_name.js-shop_name 松島屋
							p.shop_pin 東京都港区高輪1-5-25
							p.shop_time 88:30～18:00<br>※定休日：日曜日・月2回月曜不定休
							p.shop_item 豆大福、草大福、栗大福、きび大福、豆餅、赤飯、みたらしだんご
			
							

		//#include virtual="/_inc/entry_sns.html"
		//#include virtual="/_inc/relation_gourmet.html"