extends /_pug/_inc/_layout

//-
	---------------------------------------------------------
	ページ固有の変数を定義
	---------------------------------------------------------
append setVar
	- layout = 'entry'
	- pageUrl = '/gourmet/dou.html'
	- dirArray = createDirArray(pageUrl)
	- bodyAttributes.id = 'p-entry'
	- bodyAttributes.class = 'p-dou.g-gourmet'

//-
	---------------------------------------------------------
	ページ固有のCSSを読み込み
	---------------------------------------------------------
append css
	link(rel="stylesheet" href="/css/p_entry.css")

//-
	---------------------------------------------------------
	コンテンツ
	---------------------------------------------------------
block main

	nav.m-breadcrumbs
		ol.m-breadcrumbs_list
			li: a(href="/") HOME
			li 誰も食べたことのない和菓子、生どら焼き専門店「DOU（ドウ）」

	article.main_inner

		header.entry_header
			div.mainvisual
				p.mainvisual_pic: img(src="/gourmet/img/pic_dou_01.jpg" alt="")
				p.mainvisual_date 2019.03.06
				h1.mainvisual_ttl: span 誰も食べたことのない和菓子、<br>生どら焼き専門店「DOU（ドウ）」
			ul.c-tag_list
				li: a(href="/") #[span タグ1]
				li: a(href="/") #[span タグあああああ]


		//#include virtual="/_inc/advertise780.html"

		div.entry_content
			div.mokuji
				p.m-titleType03 目次
				ul.mokuji_list
					li: a(href="#anchor01") 新しいタイプの生どら焼き「DOU」の特徴って？
					li: a(href="#anchor02") パッケージにも和菓子ならではの魅力が！
					li: a(href="#anchor03") 生どら焼き「DOU」の店舗はどこ？

			section.entry_section#anchor01
				h2.m-titleType02 新しいタイプのどら焼き「DOU」の特徴って？
				div.entry_pic.m-bySide.is-2block
					div: img(src="/gourmet/img/pic_dou_sub01.jpg" alt="")
					div: img(src="/gourmet/img/pic_dou_sub02.jpg" alt="")
				p.entry_txt どら焼きといえば皮を2つ使ってあんこを挟むタイプですが、DOUの生どら焼きは1枚の皮を半分に折り畳み包むような形になります。どら焼きの中には生クリームがたっぷり詰まっていますが、脂肪分35度の北海道産クリームを使用しているので、甘すぎることなく、サッパリとした軽い口当たりが特徴です。<br>さらにモチモチの求肥入り！！このモチモチの食感がこの生どら焼きのいいアクセントになっています。

			section.entry_section#anchor02
				h2.m-titleType02 パッケージにも和菓子ならではの魅力が！
				div.entry_pic.m-bySide.is-2block
					div: img(src="/gourmet/img/pic_dou_sub03.jpg" alt="")
					div: img(src="/gourmet/img/pic_dou_sub04.jpg" alt="")
				p.entry_txt 先ほどのDOUの生どら焼きの特徴でもお話ししましたが、生クリームや1枚の皮で包むなど洋風なポイントがあり、「和と洋の共鳴」をコンセプトに作り上げられています。和菓子の器に敷かれる懐紙などからインスピレーションを受けパッケージデザインが作られているそうです。お世話になっている上司への手土産にもお勧めです！！　但し、生菓子ですのでおおよそ二日間が消費期限になりますのでご注意を！

			section.entry_section#anchor03
				h2.m-titleType02 生どら焼き「DOU」の店舗はどこ？
				p.entry_txt この記事の公開時は今のところ池袋の1店舗だけ。それでも手土産に喜ばれること間違いなしなので一度お試しあれ！
				div.entry_mapIframe: iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.8246500344503!2d139.708893215106!3d35.73053078018274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d5d85a926b7%3A0xe2a7c698eab0a034!2zRE9VIOaxoOiii-W6lw!5e0!3m2!1sja!2sjp!4v1551399346897" width="1020" height="500" allowfullscreen)
				div.entry_shop
					div.m-bySide.is-2block.shop_list
						section
							h4.shop_name 池袋店
							p.shop_pin 〒170-0014 東京都豊島区西池袋1-1-21 東武池袋駅構内 B1F
							p.shop_time 10:00 ~ 22:00


		//#include virtual="/_inc/entry_sns.html"
		//#include virtual="/_inc/relation_gourmet.html"