extends /_pug/_inc/_layout

//-
	---------------------------------------------------------
	ページ固有の変数を定義
	---------------------------------------------------------
append setVar
	- layout = 'entry'
	- pageUrl = '/gourmet/pogg.html'
	- dirArray = createDirArray(pageUrl)
	- bodyAttributes.id = 'p-entry'
	- bodyAttributes.class = 'p-poggo.g-gourmet'

//-
	---------------------------------------------------------
	ページ固有のCSSを読み込み
	---------------------------------------------------------
append css
	link(rel="stylesheet" href="/css/p_entry.css")

//-
	---------------------------------------------------------
	コンテンツ
	---------------------------------------------------------
block main

	article.main_inner

		header.entry_header
			div.mainvisual
				p.mainvisual_pic: img(src="/gourmet/img/pic_pogg_01.jpg" alt="")
				p.mainvisual_date 2019.03.06
				h1.mainvisual_ttl: span 誰もが懐かしさを感じるスイーツ！<br>焼きたてスイートポテト”パイ”専門店の「POGG（ポグ）」
			ul.c-tag_list
				li: a(href="/") #[span タグ1]
				li: a(href="/") #[span タグあああああ]


		//#include virtual="/_inc/advertise780.html"

		div.entry_content
			div.mokuji
				p.m-titleType03 目次
				ul.mokuji_list
					li: a(href="#anchor01") 3種類の食感を組み合わせた、三角柱型の新感覚スイートポテト。
					li: a(href="#anchor02") 店舗はコンテナをモチーフにしたデザイン
					li: a(href="#anchor03") スイートポテト”パイ”「POGG（ポグ）」の店舗一覧

			section.entry_section#anchor01
				h2.m-titleType02 3種類の食感を組み合わせた、三角柱型の新感覚スイートポテト。
				div.entry_pic.m-bySide.is-2block
					div: img(src="/gourmet/img/pic_pogg_sub01.jpg" alt="")
					div: img(src="/gourmet/img/pic_pogg_sub02.jpg" alt="")
				p.entry_txt ホクホク感のあるペースト、とろっとした優しい甘みのポテトクリーム、サクサクのパイの3種類の食感を1つにしたスイートポテト”パイ”「POGG（ポグ）」。素材にもこだわり、ほくほくとしたペーストととろりとしたクリームには、それぞれの食感を実現するために、異なる品種の厳選した国産さつまいもを使用している。

			section.entry_section#anchor02
				h2.m-titleType02 店舗はコンテナをモチーフにしたデザイン
				div.entry_pic.m-bySide.is-2block
					div: img(src="/gourmet/img/pic_pogg_sub03.jpg" alt="")
					div: img(src="/gourmet/img/pic_pogg_sub04.jpg" alt="")
				p.entry_txt さつまいもを収納しておくコンテナのような店舗。#[a(href="/gourmet/bake.html") BAKE] が手掛ける専門店同様に工房一体型となっているため、店頭にはいつでも焼きたての商品が楽しめます。

			section.entry_section#anchor03
				h2.m-titleType02 スイートポテト”パイ”「POGG（ポグ）」の店舗一覧
				section.entry_shop
					div.m-bySide.is-3block.shop_list
						section
							h4.shop_name 新宿ルミネエスト店
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/cgXjDGxMdLz") 東京都新宿区新宿 3-38-1 ルミネエスト 1F
							p.shop_time 11:00 ~ 21:00<br>土日祝；10:30 ~ 21:30
							p.shop_item スイートポテトパイ
						section
							h4.shop_name ラゾーナ川崎店
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/FVFQR85T4ST2") 神奈川県川崎市幸区堀川町72-1 ラゾーナ川崎1F
							p.shop_time 10:00 ~ 21:00
							p.shop_item スイートポテトパイ
						section
							h4.shop_name 大宮駅店
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/mi2qzmfLduR2") 埼玉県さいたま市大宮区錦町630 大宮駅構内
							p.shop_time 10:00 ~ 22:00
							p.shop_item スイートポテトパイ、スイートポテトソフト

		//#include virtual="/_inc/entry_sns.html"
		//#include virtual="/_inc/relation_gourmet.html"