extends /_pug/_inc/_layout

//-
	---------------------------------------------------------
	ページ固有の変数を定義
	---------------------------------------------------------
append setVar
	- layout = 'entry'
	- pageUrl = '/gourmet/sparklingwine.html'
	- dirArray = createDirArray(pageUrl)
	- bodyAttributes.id = 'p-entry'
	- bodyAttributes.class = 'p-sparklingwine.g-gourmet'

//-
	---------------------------------------------------------
	ページ固有のCSSを読み込み
	---------------------------------------------------------
append css
	link(rel="stylesheet" href="/css/p_entry.css")

//-
	---------------------------------------------------------
	コンテンツ
	---------------------------------------------------------
block main

	nav.m-breadcrumbs
		ol.m-breadcrumbs_list
			li: a(href="/") HOME
			li せっかくならちょっと素敵なお酒を贈りたい！誕生日パーティーの乾杯におすすめのスパークリングワイン3選

	article.main_inner

		header.entry_header
			div.mainvisual
				p.mainvisual_pic: img(src="/gourmet/img/pic_sparklingwine_01.jpg" alt="スパークリングワイン")
				p.mainvisual_date 2019.04.17
				h1.mainvisual_ttl: span せっかくならちょっと素敵なお酒を贈りたい！<br>誕生日パーティーの乾杯におすすめのスパークリングワイン3選
			ul.c-tag_list
				li: a(href="/") #[span タグ1]
				li: a(href="/") #[span タグあああああ]


		//#include virtual="/_inc/advertise780.html"

		div.entry_content
			div.mokuji
				p.m-titleType03 目次
				ul.mokuji_list
					li: a(href="#anchor01") バラが香りが特徴のマリー・アントワネットのお酒！『NINA'S（ニナス）』のスパークリングワイン
					li: a(href="#anchor02") スペイン生まれのキラキラ輝くスパークリングワイン『マバム (MAVAM) 』
					li: a(href="#anchor03") 本数限定！『ニヴェス・カッツペリーニ』の華やかなベリー系スパークリングワイン

			section.entry_section#anchor01
				h2.m-titleType02 バラが香りが特徴のマリー・アントワネットのお酒！『NINA'S（ニナス）』のスパークリングワイン
				div.entry_pic.m-bySide.is-2block
					div: img(src="/gourmet/img/pic_sparklingwine_sub01.jpg" alt="『NINA'S（ニナス）』のスパークリングワイン")
					div: img(src="/gourmet/img/pic_sparklingwine_sub02.jpg" alt="『NINA'S（ニナス）』のスパークリングワイン")
				p.entry_txt あのヴェルサイユ宮殿に今でも残っている菜園「王の菜園」で一つひとつ手摘みされるバラとリンゴで作られているロゼのスパークリングワイン。ふわっと広がるバラの香りはなんともエレガント。お酒好きの女性の誕生日をお祝いするのにぴったりです。
				p.m-btn: a( target="_blank" href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=27059&r_v=g00poww3.9tq3e93b.g00poww3.9tq3f8dc&s_v=&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fmzt%2Fmkbbjjs%2F") #[span オンラインショップはこちら]
				

			section.entry_section#anchor02
				h2.m-titleType02 スペイン生まれのキラキラ輝くスパークリングワイン『マバム (MAVAM) 』
				div.entry_pic.m-bySide.is-2block
					div: img(src="/gourmet/img/pic_sparklingwine_sub03.jpg" alt="スパークリングワイン『マバム (MAVAM) 』")
					div: img(src="/gourmet/img/pic_sparklingwine_sub04.jpg" alt="スパークリングワイン『マバム (MAVAM) 』")
				p.entry_txt ボトルを回すと輝き出すラメが輝きだす世界初のスパークリングワイン。誕生日パーティに持って行ったときには注目を集めること間違いなしです！スイートなイチゴのフレーバーや、爽やかなグリーンアップルなど、色々楽しめます！アルコール度数が低い甘口で、お酒の弱い方でも楽しめるのもうれしいです！
				div.m-bySide.is-2block
					section
						p.entry_pic: img(src="/gourmet/img/pic_sparklingwine_sub05.jpg" alt="マバム グラシア")
						h3.entry_ttl #[span #[em MAVAM GLACIAR] [マバム グラシア]]<br>日本初上陸を果たしたラメ入りスパークリングワイン！今や６種のフレーバーを楽しめるマバムですが、原点となるのが「マバム グラシア」。最もスタンダードで、ノンフレーバー。オリジナル商品なので、他よりアルコールもやや低めの5.5%。
						p.m-btn: a( target="_blank" href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=27059&r_v=g00pjsk3.9tq3e92f.g00pjsk3.9tq3febc&s_v=&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fricaoh%2F189426%2F") #[span オンラインショップはこちら]
					section
						p.entry_pic: img(src="/gourmet/img/pic_sparklingwine_sub06.jpg" alt="マバム テンテーション")
						h3.entry_ttl #[span #[em MAVAM TENTATION] [マバム テンテーション]]<br>女子人気NO.1フルーツといえば、「ストロベリー」！ボトルを開ければ、ほのかに香る「ストロベリー」フレーバーです。振る前は赤色、ボトルを振ると見る見る間にピンクシルバーへと色が変化します。
						p.m-btn: a( target="_blank" href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=27059&r_v=g00pjsk3.9tq3e92f.g00pjsk3.9tq3febc&s_v=&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fricaoh%2F189427%2F") #[span オンラインショップはこちら]
					section
						p.entry_pic: img(src="/gourmet/img/pic_sparklingwine_sub07.jpg" alt="マバム マジック")
						h3.entry_ttl #[span #[em MAVAM MAGIC] [マバム マジック]]<br>すっきり、爽やか、グリーンアップルフレーバーの「マバム マジック」。「りんごジュース」みたいなラメ入りスパークリングワイン。すっきり、爽やかで程よい泡立ちで心踊ります。老若男女の心を鷲掴みする優しい味わいで大人気です。
						p.m-btn: a( target="_blank" href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=27059&r_v=g00pjsk3.9tq3e92f.g00pjsk3.9tq3febc&s_v=&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fricaoh%2F189428%2F") #[span オンラインショップはこちら]
					section
						p.entry_pic: img(src="/gourmet/img/pic_sparklingwine_sub08.jpg" alt="マバム フリーダム")
						h3.entry_ttl #[span #[em MAVAM FREEDOM] [マバム フリーダム]]<br>お酒との相性ナンバー1のレモン・ライム味「マバムフリーダム」！レモン・ライムのすっきりとした柑橘フレーバーはお酒との相性抜群！
						p.m-btn: a( target="_blank" href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=27059&r_v=g00pjsk3.9tq3e92f.g00pjsk3.9tq3febc&s_v=&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fricaoh%2F191526%2F") #[span オンラインショップはこちら]

			section.entry_section#anchor03
				h2.m-titleType02 本数限定！『ニヴェス・カッツペリーニ』の華やかなベリー系スパークリングワイン
				div.entry_pic.m-bySide.is-2block
					div: img(src="/gourmet/img/pic_sparklingwine_sub09.jpg" alt="『NINA'S（ニナス）』のスパークリングワイン")
					div: img(src="/gourmet/img/pic_sparklingwine_sub10.jpg" alt="『NINA'S（ニナス）』のスパークリングワイン")
				p.entry_txt 「ARMANI」「VALENTINO」「DOLCE＆GABBANA」など、ハイブランドで活躍するデザイナー「ニヴェスカッペリーニ」とのコラボによるデザインボトルです。ワインはヴェネト州トレビーゾのプロセッコDOCエリアで生産される、本格的辛口ロゼスパークリングワイン。口当たりも良く、食前酒、前菜、お魚料理全般、デザートとの相性も抜群です。
				p.m-btn: a( target="_blank" rel="nofollow" href="https://gurusuguri.com/shop/fukumasa-reeferwine/5012/?__ngt__=TT0f5c1d76e003ac1e4ae729KhOYFyPdRL_1bOMp1Tsevp") #[span オンラインショップはこちら]


		//#include virtual="/_inc/entry_sns.html"
		//#include virtual="/_inc/relation_gourmet.html"