extends /_pug/_inc/_layout

//-
	---------------------------------------------------------
	ページ固有の変数を定義
	---------------------------------------------------------
append setVar
	- layout = 'gourmet'
	- pageUrl = '/gourmet/whitebread.html'
	- dirArray = createDirArray(pageUrl)
	- bodyAttributes.id = 'p-entry'
	- bodyAttributes.class = 'p-whitebread.g-gourmet'

//-
	---------------------------------------------------------
	ページ固有のCSSを読み込み
	---------------------------------------------------------
append css
	link(rel="stylesheet" href="/css/p_entry.css")

//-
	---------------------------------------------------------
	コンテンツ
	---------------------------------------------------------
block main

	article.main_inner

		header.entry_header
			div.mainvisual
				p.mainvisual_pic: img(src="/gourmet/img/pic_whitebread_01.jpg" alt="")
				p.mainvisual_date 2019.03.14
				h1.mainvisual_ttl: span 一度味わうとリピーター確実！<br>2019年 おすすめの差し入れ『生食パン」シリーズ
			ul.c-tag_list
				li: a(href="/") #[span タグ1]
				li: a(href="/") #[span タグあああああ]
				li: a(href="/") #[span タグ3]
				li: a(href="/") #[span タグｆｆｆ]
				li: a(href="/") #[span タグ5]
				li: a(href="/") #[span タグ6]
				li: a(href="/") #[span タグ3]
				li: a(href="/") #[span タグｆｆｆ]
				li: a(href="/") #[span タグ5]
				li: a(href="/") #[span タグ6]

		//#include virtual="/_inc/advertise780.html"

		div.entry_content
			div.mokuji
				p.m-titleType03 目次
				ul.mokuji_list
					li: a(href="#anchor01") そのままでも焼いても旨い！モチモチ感がたまらない『俺のBakery &amp; Cafe』
					li: a(href="#anchor02") シフォンケーキのような食パン！ふわふわ「セントル・ザ・ベーカリー」
					li: a(href="#anchor03") ふわっととろける食パン！高級食パンの先駆け。「乃が美」

			section.entry_section#anchor01
				h2.m-titleType02 そのままでも焼いても旨い！モチモチ感がたまらない『俺のBakery &amp; Cafe』
				div.entry_pic.m-bySide.is-2block
					div: img(src="/gourmet/img/pic_whitebread_sub01.jpg" alt="")
					div: img(src="/gourmet/img/pic_whitebread_sub02.jpg" alt="")
				p.entry_txt 「俺のBakery &amp; Cafe」の「俺の生食パン」は、「2017年度パン・オブ・ザイ・ヤー食パン部門」で金賞を受賞した人気パン！はまりすぎて私も「銀座の食パン～夢～」を毎週いただいております。。<br>「俺のBakery &amp; Cafe」の一番の特徴はパン自体の水分量が通常の食パンと比べてかなり多く、そのままでも焼いてもモッチモチ感が変わらないこと。パンはフワフワ・モチモチ好き！という方はぜひお試しください！<br>店舗によってはWEB予約を受け付けておりますので、心配な方はご予約してからお買い求めください。
				p.m-btn.js-gaEventTracking(data-ga-group="button" data-ga-action="click" data-ga-label="whitebread onlinereserve" data-ga-count="1"): a(href="https://www.tablecheck.com/ja/shops/oreno-bakery-cafe-kabukizamae/reserve" target="_blank") #[span WEB予約はこちらから]
				section.entry_shop
					h3.m-titleType04.shop_head #[span 俺のBakery &amp; Cafe] の店舗一覧
					div.m-bySide.is-3block.shop_list.js-shop_list
						section
							h4.shop_name.js-shop_name 俺のGrill&amp;Bakery 大手町店
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/5fC81ydQvFK2") 東京都千代田区大手町1-7-2　東京サンケイビル B2F
							p.shop_time 10:00～21:00
							p.shop_item 銀座の食パン～香～<br>銀座の食パン～夢～<br>山型の食パン<br>チョコレートとオレンジピール<br>3種のレーズン<br>世界三大有機ナッツの食パン
						section
							h4.shop_name.js-shop_name 俺のBakery&amp;Cafe 恵比寿店
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/pa3JgZFBxTC2") 東京都渋谷区恵比寿4-20-6　恵比寿ガーデンプレイス　時計広場
							p.shop_time 10:00～21:00
							p.shop_item 銀座の食パン～香～<br>銀座の食パン～夢～<br>山型の食パン<br>マスカルポーネとはちみつ<br>チョコレートとアーモンド<br>クワトロフォルマッジ
						section
							h4.shop_name.js-shop_name 俺のBakery&amp;Cafe 松屋銀座 裏店
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/qn729PRQp4L2") 東京都中央区銀座3-7-16　銀座NSビル1F・2F
							p.shop_time 10:00～21:00
							p.shop_item 銀座の食パン～香～<br>銀座の食パン～夢～<br>山型の食パン<br>トリュフ・トリュフ・トリュフ<br>マスカルポーネとはちみつ<br>チョコレートとラズベリー<br>イベリコチョリソーとチーズ<br>大納言<br>ミルクチョコとアーモンド
						section
							h4.shop_name.js-shop_name 俺のBakery&amp;Cafe 新宿京王モール店
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/Lwb2X9srzWG2") 東京都新宿区西新宿1丁目 南口地下街1号 京王モールB1F
							p.shop_time 10:00～21:00
							p.shop_item 銀座の食パン～香～<br>銀座の食パン～夢～<br>山型の食パン<br>チョコレートとオレンジピール<br>マスカルポーネとはちみつ<br>大納言<br>ミルクチョコとアーモンド
						section
							h4.shop_name.js-shop_name 俺のBakery&amp;Cafe 京橋中央通店
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/uRx7sk8Zt2u") 東京都中央区京橋2丁目5番22号 キムラヤビル1F
							p.shop_time 10:00～21:00
							p.shop_item 銀座の食パン～香～<br>銀座の食パン～夢～<br>山型の食パン<br>チョコレートとオレンジピール<br>マスカルポーネとはちみつ
						section
							h4.shop_name.js-shop_name 俺のBakery&amp;Cafe 東銀座歌舞伎座前店
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/Bv3nLr9AzU82") 東京都中央区銀座5丁目13-19 デュープレックスタワー5/13 1階・2階
							p.shop_time 10:00～21:00
							p.shop_item 銀座の食パン～香～<br>銀座の食パン～夢～<br>山型の食パン<br>マスカルポーネとはちみつ<br>チョコレートとミックスベリー<br>紅茶の食パン
						section
							h4.shop_name.js-shop_name 俺のBakery&amp;Cafe グランツリー武蔵小杉店
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/pFtjJSVBPNS2") 神奈川県川崎市中原区新丸子東3-1135-1 グランツリー武蔵小杉 2階 252区画
							p.shop_time 10:00～21:00
							p.shop_item 銀座の食パン～香～<br>銀座の食パン～夢～<br>山型の食パン<br>マスカルポーネとはちみつ<br>4種のシリアルの食パン<br>とうもろこしの食パン
						section
							h4.shop_name.js-shop_name 俺のGrill&amp;Bakery 心斎橋店
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/2reJoWwTS8M2") 大阪府大阪市中央区東心斎橋1-19-11 鰻谷スクエア1階
							p.shop_time 11:00～21:00
							p.shop_item 銀座の食パン～香～<br>銀座の食パン～夢～<br>山型の食パン<br>マスカルポーネとはちみつ<br>大納言<br>クワトロフォルマッジ<br>トリュフ・トリュフ・トリュフ※WEB予約限定

			section.entry_section#anchor02
				h2.m-titleType02 シフォンケーキのような食パン！ふわふわ「セントル・ザ・ベーカリー」
				div.entry_pic.m-bySide.is-2block
					div: img(src="/gourmet/img/pic_whitebread_sub03.jpg" alt="")
					div: img(src="/gourmet/img/pic_whitebread_sub04.jpg" alt="")
				p.entry_txt 「セントル・ザ・ベーカリー」の食パンは、とにかく甘さが前面に出ていて、シフォンケーキのイメージに近い感じがします。サンドイッチでフルーツなど挟んでスイーツ感覚でいただくのがおすすめです。種類は小麦の種類違いの「角食」「プルマン」、山型「イギリスパン」の3種類。<br>ただ、イギリスパンのみ焼き上げが朝イチの1度のみなので、希望する場合は開店時間を狙うのが良さそうです。
				div.entry_mapIframe: iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.0571290934026!2d139.76434431525874!3d35.67559528019568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188be494b4c413%3A0x7217f50ecd1d80f3!2z44K744Oz44OI44OrIOOCtuODu-ODmeODvOOCq-ODquODvA!5e0!3m2!1sja!2sjp!4v1552458459603" width="1020" height="500" allowfullscreen)
				div.entry_shop
					div.m-bySide.is-2block.shop_list
						section
							h4.shop_name 銀座店
							p.shop_pin 東京都中央区銀座1-2-1 東京高速道路紺屋ビル 1F
							p.shop_time 10:00～19:00
							p.shop_item 角食、プルマン、イギリスパン
						section
							h4.shop_name 青山店
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/FXT49sgqpRp") 大東京都渋谷区神宮前5-52-2 青山オーバルビル 1F
							p.shop_time 10:00～19:00
							p.shop_item 角食、プルマン、イギリスパン
							
			section.entry_section#anchor03
				h2.m-titleType02 ふわっととろける食パン！高級食パンの先駆け。「乃が美」
				div.entry_pic.m-bySide.is-2block
					div: img(src="/gourmet/img/pic_whitebread_sub05.jpg" alt="")
					div: img(src="/gourmet/img/pic_whitebread_sub06.jpg" alt="")
				p.entry_txt 「乃が美」の食パンも、そのまま生で食べるのが一番美味しい食べ方です。卵を使わない常識を覆す製法で作り上げる「乃が美」の食パンは、耳も含めて驚くほどふわふわできめ細かな仕上がり。ご年配の方からお子様まで食べられるので、おみやげや差し入れにも喜ばれています。サイズは「レギュラー（2斤）」と「ハーフ（1斤）」の2種類。<br>もうひとつ「乃が美」はギフト発送もやっているのでギフトとしてもおすすめです。
				p.m-btn.js-gaEventTracking(data-ga-group="button" data-ga-action="click" data-ga-label="whitebread onlinereserve" data-ga-count="1"): a(href="http://nogaminopan.com/inquiry/#pi_02" target="_blank") #[span WEB予約はこちらから]
				section.entry_shop
					h3.m-titleType04.shop_head #[span 乃が美] の店舗一覧
					div.m-bySide.is-3block.shop_list.js-shop_list
						section
							h4.shop_name.js-shop_name 麻布十番店
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/Gm1BXKNhMY22") 東京都港区麻布十番1-9-7 麻布KFビル１F
							p.shop_time 11:00～18:00　※定休日：火曜日
						section
							h4.shop_name.js-shop_name はなれ たまプラーザ店
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/Y96pd5uAKtP2") 神奈川県横浜市青葉区新石川2-4-12 フォーラムたまプラーザビル1F
							p.shop_time 11:00～19:00　※定休日：月曜日
						section
							h4.shop_name.js-shop_name はなれ 川崎販売店
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/mG6paCLnjj12") 神奈川県川崎市幸区幸町2-686-3 第二齋藤ビル1F
							p.shop_time 11:00～完売次第終了　※定休日：月曜日
						section
							h4.shop_name.js-shop_name はなれ 関内店
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/YZU13EV4asK2") 神奈川県横浜市中区常盤町1-2-1 関内電子ビル１F
							p.shop_time 11:00～19:00　※定休日：火曜日
						section
							h4.shop_name.js-shop_name はなれ 草加店
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/VRbhM5LUHtL2") 埼玉県草加市草加4-5-5
							p.shop_time 11:00～19:00　※定休日：水曜日
						section
							h4.shop_name.js-shop_name はなれ 川口販売店
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/iF4gibCVUqw") 埼玉県川口市本町4-4-12　イーストゲートタワー1階
							p.shop_time 11:00～完売次第閉店　※定休日：火曜日
						section
							h4.shop_name.js-shop_name はなれ 所沢販売店
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/XChkzYmPb452") 埼玉県所沢市緑町1-19-16　ルミアン第2ビル
							p.shop_time 11:00～完売次第閉店　※定休日：月曜日
						section
							h4.shop_name.js-shop_name はなれ 宇都宮店
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/rnYXpYTb87q") 栃⽊県宇都宮市みどり野町2-5
							p.shop_time 11:00～18:00　※定休日：⽕曜⽇
						section
							h4.shop_name.js-shop_name はなれ 西那須野販売店
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/PkyK8frsQsw") 栃木県那須塩原市扇町１−２８ 西那須野ステーションビル
							p.shop_time 11:00～完売次第閉店　※定休日：水曜日
						section
							h4.shop_name.js-shop_name はなれ 千葉中央店
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/hQ9mF4xGEY22") 千葉県千葉市中央区中央4-8-7 グランデ千葉県庁101
							p.shop_time 10:30～18:00　※定休日：火曜日
						section
							h4.shop_name.js-shop_name はなれ 柏販売店
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/VKrWmV5rA1o") 千葉県柏市明原1‒3‒4
							p.shop_time 11:00∼完売次第閉店　※定休日：火曜日
				p.m-btn.is-pin.js-gaEventTracking(data-ga-group="button" data-ga-action="click" data-ga-label="bake other shop" data-ga-count="1"): a(href="http://nogaminopan.com/shop_list/#m03" target="_blank") #[span その他の店舗はこちらから]
							

		//#include virtual="/_inc/entry_sns.html"
		//#include virtual="/_inc/relation_gourmet.html"