extends /_pug/_inc/_layout

//-
	---------------------------------------------------------
	ページ固有の変数を定義
	---------------------------------------------------------
append setVar
	- layout = 'entry'
	- pageUrl = '/gourmet/zakuzaku.html'
	- dirArray = createDirArray(pageUrl)
	- bodyAttributes.id = 'p-entry'
	- bodyAttributes.class = 'p-zakuzaku.g-gourmet'

//-
	---------------------------------------------------------
	ページ固有のCSSを読み込み
	---------------------------------------------------------
append css
	link(rel="stylesheet" href="/css/p_entry.css")

//-
	---------------------------------------------------------
	コンテンツ
	---------------------------------------------------------
block main

	article.main_inner

		header.entry_header
			div.mainvisual
				p.mainvisual_pic: img(src="/gourmet/img/pic_zakuzaku_01.jpg" alt="")
				p.mainvisual_date 2019.03.04
				h1.mainvisual_ttl: span 日本から海外まで店舗を構える！<br>『クロッカンシュー ザクザク』
			ul.c-tag_list
				li: a(href="/") #[span タグ1]
				li: a(href="/") #[span タグあああああ]


		//#include virtual="/_inc/advertise.html"

		div.entry_content
			div.mokuji
				p.m-titleType03 目次
				ul.mokuji_list
					li: a(href="#anchor01") クロッカンシュークリームのザクザクって？
					li: a(href="#anchor02") 「期間限定商品」ブルーベリーとチーズが爽やかな新フレーバーが登場
					li: a(href="#anchor03") 『クロッカンシュー ザクザク』の店舗一覧

			section.entry_section#anchor01
				h2.m-titleType02 クロッカンシュークリームのザクザクって？
				div.entry_pic.m-bySide.is-2block
					div: img(src="/gourmet/img/pic_zakuzaku_sub01.jpg" alt="")
					div: img(src="/gourmet/img/pic_zakuzaku_sub02.jpg" alt="")
				p.entry_txt 香ばしいアーモンドクランチとクロッカンのザクザク食感がたのしい #[a(href="/gourmet/bake.html") BAKE] のシュークリーム専門店<br>北海道から取り寄せた、クロッカン生地を店舗のオーブンで焼き上げ、顧客が注文したカスタードクリームを充填するフレッシュさも特徴のひとつ。

			section.entry_section#anchor02
				h2.m-titleType02 「期間限定商品」ブルーベリーとチーズが爽やかな新フレーバーが登場
				div.entry_pic.m-bySide.is-2block
					div: img(src="/gourmet/img/pic_zakuzaku_sub03.jpg" alt="")
					div: img(src="/gourmet/img/pic_zakuzaku_sub04.jpg" alt="")
				p.entry_txt 春を先取りした期間限定の新フレーバー「ブルーベリーチーズザク」と「ブルーベリーチーズパフェ」を、2019年2月15日（金）〜3月31日（日）の期間限定で販売いたします。

			section.entry_section#anchor03
				h2.m-titleType02 『クロッカンシュー ザクザク』の店舗一覧
				section.entry_shop
					div.m-bySide.is-3block.shop_list
						section
							h4.shop_name 原宿店
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/gnsCZYvLqQU2") 東京都渋谷区神宮前1-7-1 CUTE CUBE HARAJUKU 1F
							p.shop_time 10:00 ~ 20:00
						section
							h4.shop_name 東武池袋店
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/jK6eAGyxtHn") 東京都豊島区西池袋1-1-25 東武百貨店 池袋店本館B1F
							p.shop_time 10:00 ~ 21:00 <br>日；10:00 ~ 20:00
						section
							h4.shop_name ルクア大阪店
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/UJyU3FiskVm") 大阪府大阪市北区梅田3-1-3 ルクア大阪 B2F
							p.shop_time 10:00 ~ 23:00
						section
							h4.shop_name 天神地下街店
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/x6oww3yzH162") 福岡県福岡市中央区天神2丁目 天神地下街 7番街
							p.shop_time 9:00 ~ 21:00
						section
							h4.shop_name イオンモール宮崎店
							p.shop_pin: a(target="_blank" href="https://goo.gl/maps/YGdiUpU4MY52") 宮崎県宮崎市新別府町江口862-1 イオンモール宮崎1F
							p.shop_time 10:00 ~ 21:00
						

		//#include virtual="/_inc/entry_sns.html"
		//#include virtual="/_inc/relation_gourmet.html"