extends /_pug/_inc/_layout

//-
	---------------------------------------------------------
	ページ固有の変数を定義
	---------------------------------------------------------
append setVar
	- layout = 'fashion'
	- pageUrl = '/fashion/scene02.html'
	- dirArray = createDirArray(pageUrl)
	- bodyAttributes.id = 'p-entry'
	- bodyAttributes.class = 'p-tiamo g-fashion'

//-
	---------------------------------------------------------
	ページ固有のCSSを読み込み
	---------------------------------------------------------
append css
	link(rel="stylesheet" href="/css/p_entry.css")

//-
	---------------------------------------------------------
	コンテンツ
	---------------------------------------------------------
block main

	nav.m-breadcrumbs
		ol.m-breadcrumbs_list
			li: a(href="/") HOME
			li 《scene別特集》同僚の結婚式　男性編

	article.main_inner

		header.entry_header
			div.mainvisual
				p.mainvisual_pic: span: img(src="/fashion/img/pic_scene02_01.jpg" alt="")
				p.mainvisual_date 2019.04.25
				p.mainvisual_episode 
				h1.mainvisual_ttl: span 《scene別特集》<br>同僚の結婚式　男性編
			ul.c-tag_list
				li: a(href="/") #[span タグ1]
				li: a(href="/") #[span タグあああああ]
				li: a(href="/") #[span タグ3]
				li: a(href="/") #[span タグｆｆｆ]
				li: a(href="/") #[span タグ5]
				li: a(href="/") #[span タグ6]
				li: a(href="/") #[span タグ3]
				li: a(href="/") #[span タグｆｆｆ]
				li: a(href="/") #[span タグ5]
				li: a(href="/") #[span タグ6]

		//#include virtual="/_inc/advertise780.html"

		div.entry_content
			div.mokuji
				p.m-titleType03 目次
				ul.mokuji_list
					li: a(href="#anchor01") カジュアルからフォーマルまで着こなせるセットアップシリーズ！
					li: a(href="#anchor02") 小物でワンランクアップを目指そう！

			section.entry_section#anchor01
				h2.m-titleType02 カジュアルからフォーマルまで着こなせるセットアップシリーズ！
				p.entry_txt 無理をしすぎず、かっちりも持ち合わせたセットアップを集めました！
				div.entry_saleitems
					section: a(target="_blank" rel="nofollow" href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fnano-universe%2Fq70851%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fnano-universe%2Fi%2F10072585%2F&r_v=g00ri3t3.9tq3ed67.g00ri3t3.9tq3fe68")
						h3.saleitems_name インポートファブリックチェックジャケット
						p.saleitems_maker nano LIBRARY
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item01.jpg" alt="インポートファブリックチェックジャケット")
					//- section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6689117002_r1312_y310")
						h3.saleitems_name ハイブリットカットジャケット
						p.saleitems_maker nano LIBRARY
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item02.jpg" alt="ハイブリットカットジャケット")
					//- section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6689126001_r1014_y040")
						h3.saleitems_name ハイブリットカットベスト
						p.saleitems_maker nano LIBRARY
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item03.jpg" alt="ハイブリットカットベスト")
					//- section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6689129001_r1410_y020")
						h3.saleitems_name インポートファブリックチェックパンツ
						p.saleitems_maker nano LIBRARY
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item04.jpg" alt="インポートファブリックチェックパンツ")
					//- section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6689129002_r1410_y040")
						h3.saleitems_name ハイブリットカットスラックス
						p.saleitems_maker nano LIBRARY
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item05.jpg" alt="ハイブリットカットスラックス")

			section.entry_section#anchor02
				h2.m-titleType02 小物でワンランクアップを目指そう！
				p.entry_txt アクセントになる小物をとても重要です！無地や柄物など幅広く活躍してくれるアイテムを取り揃えました。
				div.entry_saleitems
					section: a(target="_blank" rel="nofollow" href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fnano-universe%2Fk94423%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fnano-universe%2Fi%2F10060087%2F&r_v=g00ri3t3.9tq3ed67.g00ri3t3.9tq3fe68")
						h3.saleitems_name サテンソリッドボウタイ　ＳＯＬＩＤ
						p.saleitems_maker nano・universe
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item06.jpg" alt="サテンソリッドボウタイ　ＳＯＬＩＤ")
					section: a(target="_blank" rel="nofollow" href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fnano-universe%2Fk97988%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fnano-universe%2Fi%2F10062282%2F&r_v=g00ri3t3.9tq3ed67.g00ri3t3.9tq3fe68")
						h3.saleitems_name サテンドットボウタイ　ＰＡＴＴＥＲＮ
						p.saleitems_maker nano・universe
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item07.jpg" alt="サテンドットボウタイ　ＰＡＴＴＥＲＮ")
					section: a(target="_blank" rel="nofollow" href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fnano-universe%2Fr47462%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fnano-universe%2Fi%2F10073605%2F&r_v=g00ri3t3.9tq3ed67.g00ri3t3.9tq3fe68")
						h3.saleitems_name タイバー　１
						p.saleitems_maker nano・universe
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item08.jpg" alt="タイバー　１")
					section: a(target="_blank" rel="nofollow" href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fnano-universe%2Fk99380%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fnano-universe%2Fi%2F10063433%2F&r_v=g00ri3t3.9tq3ed67.g00ri3t3.9tq3fe68")
						h3.saleitems_name ツイルソリッドチーフ　ＳＯＬＩＤ
						p.saleitems_maker nano・universe
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item09.jpg" alt="ツイルソリッドチーフ　ＳＯＬＩＤ")
					section: a(target="_blank" rel="nofollow" href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fnano-universe%2Fq80847%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fnano-universe%2Fi%2F10072700%2F&r_v=g00ri3t3.9tq3ed67.g00ri3t3.9tq3fe68")
						h3.saleitems_name サテンシルクソリッド蝶ネクタイ
						p.saleitems_maker nano・universe
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item10.jpg" alt="サテンシルクソリッド蝶ネクタイ")
					//- section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6688243001_r2017_y160")
						h3.saleitems_name タイバー１
						p.saleitems_maker nano・universe
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item11.jpg" alt="タイバー１")
					section: a(target="_blank" rel="nofollow" href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fnano-universe%2Fr47463%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fnano-universe%2Fi%2F10073606%2F&r_v=g00ri3t3.9tq3ed67.g00ri3t3.9tq3fe68")
						h3.saleitems_name タイバー３
						p.saleitems_maker nano・universe
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item12.jpg" alt="タイバー３")
					section: a(target="_blank" rel="nofollow" href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fnano-universe%2Fr60057%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fnano-universe%2Fi%2F10073776%2F&r_v=g00ri3t3.9tq3ed67.g00ri3t3.9tq3fe68")
						h3.saleitems_name タイバー　９
						p.saleitems_maker nano・universe
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item17.jpg" alt="タイバー　９")
					section: a(target="_blank" rel="nofollow" href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fnano-universe%2Fq59431%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fnano-universe%2Fi%2F10071896%2F&r_v=g00ri3t3.9tq3ed67.g00ri3t3.9tq3fe68")
						h3.saleitems_name ジャガードドットパターンチーフ
						p.saleitems_maker nano・universe
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item18.jpg" alt="ジャガードドットパターンチーフ")
					section: a(target="_blank" rel="nofollow" href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fnano-universe%2Fq78484%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fnano-universe%2Fi%2F10072684%2F&r_v=g00ri3t3.9tq3ed67.g00ri3t3.9tq3fe68")
						h3.saleitems_name ジャガード千鳥パターンチーフ
						p.saleitems_maker nano・universe
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item19.jpg" alt="ジャガード千鳥パターンチーフ")
					section: a(target="_blank" rel="nofollow" href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fnano-universe%2Fq59433%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fnano-universe%2Fi%2F10071898%2F&r_v=g00ri3t3.9tq3ed67.g00ri3t3.9tq3fe68")
						h3.saleitems_name ジャガードラインパターンチーフ
						p.saleitems_maker nano・universe
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item20.jpg" alt="ジャガードラインパターンチーフ")
					section: a(target="_blank" rel="nofollow" href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fnano-universe%2Fq78486%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fnano-universe%2Fi%2F10072686%2F&r_v=g00ri3t3.9tq3ed67.g00ri3t3.9tq3fe68")
						h3.saleitems_name ツイルソリッドパターンチーフ
						p.saleitems_maker nano・universe
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item21.jpg" alt="ツイルソリッドパターンチーフ")
					section: a(target="_blank" rel="nofollow" href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fnano-universe%2Fr42946%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fnano-universe%2Fi%2F10073554%2F&r_v=g00ri3t3.9tq3ed67.g00ri3t3.9tq3fe68")
						h3.saleitems_name ペイズリープリントチーフＢ
						p.saleitems_maker nano・universe
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item22.jpg" alt="ペイズリープリントチーフＢ")
					section: a(target="_blank" rel="nofollow" href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fnano-universe%2Fq77611%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fnano-universe%2Fi%2F10072682%2F&r_v=g00ri3t3.9tq3ed67.g00ri3t3.9tq3fe68")
						h3.saleitems_name ソリッド
						p.saleitems_maker Altea
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item23.jpg" alt="ソリッド")
					section: a(target="_blank" rel="nofollow" href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fnano-universe%2Fq73430%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fnano-universe%2Fi%2F10072615%2F&r_v=g00ri3t3.9tq3ed67.g00ri3t3.9tq3fe68")
						h3.saleitems_name ドットＳ
						p.saleitems_maker Altea
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item24.jpg" alt="ドットＳ")
					//- section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709142005_r2016_y090")
						h3.saleitems_name ドットＳ
						p.saleitems_maker Altea
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item25.jpg" alt="ドットＳ")
					//- section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709142010_r2016")
						h3.saleitems_name ストライプ
						p.saleitems_maker Altea
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item26.jpg" alt="ストライプ")
					//- section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709142013_r2016_y060")
						h3.saleitems_name ドットＳ
						p.saleitems_maker Altea
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item27.jpg" alt="ドットＳ")
					section: a(target="_blank" rel="nofollow" href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fnano-universe%2Fr52261%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fnano-universe%2Fi%2F10073691%2F&r_v=g00ri3t3.9tq3ed67.g00ri3t3.9tq3fe68")
						h3.saleitems_name ペーズリープリント
						p.saleitems_maker PAOLO ALBIZZATI
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item28.jpg" alt="ペーズリープリント")
					section: a(target="_blank" rel="nofollow" href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fnano-universe%2Fr52263%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fnano-universe%2Fi%2F10073693%2F&r_v=g00ri3t3.9tq3ed67.g00ri3t3.9tq3fe68")
						h3.saleitems_name ストライプ
						p.saleitems_maker PAOLO ALBIZZATI
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item29.jpg" alt="ストライプ")
					section: a(target="_blank" rel="nofollow" href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fnano-universe%2Fr52264%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fnano-universe%2Fi%2F10073694%2F&r_v=g00ri3t3.9tq3ed67.g00ri3t3.9tq3fe68")
						h3.saleitems_name ストライプ
						p.saleitems_maker PAOLO ALBIZZATI
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item30.jpg" alt="ストライプ")
					section: a(target="_blank" rel="nofollow" href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fnano-universe%2Fq73427%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fnano-universe%2Fi%2F10072612%2F&r_v=g00ri3t3.9tq3ed67.g00ri3t3.9tq3fe68")
						h3.saleitems_name ストライプネクタイ
						p.saleitems_maker STEFANO BIGI
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item31.jpg" alt="ストライプネクタイ")
					//- section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709142031_r2016_y115")
						h3.saleitems_name 別注フォサッティ　サテン　ネクタイ
						p.saleitems_maker Ｆｒａｎｃｏ　Ｂａｓｓｉ
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item32.jpg" alt="別注フォサッティ　サテン　ネクタイ")
					//- section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709142032_r2016_y140")
						h3.saleitems_name 別注ビアンキ　モガドーロ　ネクタイ
						p.saleitems_maker Ｆｒａｎｃｏ　Ｂａｓｓｉ
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item33.jpg" alt="別注ビアンキ　モガドーロ　ネクタイ")
					//- section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709142035_r2016_y170")
						h3.saleitems_name ストライプ　ネクタイ
						p.saleitems_maker Ｆｒａｎｃｏ　Ｂａｓｓｉ
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item34.jpg" alt="ストライプ　ネクタイ")
					//- section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709142036_r2016_y120")
						h3.saleitems_name バスケットストライプ　ネクタイ
						p.saleitems_maker Ｆｒａｎｃｏ　Ｂａｓｓｉ
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item35.jpg" alt="バスケットストライプ　ネクタイ")
					//- section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709142037_r2016_y110")
						h3.saleitems_name ペイズリー　ネクタイ
						p.saleitems_maker Ｆｒａｎｃｏ　Ｂａｓｓｉ
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item36.jpg" alt="ペイズリー　ネクタイ")
					section: a(target="_blank" rel="nofollow" href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fnano-universe%2Fr52265%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fnano-universe%2Fi%2F10073695%2F&r_v=g00ri3t3.9tq3ed67.g00ri3t3.9tq3fe68")
						h3.saleitems_name リバーシブルチーフチェック
						p.saleitems_maker PAOLO ALBIZZATI
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item37.jpg" alt="リバーシブルチーフチェック")
					section: a(target="_blank" rel="nofollow" href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fnano-universe%2Fr52266%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fnano-universe%2Fi%2F10073696%2F&r_v=g00ri3t3.9tq3ed67.g00ri3t3.9tq3fe68")
						h3.saleitems_name リバーシブルチーフドット
						p.saleitems_maker PAOLO ALBIZZATI
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item38.jpg" alt="リバーシブルチーフドット")
					section: a(target="_blank" rel="nofollow" href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fnano-universe%2Fr60064%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fnano-universe%2Fi%2F10073783%2F&r_v=g00ri3t3.9tq3ed67.g00ri3t3.9tq3fe68")
						h3.saleitems_name ガルゼチーフドット
						p.saleitems_maker PAOLO ALBIZZATI
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item39.jpg" alt="ガルゼチーフドット")
					section: a(target="_blank" rel="nofollow" href="https://af.moshimo.com/af/c/click?a_id=1130206&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fnano-universe%2Fr60065%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fnano-universe%2Fi%2F10073784%2F&r_v=g00ri3t3.9tq3ed67.g00ri3t3.9tq3fe68")
						h3.saleitems_name カラートリミングステッチチーフ
						p.saleitems_maker PAOLO ALBIZZATI
						p.saleitems_pic: img(src="/fashion/img/pic_scene02_item40.jpg" alt="カラートリミングステッチチーフ")

						
		//#include virtual="/_inc/entry_sns.html"
		//#include virtual="/_inc/relation_fashion.html"