extends /_pug/_inc/_layout

//-
	---------------------------------------------------------
	ページ固有の変数を定義
	---------------------------------------------------------
append setVar
	- layout = 'entry'
	- pageUrl = '/fashion/tiamo77.html'
	- dirArray = createDirArray(pageUrl)
	- bodyAttributes.id = 'p-entry'
	- bodyAttributes.class = 'p-tiamo g-fashion'

//-
	---------------------------------------------------------
	ページ固有のCSSを読み込み
	---------------------------------------------------------
append css
	link(rel="stylesheet" href="/css/p_entry.css")

//-
	---------------------------------------------------------
	コンテンツ
	---------------------------------------------------------
block main

	article.main_inner

		header.entry_header
			div.mainvisual
				p.mainvisual_pic: img(src="/fashion/img/pic_tiamo77_01.jpg" alt="")
				p.mainvisual_date 2019.03.07
				p.mainvisual_episode 
				h1.mainvisual_ttl: span 《#77》2019 春夏スタート！<br>ティアモのゲキ推しアイテムプレビュー（後編）
			ul.c-tag_list
				li: a(href="/") #[span タグ1]
				li: a(href="/") #[span タグあああああ]
				li: a(href="/") #[span タグ3]
				li: a(href="/") #[span タグｆｆｆ]
				li: a(href="/") #[span タグ5]
				li: a(href="/") #[span タグ6]
				li: a(href="/") #[span タグ3]
				li: a(href="/") #[span タグｆｆｆ]
				li: a(href="/") #[span タグ5]
				li: a(href="/") #[span タグ6]

		//#include virtual="/_inc/advertise780.html"

		div.entry_content
			div.mokuji
				p.m-titleType03 目次
				ul.mokuji_list
					li: a(href="#anchor01") [動画] 2019SSスタート！ティアモのゲキ推しアイテムプレビュー（後編）
					li: a(href="#anchor02") 春セレクト！！ネクタイとネッカチーフ♪
					li: a(href="#anchor03") 今季のトレンドシューズ！！
					li: a(href="#anchor04") 春先に使えるライトアウター！！
					li: a(href="#anchor05") その他・特典情報

			section.entry_section#anchor01
				h2.m-titleType02 [動画] 2019SSスタート！ティアモのゲキ推しアイテムプレビュー（後編）
				div.entry_youtube
					iframe(width="560" height="315" src="https://www.youtube.com/embed/cwE6QWbS-Rg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
			
			section.entry_section#anchor02
				h2.m-titleType02 春セレクト！！ネクタイとネッカチーフ♪
				p.entry_txt ネッカチーフの注目は今年もキンロックの別注品！テーマはメキシコ！キンロック製品はシルクで巻きやすくて使いやすいのが特徴です。アルテアの新作も登場しています。<br>今年のネクタイは　主流の”ネイビー”　×　バブル時代の”イエロー”　掛け合わせがポイント。
				div.entry_saleitems
					section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6708241022_r2014_y020")
						h3.saleitems_name 別注フラワー柄　シルクスカーフ
						p.saleitems_maker kinloch
						p.saleitems_pic: img(src="/fashion/img/pic_tiamo77_item01.jpg" alt="別注フラワー柄　シルクスカーフ")
					section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6708241024_r2014_y120")
						h3.saleitems_name 別注クレムリン柄　シルクスカーフ
						p.saleitems_maker kinloch
						p.saleitems_pic: img(src="/fashion/img/pic_tiamo77_item02.jpg" alt="別注クレムリン柄　シルクスカーフ")
					section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709141003_r2014")
						h3.saleitems_name 別注ルチャリブレ柄　シルクスカーフ
						p.saleitems_maker kinloch
						p.saleitems_pic: img(src="/fashion/img/pic_tiamo77_item06.jpg" alt="別注ルチャリブレ柄　シルクスカーフ")
					section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709141004_r2014")
						h3.saleitems_name 別注フラワー柄　シルクスカーフ
						p.saleitems_maker kinloch
						p.saleitems_pic: img(src="/fashion/img/pic_tiamo77_item07.jpg" alt="別注フラワー柄　シルクスカーフ")
					section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709141001_r2014_y030")
						h3.saleitems_name 別注メキシカン柄　シルクスカーフ
						p.saleitems_maker kinloch
						p.saleitems_pic: img(src="/fashion/img/pic_tiamo77_item09.jpg" alt="別注メキシカン柄　シルクスカーフ")
					section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709141002_r2010_y170")
						h3.saleitems_name 別注アステカ柄　シルクスカーフ
						p.saleitems_maker kinloch
						p.saleitems_pic: img(src="/fashion/img/pic_tiamo77_item10.jpg" alt="別注アステカ柄　シルクスカーフ")
					section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709141005_r2014_y140")
						h3.saleitems_name 別注マリアッチ柄　シルクスカーフ
						p.saleitems_maker kinloch
						p.saleitems_pic: img(src="/fashion/img/pic_tiamo77_item13.jpg" alt="別注マリアッチ柄　シルクスカーフ")
					section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709141006_r2014_y150")
						h3.saleitems_name 別注インドゴムノキ柄　シルクスカーフ
						p.saleitems_maker kinloch
						p.saleitems_pic: img(src="/fashion/img/pic_tiamo77_item14.jpg" alt="別注インドゴムノキ柄　シルクスカーフ")
					section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709142034_r2016_y170")
						h3.saleitems_name ストライプ　ネクタイ
						p.saleitems_maker Franco Bassi
						p.saleitems_pic: img(src="/fashion/img/pic_tiamo77_item12.jpg" alt="ストライプ　ネクタイ")
					section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709142033_r2016_y110")
						h3.saleitems_name ピンヘッド　ネクタイ
						p.saleitems_maker Franco Bassi
						p.saleitems_pic: img(src="/fashion/img/pic_tiamo77_item15.jpg" alt="ピンヘッド　ネクタイ")
					section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709142031_r2016_y115")
						h3.saleitems_name 別注フォサッティ　サテン　ネクタイ
						p.saleitems_maker Franco Bassi
						p.saleitems_pic: img(src="/fashion/img/pic_tiamo77_item11.jpg" alt="別注フォサッティ　サテン　ネクタイ")
					section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709142035_r2016_y170")
						h3.saleitems_name ストライプ　ネクタイ
						p.saleitems_maker Franco Bassi
						p.saleitems_pic: img(src="/fashion/img/pic_tiamo77_item17.jpg" alt="ストライプ　ネクタイ")
					section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709142036_r2016_y120")
						h3.saleitems_name バスケットストライプ　ネクタイ
						p.saleitems_maker Franco Bassi
						p.saleitems_pic: img(src="/fashion/img/pic_tiamo77_item16.jpg" alt="バスケットストライプ　ネクタイ")

			
			section.entry_section#anchor03
				h2.m-titleType02 今季のトレンドシューズ！！
				p.entry_txt 今年はあまり出回っていない、蝶の羽根のように編み込んでいるタイプのバタフライローファーが登場。その他ベーシックなコインローファー、カジュアルなタッセルローファー、スニーカーもあり種類も豊富。カラーは春ということでブラウンタイプがおすすめです。
				div.entry_saleitems
					section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6689133004_r1916_y050")
						h3.saleitems_name イタリースウェードマッケイローファー
						p.saleitems_maker nano・universe
						p.saleitems_pic: img(src="/fashion/img/pic_tiamo77_item18.jpg" alt="イタリースウェードマッケイローファー")
					section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6689133005_r1916_y051")
						h3.saleitems_name イタリーヌバックマッケイタッセル
						p.saleitems_maker nano・universe
						p.saleitems_pic: img(src="/fashion/img/pic_tiamo77_item19.jpg" alt="イタリーヌバックマッケイタッセル")
					section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6688133006_r1916")
						h3.saleitems_name イタリーレザースウェードローファー
						p.saleitems_maker nano・universe
						p.saleitems_pic: img(src="/fashion/img/pic_tiamo77_item20.jpg" alt="イタリーレザースウェードローファー")
					section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6708134003_r1910")
						h3.saleitems_name ゴールドベルトスリッポン
						p.saleitems_maker nano・universe
						p.saleitems_pic: img(src="/fashion/img/pic_tiamo77_item21.jpg" alt="ゴールドベルトスリッポン")
				p.m-btn: a(href="/fashion/tiamo78.html" target="_blank" rel="nofollow") #[span バブアー特集はこちら]
				
			section.entry_section#anchor04
				h2.m-titleType02 春先に使えるライトアウター！！
				p.entry_txt 春先なのでウールはちょっとっていう時におすすめなのが、「Barbour」のGジャン型のブルゾン！ジャケットのポイントはシワになりにくい素材なのでバッグに入れて持ち運びにも◎。
				div.entry_saleitems
					section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709111010_r1310_y310")
						h3.saleitems_name 別注ＢＥＤＡＬＥ　ＳＬ　コーデュラ
						p.saleitems_maker Barbour
						p.saleitems_pic: img(src="/fashion/img/pic_tiamo77_item03.jpg" alt="別注ＢＥＤＡＬＥ　ＳＬ　コーデュラ")
					section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709111011_r1310_y141")
						h3.saleitems_name 別注ＭＯＤＩＦＩＥＤ　ＩＮＴＥＲＮＡＴＩＯＮＡＬ　ＳＬ
						p.saleitems_maker Barbour
						p.saleitems_pic: img(src="/fashion/img/pic_tiamo77_item04.jpg" alt="別注ＭＯＤＩＦＩＥＤ　ＩＮＴＥＲＮＡＴＩＯＮＡＬ　ＳＬ")
					section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709111012_r1316_y010")
						h3.saleitems_name 別注ＮＥＷ　ＢＵＲＧＨＬＥＹ
						p.saleitems_maker Barbour
						p.saleitems_pic: img(src="/fashion/img/pic_tiamo77_item05.jpg" alt="別注ＮＥＷ　ＢＵＲＧＨＬＥＹ")
					section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709113001_r1311_y010")
						h3.saleitems_name 別注　Ｆｉｃｕｓ　Ｇジャン
						p.saleitems_maker Barbour
						p.saleitems_pic: img(src="/fashion/img/pic_tiamo77_item08.jpg" alt="別注　Ｆｉｃｕｓ　Ｇジャン")
							
			section.entry_section#anchor05
				h2.m-titleType02 その他・特典情報
				div.tiamo_block
					section
						h3.m-titleType04.info_head #[span PELLICO SUNNY（ペリーコ サニー）セレクトカラーオーダーイベント]を開催！
						p.entry_txt 2019年2月1日（金）～2019年2月26日（火）までの期間限定で、「PELLICO SUNNY（ペリーコ　サニー）」のアイコン的アイテムである＜TRINI ACACIA（トリニアカシア)＞のセレクトカラーオーダーイベントを開催！10カラーからお好みの1足をチョイスでき、中でもスエード素材のYELLOW / RED / GREEN / BLUE / PURPLE / BROWNの6色は、ナノ・ユニバースでしか手に入らない限定カラーとなります。<br>普段店頭でお取扱いのない幅広いサイズに対応できるのもオーダーイベントならでは。
						p.m-btn: a(target="blank" href="http://www.nanouniverse.jp/blog/archives/30131") オーダーイベントの詳細はこちら
						
						
		//#include virtual="/_inc/entry_sns.html"
		//#include virtual="/_inc/relation_fashion.html"