extends /_pug/_inc/_layout

//-
	---------------------------------------------------------
	ページ固有の変数を定義
	---------------------------------------------------------
append setVar
	- layout = 'hoge'
	- pageUrl = '/test/hoge.html'
	- dirArray = createDirArray(pageUrl)
	- bodyAttributes.id = 'p-hoge'

//-
	---------------------------------------------------------
	ページ固有のCSSを読み込み
	---------------------------------------------------------
append css
	link(rel="stylesheet" href="/css/p_hoge.css")

//-
	---------------------------------------------------------
	コンテンツ
	---------------------------------------------------------
block main

	div.m-pageTitle
		h1.m-pageTitle_txt 会社概要