@charset "utf-8";

/* ---------------------------------------------------------
	category
----------------------------------------------------------*/
.c-category {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	section{
		flex-basis: 110px;
		text-align: center;
		& + *{
			margin-left: 20px;
		}
		a{
			display: block;
			.m-catPic{
				position: relative;
				z-index: 0;
				&:before{
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 150%;
					height: 150%;
					border-radius: 150%;
					background-color: #fff;
					z-index: -1;
					// box-shadow: 2px 2px 3px rgba(0,0,0,.5);
					opacity: 0;
					transition: all .5s;
				}
			}
			&:hover{
				.m-catPic:before{
					opacity: 1;
					width: 100%;
					height: 100%;
				}
			}
		}

	}
	@include media(minipc) {
	}
	@include media(phablet) {
	}
}