@charset "utf-8";

/* ---------------------------------------------------------
	category
----------------------------------------------------------*/
.c-category {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	section{
		flex-basis: 110px;
		text-align: center;
		& + *{
			margin-left: 20px;
		}
	}
	@include media(minipc) {
	}
	@include media(phablet) {
	}
}