@charset "utf-8"

/* ---------------------------------------------------------
 *	googleAdsenceバナー
 *----------------------------------------------------------
.c-advertise
  // display: none
  text-align: center
  margin: $sectionMargin 0
  +media(tablet)
    margin: $sectionMargin 0