@charset "utf-8"

/* ---------------------------------------------------------
 *	タグ一覧
 *----------------------------------------------------------
.c-tag_list
  display: flex
  flex-wrap: wrap
  // justify-content: space-around
  >li
    margin: 5px 5px 0 0
    a
      display: block
      background-color: #666
      color: #fff
      padding: 3px 5px
      font-size: 1.1rem
      &::before
        content: '#'