@charset "UTF-8";
/* ---------------------------------------------------------
	リセット
----------------------------------------------------------*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow: auto;
  height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  font-family: "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.6;
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, figure {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

em {
  font-style: normal;
}

li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border: none;
  border-spacing: 0;
  font-size: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: top;
}

a {
  color: #000;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #000;
}

a:hover {
  color: #000;
  text-decoration: none;
}

a:active {
  color: #000;
}

a.js-telLink {
  color: #000;
  text-decoration: none;
  pointer-events: none;
}

a[href^="tel:"] {
  cursor: default;
  text-decoration: none;
}

select,
input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}

input[type="text"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
  padding: 8px 10px;
  border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea:focus {
  background-color: #eff9f2;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}

select {
  padding: 8px 5px;
  border: 1px solid #ccc;
}

label {
  cursor: pointer;
}

::-moz-selection {
  color: #fff;
  background-color: #ff6f6f;
}

::selection {
  color: #fff;
  background-color: #ff6f6f;
}

::-moz-selection {
  color: #fff;
  background-color: #ff6f6f;
}

@font-face {
  font-family: "icons";
  src: url("/font/fontello.eot?36658702");
  src: url("/font/fontello.eot?36658702#iefix") format("embedded-opentype"), url("/font/fontello.woff2?36658702") format("woff2"), url("/font/fontello.woff?36658702") format("woff"), url("/font/fontello.ttf?36658702") format("truetype"), url("/font/fontello.svg?36658702#fontello") format("svg");
}

@font-face {
  font-family: "Noto Sans Japanese";
  font-style: normal;
  font-weight: normal;
  src: url("/font/NotoSansCJKjp-Regular.eot");
  src: url("/font/NotoSansCJKjp-Regular.eot?#iefix") format("embedded-opentype"), url("/font/NotoSansCJKjp-Regular.woff") format("woff"), url("/font/NotoSansCJKjp-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans Japanese";
  font-style: normal;
  font-weight: bold;
  src: url("/font/NotoSansCJKjp-Bold.eot");
  src: url("/font/NotoSansCJKjp-Bold.eot?#iefix") format("embedded-opentype"), url("/font/NotoSansCJKjp-Bold.woff") format("woff"), url("/font/NotoSansCJKjp-Bold.ttf") format("truetype");
}

/* onmediaquery.js設定用
-------------------------------------------------- */
html {
  font-family: pc;
}

@media only screen and (max-width: 980px) {
  html {
    font-family: "minipc";
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-family: "tablet";
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-family: "phablet";
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-family: "sp";
  }
}

/* ---------------------------------------------------------
	ヘッダー
----------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, .9);
  z-index: 3;
}

#header.is-short {
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
}

#header.is-short #headerSub {
  margin-top: -32px;
}

#header.is-short #headerNav {
  padding: 25px 0 20px;
}

#header.is-short #headerNav svg {
  width: 200px;
}

@media only screen and (max-width: 768px) {
  #header #btnMenu03 {
    position: absolute;
    top: 50%;
    right: 30px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  #header #btnMenu03 p {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #000;
  }
  #header #btnMenu03 p .icoMenu {
    position: absolute;
    bottom: 50%;
    margin-bottom: 1.5px;
    left: 50%;
    margin-left: -15px;
    bottom: 50%;
    left: 50%;
  }
  #header #btnMenu03 p .icoMenuInner,
  #header #btnMenu03 p .icoMenuInner:before,
  #header #btnMenu03 p .icoMenuInner:after {
    display: block;
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    border-radius: 30px;
    background: #000;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #header #btnMenu03 p .icoMenuInner:before {
    top: -10px;
  }
  #header #btnMenu03 p .icoMenuInner:after {
    bottom: -10px;
  }
  #header #btnMenu03 p.is-active .icoMenuInner {
    background-color: transparent;
  }
  #header #btnMenu03 p.is-active .icoMenuInner:before,
  #header #btnMenu03 p.is-active .icoMenuInner:after {
    top: 0;
    bottom: 0;
  }
  #header #btnMenu03 p.is-active .icoMenuInner:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #header #btnMenu03 p.is-active .icoMenuInner:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  #header.is-short #headerNav {
    padding: 20px 0 10px;
  }
}

@media only screen and (max-width: 480px) {
  #header #btnMenu03 {
    right: 20px;
  }
  #header.is-short #headerNav {
    padding: 20px 0 10px;
  }
  #header.is-short #headerNav .navLogo svg {
    width: 180px;
  }
}

/* ---------------------------------------------------------
	ヘッダー サブメニュー
----------------------------------------------------------*/
#headerSub {
  background-color: #f3f3f3;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#headerSub > ul {
  max-width: 980px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
}

#headerSub > ul > li + li {
  margin-left: 20px;
}

#headerSub > ul > li a {
  display: inline-block;
  position: relative;
  z-index: 0;
  padding: 5px 0;
}

#headerSub > ul > li a:before {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-color: #000;
  opacity: 0;
  z-index: -1;
}

#headerSub > ul > li a:hover:before {
  opacity: 1;
  bottom: 0px;
}

@media only screen and (max-width: 768px) {
  #headerSub {
    display: none;
  }
}

/* ---------------------------------------------------------
	ヘッダー メインメニュー
----------------------------------------------------------*/
#headerNav {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
}

#headerNav .navLogo {
  -ms-flex-preferred-size: 240px;
      flex-basis: 240px;
}

#headerNav .navLogo svg {
  width: 220px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#headerNav .navLogo span {
  display: block;
  margin-top: 5px;
  font-size: 12px;
}

#headerNav .navItem {
  -ms-flex-preferred-size: calc(50% - 120px);
      flex-basis: calc(50% - 120px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#headerNav .navItem > p {
  margin: 0 20px;
}

#headerNav .navItem > p > a, #headerNav .navItem > p > span {
  display: block;
  cursor: pointer;
  position: relative;
  color: #666;
}

#headerNav .navItem > p > a:before, #headerNav .navItem > p > span:before {
  content: "";
  display: block;
  position: absolute;
  right: 50%;
  bottom: 0;
  left: 50%;
  width: 14px;
  height: 14px;
  background-color: transparent;
  margin-right: -7px;
  margin-left: -7px;
  border-top: solid 2px #e60012;
  border-right: solid 2px #e60012;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

#headerNav .navItem > p > a:before, #headerNav .navItem > p > span:before {
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#headerNav .navItem > p > a:after, #headerNav .navItem > p > span:after {
  content: '';
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: absolute;
  top: 0;
  left: 50%;
  width: 19px;
  height: 9px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: url(/img/cmn/icon.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
}

#headerNav .navItem > p > a:hover:before, #headerNav .navItem > p > span:hover:before {
  bottom: -15px;
  opacity: 1;
}

#headerNav .navItem > p > a:hover:after, #headerNav .navItem > p > span:hover:after {
  top: -12px;
  opacity: 1;
  width: 30px;
  height: 13px;
}

#headerNav .navItem > p > a > span, #headerNav .navItem > p > span > span {
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #000;
}

#headerNav .navItem > p > a > span em, #headerNav .navItem > p > span > span em {
  color: #e60012;
}

@media only screen and (max-width: 980px) {
  #headerNav .navItem > p {
    margin: 0 10px;
  }
}

@media only screen and (max-width: 768px) {
  #headerNav {
    display: block;
    padding: 30px 0 10px;
    border-top: 3px solid #000;
  }
  #headerNav .navItem {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  #headerNav {
    padding: 20px 0 10px;
  }
  #headerNav .navLogo svg {
    width: 180px;
  }
  #headerNav .navLogo span {
    display: block;
    margin-top: 3px;
    font-size: 10px;
  }
}

/* ---------------------------------------------------------
	ヘッダー カテゴリメニュー
----------------------------------------------------------*/
#headerCat {
  position: absolute;
  padding: 40px 0 20px;
  background-color: rgba(226, 226, 226, .9);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
  width: 100%;
  display: none;
}

#headerCat .c-category {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#headerCat .c-category section {
  -ms-flex-preferred-size: 90px;
      flex-basis: 90px;
}

#headerCat .headerClose {
  content: '';
  position: absolute !important;
  top: 0px;
  left: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: relative;
  z-index: 1;
}

#headerCat .headerClose:before, #headerCat .headerClose:after {
  position: absolute;
  right: 50%;
  bottom: 50%;
  margin-top: 6.5px;
  margin-bottom: 6.5px;
  margin-bottom: -1.5px;
  margin-right: -10px;
}

#headerCat .headerClose:before {
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  background-color: #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#headerCat .headerClose:after {
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  background-color: #000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media only screen and (max-width: 768px) {
  #headerCat {
    display: none;
  }
}

/* ---------------------------------------------------------
	ヘッダー ドロワーメニュータイトル
----------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  #drawerTtl {
    text-align: center;
    font-family: "Quantico", sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 20px;
    border-bottom: 2px solid #f3f3f3;
  }
}

/* ---------------------------------------------------------
	ヘッダー ドロワーメニュー
----------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  #drawerNav .navItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  #drawerNav .navItem > p {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    border-bottom: 2px solid #f3f3f3;
  }
  #drawerNav .navItem > p:nth-of-type(odd) {
    border-right: 2px solid #f3f3f3;
  }
  #drawerNav .navItem > p > a, #drawerNav .navItem > p > span {
    display: block;
    padding: 10px;
  }
  #drawerNav .navItem > p > a > span, #drawerNav .navItem > p > span > span {
    font-family: "Quantico", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #000;
  }
  #drawerNav .navItem > p > a > span em, #drawerNav .navItem > p > span > span em {
    color: #e60012;
  }
  #drawerNav .navItem > p > span {
    background-color: #f3f3f3;
  }
}

@media only screen and (max-width: 480px) {
  #drawerNav .navItem > p > a, #drawerNav .navItem > p > span {
    font-size: 12px;
  }
  #drawerNav .navItem > p > a > span, #drawerNav .navItem > p > span > span {
    font-size: 14px;
  }
}

@media only screen and (max-width: 320px) {
  #drawerNav .navItem > p > a, #drawerNav .navItem > p > span {
    font-size: 10px;
  }
  #drawerNav .navItem > p > a > span, #drawerNav .navItem > p > span > span {
    font-size: 12px;
  }
}

/* ---------------------------------------------------------
	ヘッダー ドロワーメニュー
----------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  #drawerCat {
    background-color: #f3f3f3;
  }
  #drawerCat .c-category {
    padding: 10px;
  }
  #drawerCat .c-category section {
    -ms-flex-preferred-size: calc(33.33333% - 13.33333px);
        flex-basis: calc(33.33333% - 13.33333px);
  }
  #drawerCat .c-category section + section {
    margin-left: 10px;
  }
  #drawerCat .c-category section:nth-of-type(3n-2) {
    margin-left: 0;
  }
  #drawerCat .c-category section .m-catPic {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 480px) {
  #drawerCat .c-category .m-catName {
    font-size: 12px;
  }
}

/* ---------------------------------------------------------
	ヘッダー ドロワーサブメニュー
----------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  #drawerSub > ul > li a {
    display: block;
    padding: 5px 10px;
    border-bottom: 2px solid #f3f3f3;
  }
}

/* ---------------------------------------------------------
	大枠
----------------------------------------------------------*/
#contents {
  position: relative;
  margin-top: 147px;
  overflow: hidden;
}

#contents > section {
  margin-top: 80px;
}

#contents .dir {
  border-top: 1px solid #f3f3f3;
  padding: 10px 0;
}

#contents .dir ul {
  max-width: 980px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contents .dir ul > li {
  padding: 0 10px 0 20px;
  color: #999;
}

#contents .dir ul > li:first-of-type a {
  font-size: 0;
  height: 25px;
  width: 25px;
  display: block;
  position: relative;
}

#contents .dir ul > li:first-of-type a:before {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0;
  margin-top: -0.5em;
  margin-bottom: -0.5em;
  color: #000;
  font-family: 'icons';
  font-style: normal;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  text-decoration: none;
}

#contents .dir ul > li + li {
  position: relative;
}

#contents .dir ul > li + li:before {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border-top: solid 1px #000;
  border-right: solid 1px #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#contents .dir ul > li:not(:first-of-type) a {
  display: inline-block;
  position: relative;
  z-index: 0;
  padding: 0 0 5px;
}

#contents .dir ul > li:not(:first-of-type) a:before {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-color: #000;
  opacity: 0;
  z-index: -1;
}

#contents .dir ul > li:not(:first-of-type) a:hover:before {
  opacity: 1;
  bottom: 0px;
}

@media only screen and (max-width: 768px) {
  #contents {
    margin-top: 98px;
  }
}

@media only screen and (max-width: 480px) {
  #contents {
    margin-top: 78px;
  }
  #contents > section {
    margin-top: 40px;
  }
}

/* ---------------------------------------------------------
	フッター
----------------------------------------------------------*/
#footer {
  padding: 50px 0;
  background-color: #3e3e3e;
}

@media only screen and (max-width: 768px) {
  #footer {
    padding: 30px 0;
  }
}

@media only screen and (max-width: 480px) {
  #footer {
    padding: 20px 0;
  }
}

#footerInner {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

#footerSub > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footerSub > ul > li {
  margin: 0 20px;
}

#footerSub > ul > li a {
  color: #fff;
  display: inline-block;
  position: relative;
  z-index: 0;
  padding-bottom: 5px;
}

#footerSub > ul > li a:before {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-color: #fff;
  opacity: 0;
  z-index: -1;
}

#footerSub > ul > li a:hover:before {
  opacity: 1;
  bottom: 0px;
}

@media only screen and (max-width: 480px) {
  #footerSub > ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #footerSub > ul > li {
    margin: 0;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.footerLogo {
  margin-top: 20px;
}

.footerLogo svg {
  width: 180px;
}

.footerCopy {
  margin-top: 20px;
  color: #fff;
  font-family: "Quantico", sans-serif;
}

@media only screen and (max-width: 480px) {
  .footerCopy {
    margin-top: 10px;
    font-size: 12px;
  }
}

.social {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social li {
  margin: 0 5px;
}

.social li a {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: #fff;
  display: block;
  font-size: 0;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.social li a:before, .social li a:after {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.social li a:after {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.social li a:hover {
  background-color: #000;
}

.social li a:hover:before {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}

.social li a:hover:after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.social li.is-facebook a {
  position: relative;
  position: relative;
}

.social li.is-facebook a:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  margin-top: -0.5em;
  margin-right: -0.5em;
  margin-bottom: -0.5em;
  margin-left: -0.5em;
  color: #000;
  font-family: 'icons';
  font-style: normal;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  text-decoration: none;
}

.social li.is-facebook a:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  margin-top: -0.5em;
  margin-right: -0.5em;
  margin-bottom: -0.5em;
  margin-left: -0.5em;
  color: #fff;
  font-family: 'icons';
  font-style: normal;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  text-decoration: none;
}

.social li.is-twitter a {
  position: relative;
  position: relative;
}

.social li.is-twitter a:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  margin-top: -0.5em;
  margin-right: -0.5em;
  margin-bottom: -0.5em;
  margin-left: -0.5em;
  color: #000;
  font-family: 'icons';
  font-style: normal;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  text-decoration: none;
}

.social li.is-twitter a:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  margin-top: -0.5em;
  margin-right: -0.5em;
  margin-bottom: -0.5em;
  margin-left: -0.5em;
  color: #fff;
  font-family: 'icons';
  font-style: normal;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  text-decoration: none;
}

.social li.is-google a {
  position: relative;
  position: relative;
}

.social li.is-google a:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  margin-top: -0.5em;
  margin-right: -0.5em;
  margin-bottom: -0.5em;
  margin-left: -0.5em;
  color: #000;
  font-family: 'icons';
  font-style: normal;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  text-decoration: none;
}

.social li.is-google a:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  margin-top: -0.5em;
  margin-right: -0.5em;
  margin-bottom: -0.5em;
  margin-left: -0.5em;
  color: #fff;
  font-family: 'icons';
  font-style: normal;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .social {
    margin-top: 20px;
    position: static;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 480px) {
  .social {
    margin-top: 10px;
  }
  .social li a {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
}

.pagetop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1;
}

.pagetop a {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: #e60012;
  border: 2px solid #fff;
  display: block;
  font-size: 0;
  position: relative;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.pagetop a:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  background-color: transparent;
  margin-right: -8px;
  margin-left: -8px;
  margin-top: -4px;
  margin-bottom: -12px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.pagetop a:after {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border: 2px solid #e60012;
  border-radius: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
  opacity: 0;
}

.pagetop a:before {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.pagetop a:hover {
  border-color: #e60012;
  background-color: #fff;
}

.pagetop a:hover:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.pagetop a:hover:before {
  border-color: #e60012;
}

@media only screen and (max-width: 480px) {
  .pagetop {
    bottom: 20px;
    right: 10px;
  }
  .pagetop a {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
}

/* ---------------------------------------------------------
	btn
----------------------------------------------------------*/
.m-btn {
  text-align: center;
}

.m-btn a, .m-btn > span {
  display: inline-block;
  margin: 0 auto;
  max-width: 280px;
  width: 100%;
  background-color: #e60012;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 16px;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
}

.m-btn a:before, .m-btn > span:before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border: 4px solid #e60012;
  border-radius: 30px;
  -webkit-transition: all .5s;
  transition: all .5s;
  opacity: 0;
}

.m-btn a span:before, .m-btn a span:after, .m-btn > span span:before, .m-btn > span span:after {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.m-btn a:hover, .m-btn > span:hover {
  color: #e60012;
  background-color: #fff;
}

.m-btn a:hover:before, .m-btn > span:hover:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.m-btn.is-blank a span {
  padding-right: 30px;
  position: relative;
}

.m-btn.is-blank a span:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 50%;
  margin-top: -0.5em;
  margin-bottom: -0.5em;
  color: #fff;
  font-family: 'icons';
  font-style: normal;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  text-decoration: none;
}

.m-btn.is-blank a:hover span:before {
  color: #e60012;
}

.m-btn.is-shop a, .m-btn.is-place a, .m-btn.is-back a {
  background-color: #fff;
  color: #000;
  border: 4px solid #000;
  padding: 6px 20px;
}

.m-btn.is-shop a:before, .m-btn.is-place a:before, .m-btn.is-back a:before {
  border: 2px solid #000;
}

.m-btn.is-shop a:hover, .m-btn.is-place a:hover, .m-btn.is-back a:hover {
  background-color: #000;
  color: #fff;
}

.m-btn.is-shop a:hover span:before, .m-btn.is-place a:hover span:before, .m-btn.is-back a:hover span:before {
  border-color: #fff;
  color: #fff;
}

.m-btn.is-shop a span, .m-btn.is-place a span {
  padding-right: 30px;
}

.m-btn.is-shop a span {
  position: relative;
}

.m-btn.is-shop a span:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 50%;
  width: 12px;
  height: 12px;
  background-color: transparent;
  margin-top: -9px;
  margin-bottom: -3px;
  border-top: solid 3px #000;
  border-right: solid 3px #000;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.m-btn.is-place a span {
  position: relative;
}

.m-btn.is-place a span:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 50%;
  margin-top: -0.5em;
  margin-bottom: -0.5em;
  color: #000;
  font-family: 'icons';
  font-style: normal;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  text-decoration: none;
}

/* ---------------------------------------------------------
	タイトル
----------------------------------------------------------*/
.m-heading {
  text-align: center;
  margin-bottom: 20px;
}

.m-heading .m-headingTtl {
  font-size: 20px;
  font-weight: bold;
}

.m-heading .m-headingTtl span {
  font-family: "Quantico", sans-serif;
  font-weight: normal;
  margin-right: 20px;
}

.m-heading .m-headingTtl span em {
  color: #e60012;
}

.m-heading .m-headingLead {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #666;
}

.m-heading .m-headingTxt {
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .m-heading {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 480px) {
  .m-heading .m-headingTtl span {
    display: block;
  }
}

/* ---------------------------------------------------------
	list
----------------------------------------------------------*/
.m-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.m-list > * a {
  display: block;
  padding: 10px;
  position: relative;
  z-index: 0;
}

.m-list > * a:before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: #f3f3f3;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: -1;
  opacity: 0;
}

.m-list > * a:hover:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.m-list.is-limit {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.m-list.is-limit > * {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.m-list.is-limit > *:nth-of-type(4n-3) {
  margin-left: 0;
}

.m-list .is-new {
  position: relative;
  z-index: 0;
}

.m-list .is-new:before {
  content: 'NEW';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f6ff00;
  padding: 3px 10px;
  font-size: 12px;
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  z-index: 1;
}

.m-list .m-itemPrice em {
  font-family: "Saira", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #e60012;
}

.m-list .m-itemBrand {
  margin-top: 10px;
  font-size: 12px;
}

.m-list .m-itemStatus {
  position: relative;
}

.m-list .m-itemStatus:before {
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 10px;
  width: 68px;
  text-align: center;
}

.m-list .m-itemStatus.is-normal:before {
  content: '常温';
  border: 2px solid #999;
  color: #999;
}

.m-list .m-itemStatus.is-cool:before {
  content: '冷蔵';
  border: 2px solid #3a589a;
  color: #3a589a;
}

.m-list .m-itemStatus.is-frozen:before {
  content: '冷凍';
  border: 2px solid #0262b4;
  color: #0262b4;
}

.m-list .m-itemParam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m-list .m-itemParam .m-itemLimit, .m-list .m-itemParam .m-itemStation {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
}

.m-list .m-itemParam .m-itemLimit span, .m-list .m-itemParam .m-itemStation span {
  display: inline-block;
  font-size: 10px;
  line-height: 1.0;
}

.m-list .m-itemParam .m-itemLimit span.ttl, .m-list .m-itemParam .m-itemStation span.ttl {
  width: 40%;
}

.m-list .m-itemParam .m-itemLimit span.txt, .m-list .m-itemParam .m-itemStation span.txt {
  width: 60%;
  border: 2px solid #000;
  background-color: #fff;
  text-align: center;
  padding: 3px 5px;
}

.m-list .m-itemParam .m-itemLimit span.txt {
  font-family: "Quantico", sans-serif;
  font-weight: 700;
}

.m-list .m-itemPic.is-train {
  z-index: 0;
  position: relative;
}

.m-list .m-itemPic.is-train:before {
  content: "";
  position: absolute;
  right: 10px;
  bottom: -20px;
  color: #e60012;
  font-family: 'icons';
  font-style: normal;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  text-decoration: none;
}

.m-list .m-itemPic.is-train:before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 40px;
  background-color: #fff;
}

@media only screen and (max-width: 980px) {
  .m-list .m-itemParam .m-itemLimit span, .m-list .m-itemParam .m-itemStation span {
    display: block;
    font-size: 10px;
  }
  .m-list .m-itemParam .m-itemLimit span.ttl, .m-list .m-itemParam .m-itemStation span.ttl {
    width: 100%;
  }
  .m-list .m-itemParam .m-itemLimit span.txt, .m-list .m-itemParam .m-itemStation span.txt {
    width: 100%;
    margin: 2px auto 0;
    border: 2px solid #000;
    background-color: #fff;
    font-family: "Quantico", sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 0;
  }
  .m-list .m-itemParam .m-itemStation {
    margin-left: 20px;
  }
  .m-list .m-itemStatus:before {
    width: 30%;
  }
}

@media only screen and (max-width: 768px) {
  .m-list.is-limit > * {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }
  .m-list .m-itemParam .m-itemStation {
    margin-left: 5px;
  }
  .m-list .m-itemStatus:before {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .m-list.is-limit > * {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

/* ---------------------------------------------------------
	ドロワーメニュー
----------------------------------------------------------*/
#drawerMenu {
  position: fixed;
  left: 0;
  top: 0;
  width: 70%;
  height: 100%;
  background-color: #fff;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  z-index: 7;
}

#drawerMenu #drawerMenuInner {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#drawerMenu.is-show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-animation: drawerMenuShow .5s ease-in-out;
          animation: drawerMenuShow .5s ease-in-out;
}

#drawerMenu.is-show #drawerMenuInner {
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, .8);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, .8);
}

#drawerMenu.is-hide {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  -webkit-animation: drawerMenuHide .3s ease-in-out;
          animation: drawerMenuHide .3s ease-in-out;
}

@-webkit-keyframes drawerMenuShow {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  70% {
    -webkit-transform: translate3d(5%, 0, 0);
            transform: translate3d(5%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes drawerMenuShow {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  70% {
    -webkit-transform: translate3d(5%, 0, 0);
            transform: translate3d(5%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes drawerMenuHide {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

@keyframes drawerMenuHide {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

#drawerMenuOverlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .9);
  display: none;
  opacity: 0;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

#drawerMenuOverlay.is-show {
  z-index: 5;
  display: block;
  opacity: 1;
  -webkit-animation: fadeIn .2s;
          animation: fadeIn .2s;
}

#btnDrawerMenuClose {
  position: fixed;
  top: 25px;
  right: -25px;
  opacity: 0;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  z-index: 6;
}

#btnDrawerMenuClose.is-show {
  opacity: 1;
  right: 25px;
}

#btnDrawerMenuClose p {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
}

#btnDrawerMenuClose p:before, #btnDrawerMenuClose p:after {
  position: absolute;
  right: 50%;
  bottom: 50%;
  margin-top: 16.5px;
  margin-bottom: 16.5px;
  margin-bottom: -1.5px;
  margin-right: -20px;
}

#btnDrawerMenuClose p:before {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#btnDrawerMenuClose p:after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media only screen and (max-width: 480px) {
  #btnDrawerMenuClose {
    top: 15px;
  }
  #btnDrawerMenuClose.is-show {
    right: 15px;
  }
}

/* ---------------------------------------------------------
	category
----------------------------------------------------------*/
.c-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-category section {
  -ms-flex-preferred-size: 110px;
      flex-basis: 110px;
  text-align: center;
}

.c-category section + * {
  margin-left: 20px;
}

.c-category section a {
  display: block;
}

.c-category section a .m-catPic {
  position: relative;
  z-index: 0;
}

.c-category section a .m-catPic:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150%;
  height: 150%;
  border-radius: 150%;
  background-color: #fff;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.c-category section a:hover .m-catPic:before {
  opacity: 1;
  width: 100%;
  height: 100%;
}

/* ---------------------------------------------------------
	category
----------------------------------------------------------*/
.c-stationList {
  max-width: 980px;
  margin: 0 auto;
}

.c-stationList > section {
  text-align: center;
}

.c-stationList > section .stationTtl {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
}

.c-stationList > section + section {
  margin-top: 20px;
}

.c-stationList > section .stationCont {
  margin-left: 20px;
  display: inline-block;
}

.c-stationList > section .stationCont ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-stationList > section .stationCont ul li {
  margin: 0 5px;
}

.c-stationList > section .stationCont ul li a {
  padding: 5px 20px;
  display: block;
  border: 4px solid #000;
  font-weight: bold;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.c-stationList > section .stationCont ul li a:before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border: 4px solid #000;
  border-radius: 30px;
  -webkit-transition: all .5s;
  transition: all .5s;
  opacity: 0;
}

.c-stationList > section .stationCont ul li a:hover {
  color: #fff;
  background-color: #000;
}

.c-stationList > section .stationCont ul li a:hover:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .c-stationList > section .stationTtl {
    display: block;
  }
  .c-stationList > section .stationCont {
    margin: 0;
    display: inline-block;
  }
  .c-stationList > section .stationCont ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .c-stationList > section .stationCont ul li {
    margin-top: 10px;
  }
}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #CCC;
}

.mfp-preloader a:hover {
  color: #FFF;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}

.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}

.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

.mfp-arrow:after, .mfp-arrow .mfp-a {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

.mfp-arrow:before, .mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}

.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
  border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .6);
          box-shadow: 0 0 8px rgba(0, 0, 0, .6);
  background: #000;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .6);
          box-shadow: 0 0 8px rgba(0, 0, 0, .6);
  background: #444;
}

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, .6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, .6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.mfp-ie7 .mfp-img {
  padding: 0;
}

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px;
}

.mfp-ie7 .mfp-container {
  padding: 0;
}

.mfp-ie7 .mfp-content {
  padding-top: 44px;
}

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("/img/cmn/loading.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 0;
  z-index: 1;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: 0;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  padding-bottom: 50px;
}

.slick-dots {
  position: absolute;
  bottom: 20px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 10px;
}

.slick-dots li {
  margin: 0 5px;
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 10px;
}

.slick-dots li button {
  vertical-align: top;
  border: none;
  width: 34px;
  height: 14px;
  padding: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  border: 2px solid #fff;
  background-color: #ccc;
  border-radius: 10px;
  font-size: 0;
  cursor: pointer;
}

.slick-dots li.slick-active button {
  background-color: #e60012;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}
