@charset "UTF-8";
/* ---------------------------------------------------------
 *	リセット
 *---------------------------------------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow: auto;
  height: 100%;
  overflow-y: scroll;
  font-size: 62.5%;
}

body {
  height: 100%;
  background-color: #FDFDFD;
  color: #333;
  font-size: 1.4rem;
  font-family: "Noto Sans Japanese", sans-serif;
  line-height: 1.6;
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, figure {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

em {
  font-style: normal;
}

li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border: none;
  border-spacing: 0;
  font-size: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: top;
}

svg {
  max-width: 100%;
}

a {
  color: #333;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

a:visited {
  color: #333;
}

a:hover {
  color: #333;
  text-decoration: none;
}

a:active {
  color: #333;
}

a.js-telLink {
  color: #333;
  text-decoration: none;
  pointer-events: none;
}

a[href^="tel:"] {
  cursor: default;
  text-decoration: none;
}

select,
input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}

input[type="text"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
  padding: 8px 10px;
  border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea:focus {
  background-color: #ffeeee;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}

select {
  padding: 8px 5px;
  border: 1px solid #ccc;
}

label {
  cursor: pointer;
}

::selection {
  color: #fff;
  background-color: #ff6f6f;
}

::-moz-selection {
  color: #fff;
  background-color: #ff6f6f;
}

/* onmediaquery.js設定用
 *-------------------------------------------------- */
html {
  font-family: pc;
}

@media only screen and (max-width: 980px) {
  html {
    font-family: "minipc";
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-family: "tablet";
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-family: "phablet";
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-family: "sp";
  }
}

/* ---------------------------------------------------------
 *	iconfont
 *---------------------------------------------------------- */
@font-face {
  font-family: "icons";
  src: url("/font/fontello.woff2") format("woff2"), url("/font/fontello.woff") format("woff");
  font-display: block;
}

/* ---------------------------------------------------------
 *	googlefont
 *---------------------------------------------------------- */
/* notoSansJP */
@font-face {
  font-family: "Noto Sans Japanese";
  font-style: normal;
  font-weight: 400;
  src: url("/font/NotoSansJP-Regular.woff2") format("woff2"), url("/font/NotoSansJP-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Japanese";
  font-style: normal;
  font-weight: 700;
  src: url("/font/NotoSansJP-Bold.woff2") format("woff2"), url("/font/NotoSansJP-Bold.woff") format("woff");
  font-display: swap;
}

/* notoSansJP */
@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  src: url("/font/Metropolis-Regular.woff2") format("woff2"), url("/font/Metropolis-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 700;
  src: url("/font/Metropolis-Bold.woff2") format("woff2"), url("/font/Metropolis-Bold.woff") format("woff");
  font-display: swap;
}

/* ---------------------------------------------------------
 *	ヘッダー
 *---------------------------------------------------------- */
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  min-height: 100%;
}

#header .header_inner {
  position: fixed;
  width: 260px;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #e0e0e0;
}

#header .header_logo {
  height: 160px;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  background-color: #FDFDFD;
}

#header .header_nav {
  border-top: 1px solid #e0e0e0;
  padding: 30px;
}

#header .header_ttl {
  font-family: "Metropolis", sans-serif, "Noto Sans Japanese", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  position: relative;
  padding-left: 3rem;
}

#header .header_ttl::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 1rem;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #e0e0e0;
}

#header .header_ttl::after {
  content: '';
  position: absolute;
  top: 12px;
  left: 0;
  width: 2.5rem;
  height: 1px;
  border-top: 1px dotted #e0e0e0;
}

#header .header_item {
  border-top: 1px solid #e0e0e0;
  padding: 30px;
}

#header .header_item div.c-item_list > div {
  margin-top: 20px;
}

#header .header_tag {
  border-top: 1px solid #e0e0e0;
  padding: 30px;
}

#header .header_subNav {
  border-top: 1px solid #e0e0e0;
}

#header .header_subNav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#header .header_subNav > ul > li {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e0e0e0;
}

#header .header_subNav > ul > li:nth-of-type(even) {
  border-left: 1px solid #e0e0e0;
}

#header .header_subNav > ul > li > a {
  padding: 10px;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* ---------------------------------------------------------
 *	大枠
 *---------------------------------------------------------- */
#contents {
  min-height: 100%;
  margin-left: 260px;
}

/* ---------------------------------------------------------
 *	メイン枠
 *---------------------------------------------------------- */
#main {
  -ms-flex-preferred-size: calc(100% - 260px);
      flex-basis: calc(100% - 260px);
  padding: 60px 60px;
}

/* ---------------------------------------------------------
 *	フッター
 *---------------------------------------------------------- */
/* ---------------------------------------------------------
 *	btn
 *---------------------------------------------------------- */
/*
 *#styleguide
 *バリエーション
 *```
 *<p class="m-btn"><a href="#"><span>デフォルトボタン</span></a></p>
 *<p class="m-btn is-blank"><a href="#"><span>ブランクボタン</span></a></p>
 *<p class="m-btn is-shop"><a href="#"><span>ショップボタン</span></a></p>
 *<p class="m-btn is-place"><a href="#"><span>プレイスボタン</span></a></p>
 *<p class="m-btn is-back"><a href="#"><span>バックボタン</span></a></p>
 *``` */
/* ---------------------------------------------------------
 *	記事一覧
 *---------------------------------------------------------- */
.c-item_list .c-item_listDate {
  margin-top: 5px;
  font-family: "Metropolis", sans-serif;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-size: 1.2rem;
  color: #c0c0c0;
}

.c-item_list .c-item_listTxt {
  line-height: 1.4;
}

/* ---------------------------------------------------------
 *	タグ一覧
 *---------------------------------------------------------- */
.c-tag_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-tag_list > li {
  margin: 5px 5px 0 0;
}

.c-tag_list > li a {
  display: block;
  background-color: #666;
  color: #fff;
  padding: 3px 5px;
  font-size: 1.1rem;
}

.c-tag_list > li a::before {
  content: '#';
}
