@charset "UTF-8";
/* ---------------------------------------------------------
 *	記事詳細
 *----------------------------------------------------------
 *  header
 *---------------------------------------------------------- */
.entry_header .mainvisual {
  position: relative;
}

.entry_header .mainvisual_ttl {
  position: absolute;
  bottom: 20px;
  left: 80px;
}

.entry_header .mainvisual_ttl span {
  font-family: "Metropolis", "Noto Sans Japanese", sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.7);
  line-height: 1.4;
  color: #000;
}

.entry_header .mainvisual_date {
  position: absolute;
  top: -50px;
  right: 0;
  font-family: "Metropolis", sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  color: #e7e7e7;
  letter-spacing: 2px;
}

.entry_header .mainvisual_pic {
  text-align: center;
  background-color: #e2e2e2;
  position: relative;
}

.entry_header .mainvisual_pic span {
  display: inline-block;
  position: relative;
}

.entry_header .mainvisual_pic span::before, .entry_header .mainvisual_pic span::after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 1;
}

.entry_header .mainvisual_pic span::before {
  top: 10px;
  right: 10px;
  width: 110px;
  height: 61px;
  background-image: url(/fashion/img/logo_tiamo.png);
}

.entry_header .mainvisual_pic span::after {
  top: 50%;
  left: 50%;
  width: 140px;
  height: 122px;
  background-image: url(/fashion/img/logo_nano.png);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.entry_header .mainvisual_pic::before {
  position: absolute;
  top: -90px;
  left: 0;
  content: "COLUMN";
  color: #fff;
  font-size: 70px;
  font-family: "Metropolis", sans-serif;
  font-weight: 700;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 0.7;
  z-index: 1;
}

.entry_header .mainvisual_episode {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media only screen and (max-width: 1020px) {
  .entry_header .mainvisual_ttl {
    bottom: 10px;
    left: 20px;
  }
  .entry_header .mainvisual_ttl span {
    font-size: 2.8rem;
  }
  .entry_header .mainvisual_date {
    top: 10px;
    right: 10px;
    font-size: 2.8rem;
  }
  .entry_header .mainvisual_pic::before {
    top: -70px;
    font-size: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .entry_header .mainvisual_ttl, .entry_header .mainvisual_date {
    position: static;
  }
  .entry_header .mainvisual_ttl span, .entry_header .mainvisual_date {
    font-size: 2.2rem;
  }
  .entry_header .mainvisual_date {
    margin-top: 5px;
  }
  .entry_header .mainvisual_pic::before {
    top: -50px;
    font-size: 40px;
  }
  .entry_header .mainvisual_pic span::before {
    width: 55px;
    height: 30.5px;
  }
  .entry_header .mainvisual_pic span::after {
    width: 88px;
    height: 77px;
  }
}

@media only screen and (max-width: 480px) {
  .entry_header .mainvisual_ttl span, .entry_header .mainvisual_date {
    font-size: 1.8rem;
  }
  .entry_header .mainvisual_pic::before {
    top: -20px;
    font-size: 20px;
  }
}

/* ---------------------------------------------------------
 *  目次
 *---------------------------------------------------------- */
.entry_content .mokuji {
  max-width: 780px;
  margin: 60px auto 0;
  border: 1px solid #e0e0e0;
  padding: 30px;
}

.entry_content .mokuji_list > li {
  margin-top: 10px;
  counter-increment: cnt;
  position: relative;
  padding-left: 30px;
  font-size: 1.8rem;
  font-weight: 700;
}

.entry_content .mokuji_list > li::before {
  position: absolute;
  top: 3px;
  left: 0;
  content: counter(cnt) ". ";
  font-family: "Metropolis", sans-serif;
}

.entry_content .mokuji_list > li a {
  text-decoration: underline;
}

.entry_content .mokuji_list > li a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  .entry_content .mokuji {
    margin-top: 30px;
    padding: 20px;
  }
  .entry_content .mokuji_list > li {
    font-size: 1.6rem;
  }
}

/* ---------------------------------------------------------
 *  記事ブロック
 *---------------------------------------------------------- */
.entry_content .entry_section {
  margin-top: 120px;
}

.entry_content .entry_txt {
  margin-top: 30px;
  line-height: 2.0;
}

.entry_content .entry_txt a {
  text-decoration: underline;
  font-weight: 700;
  color: #41b3e4;
}

.entry_content .entry_pic {
  margin-top: 30px;
}

.entry_content .entry_pic img {
  border: 5px solid #e2e2e2;
}

.entry_content .entry_att {
  margin-top: 30px;
  line-height: 2.0;
  color: #e60012;
  font-weight: 700;
}

.entry_content .entry_mapIframe {
  margin-top: 30px;
  position: relative;
  padding-bottom: 46.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.entry_content .entry_mapIframe iframe {
  border: 5px solid #e2e2e2;
}

.entry_content .entry_mapIframe iframe, .entry_content .entry_mapIframe object, .entry_content .entry_mapIframe embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.entry_content .entry_facebook {
  margin: 60px auto 0;
  text-align: center;
}

.entry_content .entry_youtube {
  margin: 30px auto 0;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  border: 5px solid #e2e2e2;
}

.entry_content .entry_youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .entry_content .entry_mapIframe {
    padding-bottom: 56.25%;
  }
}

@media only screen and (max-width: 480px) {
  .entry_content .entry_section {
    margin-top: 60px;
  }
  .entry_content .entry_txt {
    margin-top: 20px;
    line-height: 1.8;
  }
  .entry_content .entry_pic {
    margin-top: 20px;
  }
}

/* ---------------------------------------------------------
 *  販売店リスト
 *---------------------------------------------------------- */
.entry_shop .shop_head {
  margin-top: 30px;
}

.entry_shop .shop_list {
  margin-top: 30px;
}

.entry_shop .shop_list section > p {
  padding: 5px 0 5px 3.5rem;
  border-top: 1px dotted #cfcfcf;
  font-size: 1.3rem;
}

.entry_shop .shop_list section:nth-child(n+4) {
  margin-top: 30px;
}

.entry_shop .shop_name {
  font-weight: 700;
  padding: 5px 10px;
  background-color: #e2e2e2;
  line-height: 1.4;
}

.entry_shop .shop_pin {
  position: relative;
}

.entry_shop .shop_pin:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 10px;
  color: #000;
  font-family: 'icons';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  text-decoration: none;
}

.entry_shop .shop_pin a::after {
  content: 'Google MAP';
  margin-left: 10px;
  background-color: #000;
  font-size: 1.0rem;
  color: #fff;
  line-height: 1.0;
  padding: 3px 5px;
  display: inline-block;
  font-family: "Metropolis", sans-serif;
}

.entry_shop .shop_date {
  position: relative;
}

.entry_shop .shop_date:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 10px;
  color: #000;
  font-family: 'icons';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  text-decoration: none;
}

.entry_shop .shop_time {
  position: relative;
}

.entry_shop .shop_time:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 10px;
  color: #000;
  font-family: 'icons';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  text-decoration: none;
}

.entry_shop .shop_item {
  position: relative;
}

.entry_shop .shop_item:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 10px;
  color: #000;
  font-family: 'icons';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  text-decoration: none;
}

.entry_shop .shop_txt {
  margin-top: 20px;
}

.entry_shop .shop_txt span {
  font-weight: 700;
}

.entry_shop .shop_txt span em {
  font-size: 2.0rem;
  font-family: "Metropolis", sans-serif;
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .entry_shop .shop_pin br {
    display: none;
  }
  .entry_shop .shop_map {
    padding-bottom: 56.25%;
  }
  .entry_shop .shop_list.m-bySide {
    display: block;
  }
  .entry_shop .shop_list.m-bySide section + section {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .entry_shop .shop_txt span em {
    font-size: 1.6rem;
  }
}

/* ---------------------------------------------------------
 *  ソーシャル
 *---------------------------------------------------------- */
.social_list {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
  border-bottom: 1px solid #e0e0e0;
}

.social_list > li {
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
}

.social_list > li a {
  display: block;
  background-color: #000;
  text-align: center;
  color: #fff;
}

.social_list > li a span {
  display: inline-block;
  padding: 10px 0 10px 2.8rem;
}

.social_list > li.is-facebook a span {
  position: relative;
}

.social_list > li.is-facebook a span:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10px;
  color: #fff;
  font-family: 'icons';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  text-decoration: none;
}

.social_list > li.is-twitter a span {
  position: relative;
}

.social_list > li.is-twitter a span:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  color: #fff;
  font-family: 'icons';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  text-decoration: none;
}

.social_list > li.is-line a span {
  position: relative;
}

.social_list > li.is-line a span:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  color: #fff;
  font-family: 'icons';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  text-decoration: none;
}

.social_list > li.is-hatenabookmark a span {
  position: relative;
}

.social_list > li.is-hatenabookmark a span:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5px;
  color: #fff;
  font-family: 'icons';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  text-decoration: none;
}

@media only screen and (max-width: 1020px) {
  .social_list > li a span {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 768px) {
  .social_list > li {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
  .social_list > li:nth-child(n+3) {
    margin-top: 10px;
  }
}

/* ---------------------------------------------------------
 *  関連記事
 *---------------------------------------------------------- */
.entry_relation {
  margin-top: 120px;
}

.entry_relation .relation_list {
  margin-top: 30px;
}

.entry_relation .relation_list > section:nth-of-type(n+7) {
  display: none;
}

@media only screen and (max-width: 480px) {
  .entry_relation {
    margin-top: 60px;
  }
}

/* ---------------------------------------------------------
 *  関連商品一覧
 *---------------------------------------------------------- */
.entry_saleitems {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.entry_saleitems > * {
  -ms-flex-preferred-size: calc((100% - 80px) / 5);
      flex-basis: calc((100% - 80px) / 5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fff;
}

.entry_saleitems > *:not(:nth-of-type(5n-4)) {
  margin-left: 20px;
}

.entry_saleitems > *:nth-of-type(n+6) {
  margin-top: 30px;
}

.entry_saleitems > * > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.entry_saleitems > * > a:hover .saleitems_pic img {
  opacity: .7;
}

.entry_saleitems > * > a:hover .saleitems_pic::before {
  right: 50%;
  opacity: 1;
}

.entry_saleitems > * > a > * {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.entry_saleitems .saleitems_pic {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
}

.entry_saleitems .saleitems_pic img {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.entry_saleitems .saleitems_pic::before {
  -webkit-transition: all .5s;
  transition: all .5s;
  position: absolute;
  content: 'check !!';
  font-family: "Metropolis", sans-serif;
  top: 50%;
  right: 40%;
  font-weight: 700;
  color: #fff;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  z-index: 1;
  white-space: nowrap;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2px 15px;
  opacity: 0;
  letter-spacing: 2px;
}

.entry_saleitems .saleitems_maker {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font-size: 1.1rem;
  line-height: 1.2;
  font-family: "Metropolis", "Noto Sans Japanese", sans-serif;
  padding: 5px 10px 0;
}

.entry_saleitems .saleitems_name {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  font-size: 1.2rem;
  line-height: 1.4;
  font-family: "Metropolis", "Noto Sans Japanese", sans-serif;
  padding: 5px 10px 10px;
  font-weight: 700;
}

@media only screen and (max-width: 1020px) {
  .entry_saleitems > * {
    -ms-flex-preferred-size: calc((100% - 60px) / 4);
        flex-basis: calc((100% - 60px) / 4);
  }
  .entry_saleitems > *:nth-of-type(4n-3) {
    margin-left: 0;
  }
  .entry_saleitems > *:not(:nth-of-type(4n-3)) {
    margin-left: 20px;
  }
  .entry_saleitems > *:nth-of-type(n+5) {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .entry_saleitems > * {
    -ms-flex-preferred-size: calc((100% - 20px) / 3);
        flex-basis: calc((100% - 20px) / 3);
  }
  .entry_saleitems > *:nth-of-type(3n-2) {
    margin-left: 0;
  }
  .entry_saleitems > *:not(:nth-of-type(3n-2)) {
    margin-left: 10px;
  }
  .entry_saleitems > *:nth-of-type(n+4) {
    margin-top: 20px;
  }
  .entry_saleitems .saleitems_pic::before {
    padding: 2px 10px;
    font-size: 1.1rem;
  }
  .entry_saleitems .saleitems_name {
    padding: 5px;
  }
  .entry_saleitems .saleitems_maker {
    padding: 5px 5px 0;
  }
}

/* ---------------------------------------------------------
 *  tiamo
 *---------------------------------------------------------- */
.tiamo_block > section {
  margin-top: 30px;
}

/* ---------------------------------------------------------
 *  個別記事 SASS
 *---------------------------------------------------------- */
/* ---------------------------------------------------------
 *	バターバトラー
 *---------------------------------------------------------- */
.butterbutler_txt {
  margin-top: 10px;
}

.butterbutler_txt span {
  font-size: 1.6rem;
  font-weight: 700;
}

/* ---------------------------------------------------------
 *	chocolaphil
 *---------------------------------------------------------- */
.chocolaphil_txt {
  margin-top: 10px;
}

.chocolaphil_txt span {
  font-size: 1.6rem;
  font-weight: 700;
}

/* ---------------------------------------------------------
 *	ニュージーランド産プレミアム牧草牛「リザーヴ」
 *---------------------------------------------------------- */
.reserve_txt {
  margin-top: 10px;
}

.reserve_txt span {
  font-size: 1.6rem;
  font-weight: 700;
}

/* ---------------------------------------------------------
 *	amysbakeshop
 *---------------------------------------------------------- */
.amysbakeshop_txt {
  margin-top: 10px;
}

.amysbakeshop_txt span {
  font-size: 1.6rem;
  font-weight: 700;
}
