@charset "UTF-8";
/* ---------------------------------------------------------
 *	記事一覧
 *---------------------------------------------------------- */
#p-home #main .item_box .c-item_list:nth-of-type(1) > *:nth-of-type(-n+2) {
  flex-basis: 48%;
}

#p-home #main .item_box .c-item_list:nth-of-type(1) > *:nth-of-type(3) {
  margin-top: 30px;
}

#p-home #main .item_box .c-item_list + .c-item_list {
  margin-top: 60px;
}

@media only screen and (max-width: 480px) {
  #p-home #main .item_box .c-item_list:nth-of-type(1) > *:nth-of-type(1) {
    flex-basis: 100%;
  }
  #p-home #main .item_box .c-item_list:nth-of-type(1) > *:nth-of-type(2) {
    margin-top: 30px;
  }
}

#p-home #main .hoge {
  color: #000;
}
