@charset "UTF-8";
/* ---------------------------------------------------------
 *	このサイトについて
 *---------------------------------------------------------- */
#p-normal #main .normal_block {
  margin-top: 60px;
}

#p-normal #main .normal_ttl {
  font-size: 1.8rem;
  font-weight: bold;
}

#p-normal #main .normal_ttl em {
  color: #e60012;
}

#p-normal #main .normal_txt {
  margin-top: 10px;
}

@media only screen and (max-width: 480px) {
  #p-normal #main .normal_block {
    margin-top: 30px;
  }
  #p-normal #main .normal_ttl {
    font-size: 1.6rem;
  }
}
