@charset "UTF-8";
/* ---------------------------------------------------------
 *	このサイトについて
 *---------------------------------------------------------- */
#p-normal #main .c-pageTitle_txt em, #p-normal #main .m-titleType02 em {
  font-family: "ZCOOL QingKe HuangYou", cursive;
  letter-spacing: 2px;
  font-size: 3.0rem;
  margin-right: 10px;
  font-weight: normal;
  line-height: 1.0;
}

#p-normal #main .normal_block {
  margin-top: 60px;
}

#p-normal #main .normal_ttl {
  font-size: 1.8rem;
  font-weight: bold;
}

#p-normal #main .normal_ttl em {
  color: #e60012;
}

#p-normal #main .normal_txt {
  margin-top: 10px;
  line-height: 2.0;
}

#p-normal #main .normal_txt em {
  color: #fb246c;
  font-weight: bold;
}

#p-normal #main .normal_txt span {
  font-family: "ZCOOL QingKe HuangYou", cursive;
  letter-spacing: 2px;
}

#p-normal #main .normal_txt a {
  text-decoration: underline;
  font-weight: 700;
}

#p-normal #main .normal_txt a:hover {
  text-decoration: none;
}

#p-normal #main .normal_list li {
  margin-top: 10px;
  position: relative;
  counter-increment: cnt;
  padding-left: 40px;
}

#p-normal #main .normal_list li:before {
  content: counter(cnt) ".";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  font-family: "Saira", sans-serif;
  font-weight: bold;
}

#p-normal #main .normal_list li:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0px;
  width: 20px;
  height: 20px;
  border-right: 1px solid #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media only screen and (max-width: 480px) {
  #p-normal #main .c-pageTitle_txt em, #p-normal #main .m-titleType02 em {
    font-size: 2.4rem;
  }
  #p-normal #main .normal_block {
    margin-top: 30px;
  }
  #p-normal #main .normal_ttl {
    font-size: 1.6rem;
  }
}
