@charset "UTF-8";
/* ---------------------------------------------------------
 *	このサイトについて/プライバシーポリシーについて
 *---------------------------------------------------------- */
#p-normal #main .c-pageTitle_txt em, #p-normal #main .m-titleType02 em {
  font-family: "ZCOOL QingKe HuangYou", cursive;
  letter-spacing: 2px;
  font-size: 3.0rem;
  margin-right: 10px;
  font-weight: normal;
  line-height: 1.0;
}

#p-normal #main .normal_block {
  margin-top: 60px;
}

#p-normal #main .normal_ttl {
  font-size: 1.8rem;
  font-weight: bold;
}

#p-normal #main .normal_ttl em {
  color: #e60012;
}

#p-normal #main .normal_txt {
  margin-top: 10px;
  line-height: 2.0;
}

#p-normal #main .normal_txt em {
  color: #fb246c;
  font-weight: bold;
}

#p-normal #main .normal_txt span {
  font-family: "ZCOOL QingKe HuangYou", cursive;
  letter-spacing: 2px;
}

#p-normal #main .normal_txt a {
  text-decoration: underline;
  font-weight: 700;
}

#p-normal #main .normal_txt a:hover {
  text-decoration: none;
}

#p-normal #main .normal_list li {
  margin-top: 10px;
  position: relative;
  counter-increment: cnt;
  padding-left: 40px;
}

#p-normal #main .normal_list li:before {
  content: counter(cnt) ".";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  font-family: "Saira", sans-serif;
  font-weight: bold;
}

#p-normal #main .normal_list li:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0px;
  width: 20px;
  height: 20px;
  border-right: 1px solid #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media only screen and (max-width: 480px) {
  #p-normal #main .c-pageTitle_txt em, #p-normal #main .m-titleType02 em {
    font-size: 2.4rem;
  }
  #p-normal #main .normal_block {
    margin-top: 30px;
  }
  #p-normal #main .normal_ttl {
    font-size: 1.6rem;
  }
}

/* ---------------------------------------------------------
 *	お問い合わせ
 *---------------------------------------------------------- */
@-webkit-keyframes moveUp {
  0% {
    top: 10px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    top: 10px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

#p-normal.p-contact #main .normal_block {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#p-normal.p-contact #main .fieldItem {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#p-normal.p-contact #main .fieldItem > * {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 10px;
}

#p-normal.p-contact #main .itemHead {
  text-align: right;
}

#p-normal.p-contact #main .itemHead span {
  font-weight: 700;
}

#p-normal.p-contact #main .itemHead span::after {
  content: '：';
}

#p-normal.p-contact #main .formItemError {
  margin-top: 5px;
  color: #e60012;
  padding-left: 30px;
  position: relative;
  -webkit-animation: moveUp .3s both;
          animation: moveUp .3s both;
}

#p-normal.p-contact #main .formItemError::before {
  content: '!';
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #e60012;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
}

#p-normal.p-contact #main .formBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#p-normal.p-contact #main .formBtn > * {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  margin: 0 10px;
}

#p-normal.p-contact #main .formBtn .m-btn {
  margin-top: 30px;
}

#p-normal.p-contact #main .formBtn .m-btn a, #p-normal.p-contact #main .formBtn .m-btn span {
  max-width: 100%;
}

@media only screen and (max-width: 480px) {
  #p-normal.p-contact #main .fieldItem {
    display: block;
  }
  #p-normal.p-contact #main .fieldItem > * {
    padding: 0;
  }
  #p-normal.p-contact #main .itemHead {
    text-align: left;
  }
  #p-normal.p-contact #main .itemCont {
    margin-top: 10px;
  }
}

/* ---------------------------------------------------------
 *	お問い合わせ※入力
 *---------------------------------------------------------- */
#p-normal.p-contact.is-index #main .itemHead {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  padding-top: 10px;
}

#p-normal.p-contact.is-index #main .itemHead.is-require {
  padding-right: 50px;
  position: relative;
}

#p-normal.p-contact.is-index #main .itemHead.is-require::before {
  content: '必須';
  position: absolute;
  top: 10px;
  right: 0;
  background-color: #e60012;
  color: #fff;
  font-size: 1.2rem;
  padding: 2px 10px;
  border-radius: 10px;
}

#p-normal.p-contact.is-index #main .itemCont {
  -ms-flex-preferred-size: calc(100% - 200px);
      flex-basis: calc(100% - 200px);
}

#p-normal.p-contact.is-index #main .itemCont input, #p-normal.p-contact.is-index #main .itemCont select, #p-normal.p-contact.is-index #main .itemCont textarea {
  width: 100%;
}

@media only screen and (max-width: 480px) {
  #p-normal.p-contact.is-index #main .itemHead {
    padding-top: 0;
  }
  #p-normal.p-contact.is-index #main .itemHead.is-require {
    padding-right: 0;
    padding-left: 50px;
  }
  #p-normal.p-contact.is-index #main .itemHead.is-require::before {
    right: auto;
    top: 0;
    left: 0;
  }
}

/* ---------------------------------------------------------
 *	お問い合わせ※確認
 *---------------------------------------------------------- */
#p-normal.p-contact.is-done #main .formMessage em {
  font-size: 1.6rem;
  font-weight: 700;
}

#p-normal.p-contact.is-done #main .formMessage + .formMessage {
  margin-top: 30px;
}
