@charset "UTF-8";
/* ---------------------------------------------------------
	ホーム
----------------------------------------------------------*/
/* mainSlide
-------------------------------------------------- */
#p_home .mainSlide {
  background-color: #e2e2e2;
}

#p_home .mainSlide .slideInner {
  max-width: 980px;
  margin: 0 auto;
}

/* -----------------------------------------------
/* sec-category
-------------------------------------------------- */
#p_home .sec-category {
  background-color: #e2e2e2;
  padding: 50px 0;
}

/* -----------------------------------------------
/* sec-mine
-------------------------------------------------- */
#p_home .sec-mine .mineList {
  max-width: 980px;
  margin: 0 auto;
}
