@charset "UTF-8";
/* ---------------------------------------------------------
	ホーム
----------------------------------------------------------*/
/* mainSlide
-------------------------------------------------- */
#p_home .mainSlide {
  background-color: #f3f3f3;
}

#p_home .mainSlide .slideInner {
  max-width: 980px;
  margin: 0 auto 30px;
  padding-bottom: 0;
}

/* -----------------------------------------------
/* sec-category
-------------------------------------------------- */
#p_home .sec-category {
  background-color: #f3f3f3;
  padding: 50px 0;
}

/* -----------------------------------------------
/* sec-temiyage
-------------------------------------------------- */
#p_home .sec-temiyage .temiyageList {
  max-width: 980px;
  margin: 0 auto 30px;
}

@media only screen and (max-width: 480px) {
  #p_home .sec-temiyage .temiyageList {
    margin: 0 auto;
  }
}

/* -----------------------------------------------
/* sec-mine
-------------------------------------------------- */
#p_home .sec-mine .mineList {
  max-width: 980px;
  margin: 0 auto 30px;
}

#p_home .sec-mine .mineList > *:nth-of-type(n+5) {
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  #p_home .sec-mine .mineList > *:nth-of-type(4) {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 480px) {
  #p_home .sec-mine .mineList > *:nth-of-type(3) {
    margin-top: 20px;
  }
}

/* -----------------------------------------------
/* sec-station
-------------------------------------------------- */
#p_home .sec-station {
  background-color: #f3f3f3;
  padding: 50px 0;
}

/* ---------------------------------------------
	商品詳細ページ
----------------------------------------------------------*/
/* メイン
-------------------------------------------------- */
#p_item .mainItem {
  background-color: #f3f3f3;
}

#p_item .mainItem .itemInner {
  padding: 60px 0 20px;
  max-width: 980px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#p_item .mainItem .itemAlbum {
  max-width: calc(100% - 400px);
}

#p_item .mainItem .itemAlbum.is-new {
  position: relative;
}

#p_item .mainItem .itemAlbum.is-new:before {
  content: 'NEW';
  position: absolute;
  top: -30px;
  left: 0;
  background-color: #f6ff00;
  padding: 3px 10px;
  font-size: 16px;
  height: 30px;
  font-family: "Quantico", sans-serif;
  font-weight: 700;
}

#p_item .mainItem .albumList {
  margin-top: 20px;
}

#p_item .mainItem .listItem {
  padding: 0 10px;
}

#p_item .mainItem .listItem img {
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
  border: 2px dashed transparent;
}

#p_item .mainItem .listItem.slick-current img {
  border: 2px dashed #000;
}

#p_item .mainItem .listItem:hover img {
  opacity: .7;
}

#p_item .mainItem .itemHead {
  max-width: 400px;
  width: 100%;
  padding: 10px 0 60px 30px;
  position: relative;
}

#p_item .mainItem .itemBrand {
  color: #666;
  font-size: 16px;
}

#p_item .mainItem .itemName {
  font-size: 20px;
  font-weight: bold;
}

#p_item .mainItem .itemPrice em {
  font-family: "Saira", sans-serif;
  font-weight: 500;
  font-size: 34px;
  color: #e60012;
}

#p_item .mainItem .itemStatus {
  position: relative;
}

#p_item .mainItem .itemStatus:before {
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100px;
  text-align: center;
}

#p_item .mainItem .itemStatus.is-normal:before {
  content: '常温';
  border: 2px solid #999;
  color: #999;
}

#p_item .mainItem .itemStatus.is-cool:before {
  content: '冷蔵';
  border: 2px solid #3a589a;
  color: #3a589a;
}

#p_item .mainItem .itemStatus.is-frozen:before {
  content: '冷凍';
  border: 2px solid #0262b4;
  color: #0262b4;
}

#p_item .mainItem .itemParam {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#p_item .mainItem .itemParam .itemLimit, #p_item .mainItem .itemParam .itemStation {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
}

#p_item .mainItem .itemParam .itemLimit span, #p_item .mainItem .itemParam .itemStation span {
  display: inline-block;
}

#p_item .mainItem .itemParam .itemLimit span.ttl, #p_item .mainItem .itemParam .itemStation span.ttl {
  width: 40%;
}

#p_item .mainItem .itemParam .itemLimit span.txt, #p_item .mainItem .itemParam .itemStation span.txt {
  width: 60%;
  border: 2px solid #000;
  background-color: #fff;
  text-align: center;
  padding: 0 5px;
}

#p_item .mainItem .itemParam .itemLimit span.txt {
  font-family: "Quantico", sans-serif;
  font-weight: 700;
}

#p_item .mainItem .itemCredit {
  margin-top: 20px;
}

#p_item .mainItem .itemCredit .creditTtl {
  font-weight: bold;
}

#p_item .mainItem .itemCredit .creditList {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#p_item .mainItem .itemCredit .creditList > li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  padding: 3px;
  font-size: 12px;
  border: 2px solid #000;
  color: #000;
  max-width: 120px;
}

#p_item .mainItem .itemCredit .creditList > li + li {
  margin-left: 10px;
}

#p_item .mainItem .itemBtn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% - 30px);
  margin-left: 30px;
}

@media only screen and (max-width: 768px) {
  #p_item .mainItem .itemInner {
    display: block;
  }
  #p_item .mainItem .itemAlbum {
    max-width: 100%;
  }
  #p_item .mainItem .mainItem img {
    margin: 0 auto;
  }
  #p_item .mainItem .albumList {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #p_item .mainItem .itemHead {
    max-width: 100%;
    padding: 20px 20px 60px 20px;
  }
  #p_item .mainItem .itemParam {
    margin-top: 20px;
  }
  #p_item .mainItem .itemBtn {
    margin-left: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  #p_item .mainItem .itemHead {
    padding: 10px 10px 60px 10px;
  }
  #p_item .mainItem .itemCredit .creditList > li {
    font-size: 10px;
  }
}

/* ---------------------------------------------
/* 商品のご説明
-------------------------------------------------- */
#p_item .mainDetails .detailsInner {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
  padding-top: 60px;
}

#p_item .mainDetails .detailsBtn {
  position: absolute;
  top: 20px;
  right: 0;
  width: 400px;
  padding-left: 30px;
}

#p_item .mainDetails .itemTtl {
  font-size: 18px;
  font-weight: bold;
}

#p_item .mainDetails .descriptionTxt {
  margin-top: 20px;
}

#p_item .mainDetails .itemVariation {
  margin-top: 80px;
}

#p_item .mainDetails .variationList {
  margin: 20px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#p_item .mainDetails .variationList > li {
  position: relative;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

#p_item .mainDetails .variationList > li + li {
  margin-left: 10px;
}

#p_item .mainDetails .variationList > li span {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  border: 2px solid #000;
  background-color: #000;
  text-align: center;
  padding: 0 10px;
  font-size: 12px;
  color: #fff;
  border-radius: 20px;
}

#p_item .mainDetails .itemShop {
  margin-top: 80px;
}

#p_item .mainDetails .shopList {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#p_item .mainDetails .shopList > li {
  -ms-flex-preferred-size: calc(50% - 10px);
      flex-basis: calc(50% - 10px);
}

#p_item .mainDetails .shopList > li:nth-of-type(even) {
  margin-left: 20px;
}

#p_item .mainDetails .shopList > li:nth-of-type(n+3) {
  margin-top: 20px;
}

#p_item .mainDetails .shopName {
  font-weight: bold;
}

#p_item .mainDetails .shopMapActive {
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
  background-color: #000;
  color: #fff;
  padding: 5px 12px;
  line-height: 1.0;
  font-size: 10px;
  font-family: "Quantico", sans-serif;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
}

#p_item .mainDetails .shopMapActive:before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border: 2px solid #000;
  border-radius: 30px;
  -webkit-transition: all .5s;
  transition: all .5s;
  opacity: 0;
}

#p_item .mainDetails .shopMapActive:hover {
  color: #000;
  background-color: #fff;
}

#p_item .mainDetails .shopMapActive:hover:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

#p_item .mainDetails .shopBtn {
  margin-top: 40px;
}

@media only screen and (max-width: 768px) {
  #p_item .mainDetails .variationList {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #p_item .mainDetails .variationList > li {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  #p_item .mainDetails .detailsInner {
    padding: 80px 20px 0 20px;
  }
  #p_item .mainDetails .detailsBtn {
    width: 100%;
    padding-left: 0;
  }
}

@media only screen and (max-width: 480px) {
  #p_item .mainDetails .shopList {
    display: block;
  }
  #p_item .mainDetails .shopList > li + li {
    margin-top: 20px;
  }
  #p_item .mainDetails .shopList > li:nth-of-type(even) {
    margin-left: 0;
  }
  #p_item .mainDetails .itemVariation {
    margin-top: 40px;
  }
  #p_item .mainDetails .variationList {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #p_item .mainDetails .variationList > li {
    -ms-flex-preferred-size: calc(50% - 5px);
        flex-basis: calc(50% - 5px);
  }
  #p_item .mainDetails .variationList > li:nth-of-type(even) {
    margin-left: 10px;
  }
  #p_item .mainDetails .variationList > li:nth-of-type(odd) {
    margin-left: 0;
  }
  #p_item .mainDetails .variationList > li:nth-of-type(n+3) {
    margin-top: 20px;
  }
  #p_item .mainDetails .itemShop {
    margin-top: 40px;
  }
}

#googleMap {
  margin-top: 20px;
  width: 100%;
  height: 400px;
}

/* -----------------------------------------------
/* sec-other
-------------------------------------------------- */
#p_item .sec-other .otherList {
  max-width: 980px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#p_item .sec-other .otherList > section {
  -ms-flex-preferred-size: 160px;
      flex-basis: 160px;
  padding: 10px;
}

#p_item .sec-other .otherPic {
  display: inline-block;
  margin: 0 auto;
  width: 160px;
  height: 160px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

#p_item .sec-other .otherPic:before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border-radius: 100%;
  border: 4px solid #fff;
  z-index: 1;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#p_item .sec-other .otherPic img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  max-width: none;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#p_item .sec-other a:hover .otherPic:before {
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
}

#p_item .sec-other .otherPrice em {
  font-family: "Saira", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #e60012;
}

@media only screen and (max-width: 768px) {
  #p_item .sec-other .otherList {
    padding: 0 20px;
  }
  #p_item .sec-other .otherList > section {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }
  #p_item .sec-other .otherPic {
    width: 140px;
    height: 140px;
  }
}

@media only screen and (max-width: 480px) {
  #p_item .sec-other .otherList > section {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  #p_item .sec-other .otherPic {
    width: 120px;
    height: 120px;
  }
}

@media only screen and (max-width: 320px) {
  #p_item .sec-other .otherPic {
    width: 120px;
    height: 120px;
  }
}

/* -----------------------------------------------
/* sec-recommend
-------------------------------------------------- */
#p_item .sec-recommend {
  background-color: #f3f3f3;
  padding: 50px 0;
}

#p_item .sec-recommend .recommendList {
  max-width: 980px;
  margin: 0 auto 30px;
}

#p_item .sec-recommend .recommendList > * a:before {
  background-color: #fff;
}

/* ---------------------------------------------
	アーカイブページ
----------------------------------------------------------*/
/* -----------------------------------------------
/* sec-archive
-------------------------------------------------- */
#p_category .sec-archive {
  margin-top: 0;
}

#p_category .sec-archive .heading {
  background-color: #f3f3f3;
  padding: 50px 0;
  text-align: center;
}

#p_category .sec-archive .heading .headingTtl {
  font-size: 20px;
  font-weight: bold;
}

#p_category .sec-archive .archiveList {
  max-width: 980px;
  margin: 80px auto 0;
}

#p_category .sec-archive .archiveList > *:nth-of-type(n+5) {
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  #p_category .sec-archive .archiveList > *:nth-of-type(4) {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 480px) {
  #p_category .sec-archive .archiveList > *:nth-of-type(3) {
    margin-top: 20px;
  }
}

/* -----------------------------------------------
/* sec-station
-------------------------------------------------- */
#p_category .sec-station {
  background-color: #f3f3f3;
  padding: 50px 0;
}

/* -----------------------------------------------
/* sec-category
-------------------------------------------------- */
#p_category .sec-category {
  background-color: #f3f3f3;
  padding: 50px 0;
}

/* -----------------------------------------------
/* お問い合わせ
-------------------------------------------------- */
#p_contact .sec-contact {
  margin: 0;
}

#p_contact .sec-contact .heading {
  background-color: #f3f3f3;
  padding: 50px 0;
  text-align: center;
}

#p_contact .sec-contact .heading .headingTtl {
  font-size: 20px;
  font-weight: bold;
}

#p_contact .sec-contact .form_body {
  max-width: 780px;
  margin: 80px auto;
}

#p_contact .sec-contact .field_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

#p_contact .sec-contact .item_group + .item_group {
  margin-top: 5px;
}

#p_contact .sec-contact .item_head {
  -ms-flex-preferred-size: 220px;
      flex-basis: 220px;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  padding: 5px 20px 0 0;
}

#p_contact .sec-contact .item_cont {
  -ms-flex-preferred-size: calc(100% - 220px);
      flex-basis: calc(100% - 220px);
}

#p_contact .sec-contact .item_cont input[type="text"], #p_contact .sec-contact .item_cont select, #p_contact .sec-contact .item_cont textarea {
  width: 100%;
  font-size: 16px;
}

#p_contact .sec-contact .form_btn {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#p_contact .sec-contact .form_btn > li {
  max-width: 260px;
  width: 100%;
}

#p_contact .sec-contact .form_btn > li + li {
  margin-left: 20px;
}

@media only screen and (max-width: 768px) {
  #p_contact .sec-contact .form_body {
    padding: 0 20px;
  }
  #p_contact .sec-contact .item_head {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    font-size: 16px;
    padding: 5px 10px 0 0;
  }
  #p_contact .sec-contact .item_cont {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}

@media only screen and (max-width: 480px) {
  #p_contact .sec-contact .form_body {
    margin: 40px auto;
  }
  #p_contact .sec-contact .field_item {
    display: block;
  }
  #p_contact .sec-contact .item_head {
    text-align: left;
  }
  #p_contact .sec-contact .item_cont {
    margin-top: 10px;
  }
  #p_contact .sec-contact .field_item {
    padding: 0 0 20px;
  }
}

/* -----------------------------------------------
/* お問い合わせ 確認
-------------------------------------------------- */
#p_contact .sec-contact.is-confirm .item_cont {
  font-size: 16px;
  padding-top: 6px;
}
