//-
	---------------------------------------------------------
	ページ共通の変数を定義
	---------------------------------------------------------
block setVar
	- var pageUrl
	- var layout
	- var bodyAttributes = {}
include ../_function/_create_dir_array

//-
	---------------------------------------------------------
	html
	---------------------------------------------------------
doctype html
html(lang="ja")
	include _head_contact
	body&attributes(bodyAttributes)
		|<?php include(DIR_INC . 'gtm_body.html'); ?>

		//-
			---------------------------------------------------------
			ヘッダー
			---------------------------------------------------------
		|<?php include(DIR_INC . 'header_contact.html'); ?>

		div#contents
			//-
				---------------------------------------------------------
				コンテンツ
				---------------------------------------------------------
			main#main
				include /_pug/_inc/_breadcrumbs
				block main

			//-
				---------------------------------------------------------
				フッター
				---------------------------------------------------------
			|
			|<?php include(DIR_INC . 'footer.html'); ?>

		//-
			---------------------------------------------------------
			Javascript
			---------------------------------------------------------
		|
		|<?php include(DIR_INC . 'script.html'); ?>
		|
		block script
