extends /_pug/_inc/_layout

//-
	---------------------------------------------------------
	ページ固有の変数を定義
	---------------------------------------------------------
append setVar
	- layout = 'normal'
	- pageUrl = '/about/index.html'
	- dirArray = createDirArray(pageUrl)
	- bodyAttributes.id = 'p-normal'

//-
	---------------------------------------------------------
	ページ固有のCSSを読み込み
	---------------------------------------------------------
append css
	link(rel="stylesheet" href="/css/p_normal.css")

//-
	---------------------------------------------------------
	コンテンツ
	---------------------------------------------------------
block main
	div.c-pageTitle
		div.c-pageTitle_inner
			h1.c-pageTitle_txt STOCKNOW 手土産・ファッション情報サイトについて

	div.main_inner
		section.normal_block
			p 現在ページを準備しております。完成までもうしばらくお待ちください。
