extends /_pug/_inc/_layout

//-
	---------------------------------------------------------
	ページ固有の変数を定義
	---------------------------------------------------------
append setVar
	- layout = 'normal'
	- pageUrl = '/about/index.html'
	- dirArray = createDirArray(pageUrl)
	- bodyAttributes.id = 'p-normal'

//-
	---------------------------------------------------------
	ページ固有のCSSを読み込み
	---------------------------------------------------------
append css
	link(rel="stylesheet" href="/css/p_normal.css")

//-
	---------------------------------------------------------
	コンテンツ
	---------------------------------------------------------
block main
	div.c-pageTitle
		div.c-pageTitle_inner
			h1.c-pageTitle_txt STOCKNOW 手土産・ファッション情報サイトについて

	div.main_inner
		section.normal_block
			h2.m-titleType02 STOCKNOWとは
			p.normal_txt 「STOCKNOW」は日頃から#[em お世話になっている方への差し入れ] や、日々#[em 頑張っている自分へのご褒美ギフト] を探す際の#[em 『お手伝いサイト』]です。<br>質のいいおしゃれな #[em 『手土産ギフト』] や、本当に満足のいく#[em 『味重視のギフト』]もたくさん掲載しておりますので、タイプにあった商品を探してみてください！
			p.normal_txt また何かご要望などございましたら、下記お問い合わせフォームよりお問い合わせくださいませ。
			p.m-btn: a(href='/contact/') #[span お問い合わせ]
		section.normal_block
			h2.m-titleType02 STOCKNOWのプログラムについて
			p.normal_txt
				| STOCKNOWサイト（※以下、『当サイト』といいます）は掲載情報を日々管理しておりますが、それでも情報に不備がある場合がございます。
				br
				| 利用者ご自身の責任において以下の点に注意していただきますよう、よろしくお願いいたします。
			ul.normal_list
				li
					| 当サイトは、一部アフィリエイトプログラムを使って商品をご紹介しており、直接の販売は行っておりません。商品に関するお問い合わせにつきましては、販売店さまに直接ご連絡いただきますようお願いいたします。
				li
					| 当サイトに掲載されております記事は、個人的な主観をもとに書いており、すべての人に当てはまるというものではありません。
					br
					|  商品やサービスのご購入に関する最終的な判断はご自身の責任でお願いいたします。
					br
					|  万が一、当サイトをご利用することで発生したトラブルに関しては一切の責任を負いかねます。予めご了承くださいますようお願いいたします。


