extends /_pug/_inc/_layout

//-
	---------------------------------------------------------
	ページ固有の変数を定義
	---------------------------------------------------------
append setVar
	- layout = 'normal'
	- pageUrl = '/_error/404.html'
	- dirArray = createDirArray(pageUrl)
	- bodyAttributes.id = 'p-normal'

//-
	---------------------------------------------------------
	ページ固有のCSSを読み込み
	---------------------------------------------------------
append css
	link(rel="stylesheet" href="/css/p_normal.css")

//-
	---------------------------------------------------------
	コンテンツ
	---------------------------------------------------------
block main
	div.c-pageTitle
		div.c-pageTitle_inner
			h1.c-pageTitle_txt お探しのページは見つかりませんでした。

	div.main_inner
		section
			h2.m-subHeading #[em 『手土産・ファッション情報サイト。STOCKNOW』]を<br>閲覧いただきありがとうございます。</h2>
			p.filedTxt 誠に申し訳ございませんが、お探しの情報が見つかりませんでした。
			p.filedTxt お探しの情報は他のページへ移動したか、掲載期間終了のため閲覧できない可能性がございます。
			p.filedTxt お手数おかけしますが、『おしゃれな手土産、お取り寄せギフト探し。STOCKNOW』のトップページへお戻りいただくか、下記コンテンツへアクセスし、情報をお求めください。




