<mtapp:setting
    id="imexport_character"
    label="<__trans phrase="Imexport character">">
<p><input type="radio" id="imexport_character_0" name="imexport_character" value="cp932" <mt:if name="imexport_character" eq="cp932">checked</mt:if> /> <label for="imexport_character_0"><__trans phrase="shiftjis"></label><br />
   <input type="radio" id="imexport_character_1" name="imexport_character" value="utf-8" <mt:if name="imexport_character" eq="utf-8">checked</mt:if> /> <label for="imexport_character_1"><__trans phrase="utf8"></label><br />
   <input type="radio" id="imexport_character_2" name="imexport_character" value="euc" <mt:if name="imexport_character" eq="euc">checked</mt:if> /> <label for="imexport_character_2"><__trans phrase="euc"></label><br />
   <input type="radio" id="imexport_character_3" name="imexport_character" value="system" <mt:if name="imexport_character" eq="system">checked</mt:if> /> <label for="imexport_character_3"><__trans phrase="system"></label></p>
</mtapp:setting>
