<mtapp:setting
  id="category_separator"
  label="<__trans phrase="Category separator">">
  <input type="text" id="category_separator" name="category_separator" value="<mt:var name="category_separator" />" style="width:150px" />
</mtapp:setting>
