<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>お問い合わせ | おしゃれな手土産ギフト、ご褒美ギフトなら STOCKNOW</title>
<meta name="description" content="お問い合わせのページ。ワンランクアップの手土産ギフトや、自分用のお取り寄せ、ご褒美ギフト探しならSTOCKNOW！おしゃれな最新スイーツやグルメ情報をお届けします。">
<?php include(DIR_INC . 'meta.html'); ?>
<meta property="og:type" content="article">
<meta property="og:title" content="お問い合わせ | おしゃれな手土産ギフト、ご褒美ギフトなら STOCKNOW">
<meta property="og:description" content="お問い合わせのページ。ワンランクアップの手土産ギフトや、自分用のお取り寄せ、ご褒美ギフト探しならSTOCKNOW！おしゃれな最新スイーツやグルメ情報をお届けします。">
<meta property="og:url" content="<?php echo $_SERVER["REQUEST_URI"]; ?>">
<meta property="og:image" content="http://stocknow.dev.localhost/img/cmn/pic_ogp.jpg">
<?php include(DIR_INC . 'ogp.html'); ?>
<?php include(DIR_INC . 'link.html'); ?>
<?php include(DIR_INC . 'tagmanager.html'); ?>
</head>

<body id="p_contact">
<?php include(DIR_INC . 'tagmanager-non.html'); ?>
<?php include(DIR_INC . 'header.html'); ?>


<!-- #contents -->
<div id="contents">

	<div class="dir">
		<ul>
			<li><a href="/">home</a></li>
			<li>お問い合わせ</li>
		</ul>
	</div>

	<!-- .sec-contact -->
	<section class='sec-contact is-done'>

		<!-- .heading -->
		<div class="heading">
			<h1 class="headingTtl">お問い合わせ</h1>
		</div><!-- .heading -->

		<section class="formBody">
			<p class="formMessage"><em><?php if(strlen($usrcontact)>0){echo hsc($usrcontact) . ' さま';}?></em><br>
			<p class="formMessage">この度は、お問い合わせいただきまして誠にありがとうございます。<br>
			内容を確認次第、改めてご連絡をさせていただきます。</p>
			<p class="formMessage">また、個人でサイト運営しているため、返信まで少々お時間をいただきますこと、予めご了承くださいませ。</p>
			<p class="formMessage m-btn"><a href="./"><span>TOPへ戻る</span></a></p>
		</section>

	</section><!-- .sec-contact -->

</div><!-- /#contents -->

<?php include(DIR_INC . 'footer.html'); ?>
</body>
</html>