extends /_pug/_inc/_layout

//-
	---------------------------------------------------------
	ページ固有の変数を定義
	---------------------------------------------------------
append setVar
	- layout = 'home'
	- pageUrl = '/'
	- dirArray = createDirArray(pageUrl)
	- bodyAttributes.id = 'p-home'

//-
	---------------------------------------------------------
	ページ固有のCSSを読み込み
	---------------------------------------------------------
append css
	link(rel="stylesheet" href="/css/p_home.css")

//-
	---------------------------------------------------------
	コンテンツ
	---------------------------------------------------------
block main

	div.main_inner

		// div.m-pageTitle
			h1.m-pageTitle_txt 会社概要
			
		div.box
			div.wave.-one
			div.wave.-two
			div.wave.-three
			div.title Capacities

		div.item_box
			div.c-item_list.is-3block
				//#include virtual="/_inc/list_gourmet.html"
			//#include virtual="/_inc/advertise.html"
			div.c-item_list.is-3block.is-2nd
				//#include virtual="/_inc/list_fashion.html"
			//#include virtual="/_inc/advertise.html"
