extends /_pug/_inc/_layout_contact

//-
	---------------------------------------------------------
	ページ固有の変数を定義
	---------------------------------------------------------
append setVar
	- layout = 'normal'
	- pageUrl = '/contact/templates/done.html'
	- dirArray = createDirArray(pageUrl)
	- bodyAttributes.id = 'p-normal'
	- bodyAttributes.class = 'p-contact is-done'

//-
	---------------------------------------------------------
	ページ固有のCSSを読み込み
	---------------------------------------------------------
append css
	link(rel="stylesheet" href="/css/p_normal.css")

//-
	---------------------------------------------------------
	コンテンツ
	---------------------------------------------------------
block main

	nav.m-breadcrumbs
		ol.m-breadcrumbs_list
			li: a(href="/") HOME
			li お問い合わせ
			
	div.c-pageTitle
		div.c-pageTitle_inner
			h1.c-pageTitle_txt お問い合わせ

	div.main_inner
		section.normal_block
			//- p.contact_txt STOCKNOWに関するお問い合わせはこちらからお願いします。<br>また、お問い合わせの返信まで少々お時間をいただきますこと、予めご了承くださいませ。
			div.formBody
				p.formMessage #[em <?php if(strlen($usrcontact)>0){echo hsc($usrcontact) . ' さま';}?>]
				p.formMessage この度は、お問い合わせいただきまして誠にありがとうございます。<br>内容を確認次第、改めてご連絡をさせていただきます。
				p.m-btn: a(href="/"): span TOPへ戻る
						
append script
	script(src="/js/form_validation.js")
