div.c-advertise
	script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
	<!-- メインビジュアル下 -->
	ins.adsbygoogle(style="display:inline-block;width:780px;height:180px" data-ad-client="ca-pub-4223387530424990" data-ad-slot="6730212425")
	script.
		(adsbygoogle = window.adsbygoogle || []).push({});
