div.c-advertise-square
	div.c-square-block
		script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
		<!-- スクエア -->
		ins.adsbygoogle(style="display:block;width:320px;height:250px" data-ad-client="ca-pub-4223387530424990" data-ad-slot="6836539421")
		script.
			(adsbygoogle = window.adsbygoogle || []).push({});
	div.c-square-block
		script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
		<!-- スクエア -->
		ins.adsbygoogle(style="display:block;width:320px;height:250px" data-ad-client="ca-pub-4223387530424990" data-ad-slot="6836539421")
		script.
			(adsbygoogle = window.adsbygoogle || []).push({});