header#header
	div.header_logo.is-zcool
		div.logo_wave.-one
		div.logo_wave.-two
		div.logo_wave.-three
		a(href="/")
			p.logo_main STOCK NOW
			p.logo_sub Stock many quality items.
	div.header_inner#js-perfectScrollbar
		//- article.header_info
			h2.m-titleType01 #[span NEWS] お知らせ
			ul
				li #[span 2019.03.01]<br>サイトをリニューアルしました！今後も質の良い手土産と新たにファッション関する情報もお届けいたします。
		//- nav.header_nav
			p.m-titleType01 #[span MENU] メニュー
			ul
				li: a(href="/") #[span メニュー1]
				li: a(href="/") #[span メニュー2]
		div.header_advertise
			script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
			ins.adsbygoogle(style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-4223387530424990" data-ad-slot="1141931755")
			script.
				(adsbygoogle = window.adsbygoogle || []).push({});
		div.header_flexibleArea
			section.header_item
				h2.m-titleType01 #[span RECOMMEND] グルメ
				div.c-item_list
					//#include virtual="/_inc/list_gourmet.html"
			section.header_item
				h2.m-titleType01 #[span PICKUP] ファッション
				div.c-item_list.is-fashion
					//#include virtual="/_inc/list_fashion.html"
		//- section.header_tag
			//- h2.m-titleType01 #[span WORD] 人気ワード
			//- ul.c-tag_list
			//- 	li: a(href="/") #[span タグ1]
			//- 	li: a(href="/") #[span タグあああああ]
			//- 	li: a(href="/") #[span タグ3]
			//- 	li: a(href="/") #[span タグｆｆｆ]
			//- 	li: a(href="/") #[span タグ5]
			//- 	li: a(href="/") #[span タグ6]
		div.header_advertise
			script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
			ins.adsbygoogle(style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-4223387530424990" data-ad-slot="1141931755")
			script.
				(adsbygoogle = window.adsbygoogle || []).push({});
		nav.header_subNav
			ul
				li: a(href="/contact/") お問い合わせ
				li: a(href="/about/") このサイトについて
				li: a(href="/privacypolicy/") プライバシーポリシー