header#header
	div.header_logo.is-zcool
		div.logo_wave.-one
		div.logo_wave.-two
		div.logo_wave.-three
		a(href="/")
			p.logo_main STOCK NOW
			p.logo_sub Stock many quality items.
	div.header_inner#js-perfectScrollbar
		article.header_info
			h2.m-titleType01 #[span NEWS] お知らせ
			ul
				li #[span 2019.06.26]<br>人気ワードメニュー追加しました。例えば「#新宿駅」の場合は、「新宿駅」に紐づく記事の絞り込みができます。
		div.header_advertise
			script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
			ins.adsbygoogle(style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-4223387530424990" data-ad-slot="1141931755")
			script.
				(adsbygoogle = window.adsbygoogle || []).push({});
		//- nav.header_nav
			h2.m-titleType01 #[span CATEGORY] カテゴリ
			ul
				li: a(href="/") #[span グルメ]
				li: a(href="/") #[span ファッション]
		section.header_tag
			h2.m-titleType01 #[span WORD] 人気ワード
			|
			|<mt:Include file="../_inc/tag_list.html">
		div.header_flexibleArea
			section.header_item
				h2.m-titleType01 #[span RECOMMEND] グルメ
				div.c-item_list
					|
					|<mt:Include file="../_inc/list_gourmet.html">
			section.header_item
				h2.m-titleType01 #[span PICKUP] ファッション
				div.c-item_list.is-fashion
					|
					|<mt:Include file="/_inc/list_fashion.html">
		div.header_advertise
			script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
			ins.adsbygoogle(style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-4223387530424990" data-ad-slot="1141931755")
			script.
				(adsbygoogle = window.adsbygoogle || []).push({});
		nav.header_subNav
			ul
				li: a(href="/contact/") お問い合わせ
				li: a(href="/about/") このサイトについて
				li: a(href="/privacypolicy/") プライバシーポリシー