header#header
	// div.header_logo: a(href="/"): img(src="/img/cmn/logo.svg" alt="STOCK NOW")
	div.header_logo: a(href="/") STOCK NOW
	div.header_inner#js-perfectScrollbar
		nav.header_nav
			p.m-titleType01 MENU
			ul
				li: a(href="/") #[span メニュー1]
				li: a(href="/") #[span メニュー2]
			div.header_advertise: a(href="/"): img(src="https://placehold.it/300x250" alt="")
		section.header_item
			h2.m-titleType01 RECOMMEND 記事
			div.c-item_list
				div: a(href="/")
					p.c-item_listPic: img(src="https://placehold.it/300x200" alt="")
					p.c-item_listDate 2019.00.00
					p.c-item_listTxt ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ
				div: a(href="/")
					p.c-item_listPic: img(src="https://placehold.it/300x200" alt="")
					p.c-item_listDate 2019.00.00
					p.c-item_listTxt ほげほげほげほげほげほげほげ
		section.header_tag
			h2.m-titleType01 人気ワード
			ul.c-tag_list
				li: a(href="/") #[span タグ1]
				li: a(href="/") #[span タグあああああ]
				li: a(href="/") #[span タグ3]
				li: a(href="/") #[span タグｆｆｆ]
				li: a(href="/") #[span タグ5]
				li: a(href="/") #[span タグ6]
			div.header_advertise: a(href="/"): img(src="https://placehold.it/300x250" alt="")
		nav.header_subNav
			ul
				li: a(href="/") サイトについて
				li: a(href="/") 運営者について
				li: a(href="/") サイトマップ
				li: a(href="/") お問い合わせ