section
	a(href="/fashion/tiamo79.html")
		p.c-item_listPic: img(src="/fashion/img/pic_tiamo79_01.jpg" alt="")
		p.c-item_listDate 2019.03.00
		h2.c-item_listTxt 《#79》今年のシャツも個性派揃い！春の新作イッキ見せ！(前編)
	ul.c-tag_list
		li: a(href="/") #[span タグ1]
		li: a(href="/") #[span タグあああああ]
section
	a(href="/fashion/tiamo78.html")
		p.c-item_listPic: img(src="/fashion/img/pic_tiamo78_01.jpg" alt="")
		p.c-item_listDate 2019.03.12
		h2.c-item_listTxt 《#78》バブるバブればバブる時！春のバブアーも別注で決めろ！
	ul.c-tag_list
		li: a(href="/") #[span タグ1]
		li: a(href="/") #[span タグあああああ]
section
	a(href="/fashion/tiamo77.html")
		p.c-item_listPic: img(src="/fashion/img/pic_tiamo77_01.jpg" alt="")
		p.c-item_listDate 2019.03.07
		h2.c-item_listTxt 《#77》2019 春夏スタート！ティアモのゲキ推しアイテムプレビュー（後編）
	ul.c-tag_list
		li: a(href="/") #[span タグ1]
		li: a(href="/") #[span タグあああああ]
section
	a(href="/fashion/tiamo76.html")
		p.c-item_listPic: img(src="/fashion/img/pic_tiamo76_01.jpg" alt="")
		p.c-item_listDate 2019.03.03
		h2.c-item_listTxt 《#76》2019 春夏スタート！ティアモのゲキ推しアイテムプレビュー（前編）
	ul.c-tag_list
		li: a(href="/") #[span タグ1]
		li: a(href="/") #[span タグあああああ]