//- section
//- 	a(href="/fashion/tiamo78.html")
//- 		p.c-item_listPic: img(src="/fashion/img/pic_tiamo78_01.jpg" alt="")
//- 		p.c-item_listDate 2019.00.00
//- 		h2.c-item_listTxt 《#78》バブるバブればバブる時！春のバブアーも別注で決めろ！
//- 	ul.c-tag_list
//- 		li: a(href="/") #[span タグ1]
//- 		li: a(href="/") #[span タグあああああ]
section
	a(href="/fashion/tiamo78.html")
		p.c-item_listPic: img(src="/fashion/img/pic_tiamo78_01.jpg" alt="")
		p.c-item_listDate 2019.03.07
		h2.c-item_listTxt 《#78》バブるバブればバブる時！春のバブアーも別注で決めろ！
	ul.c-tag_list
		li: a(href="/") #[span タグ1]
		li: a(href="/") #[span タグあああああ]
section
	a(href="/fashion/tiamo77.html")
		p.c-item_listPic: img(src="/fashion/img/pic_tiamo77_01.jpg" alt="")
		p.c-item_listDate 2019.03.07
		h2.c-item_listTxt 《#77》2019 春夏スタート！ティアモのゲキ推しアイテムプレビュー（後編）
	ul.c-tag_list
		li: a(href="/") #[span タグ1]
		li: a(href="/") #[span タグあああああ]
section
	a(href="/fashion/tiamo76.html")
		p.c-item_listPic: img(src="/fashion/img/pic_tiamo76_01.jpg" alt="")
		p.c-item_listDate 2019.03.03
		h2.c-item_listTxt 《#76》2019 春夏スタート！ティアモのゲキ推しアイテムプレビュー（前編）
	ul.c-tag_list
		li: a(href="/") #[span タグ1]
		li: a(href="/") #[span タグあああああ]
//- section
//- 	a(href="/fashion/tiamo75.html")
//- 		p.c-item_listPic: img(src="/fashion/img/pic_tiamo75_01.jpg" alt="")
//- 		p.c-item_listDate 2019.00.00
//- 		h2.c-item_listTxt 《#75》ティアモチルドレンを探せ！（大宮店編）
//- 	ul.c-tag_list
//- 		li: a(href="/") #[span タグ1]
//- 		li: a(href="/") #[span タグあああああ]
//- section
//- 	a(href="/fashion/tiamo74.html")
//- 		p.c-item_listPic: img(src="/fashion/img/pic_tiamo74_01.jpg" alt="")
//- 		p.c-item_listDate 2019.00.00
//- 		h2.c-item_listTxt 《#74》メンズバイヤーティアモ！フィレンツェから愛を込めて(後編)
//- 	ul.c-tag_list
//- 		li: a(href="/") #[span タグ1]
//- 		li: a(href="/") #[span タグあああああ]
//- section
//- 	a(href="/fashion/tiamo73.html")
//- 		p.c-item_listPic: img(src="/fashion/img/pic_tiamo73_01.jpg" alt="")
//- 		p.c-item_listDate 2019.00.00
//- 		h2.c-item_listTxt 《#73》メンズバイヤーティアモ！フィレンツェから愛を込めて(前編)
//- 	ul.c-tag_list
//- 		li: a(href="/") #[span タグ1]
//- 		li: a(href="/") #[span タグあああああ]