section
	a(href="/fashion/tiamo83.html")
		p.c-item_listPic: img(src="/fashion/img/pic_tiamo83_01.jpg" alt="ティアモチルドレンを探せ！（有楽町店編）")
		p.c-item_listDate 2019.04.04
		h2.c-item_listTxt 《#83》ティアモチルドレンを探せ！（有楽町店編）
	ul.c-tag_list
		li: a(href="/") #[span タグ1]
		li: a(href="/") #[span タグあああああ]
section
	a(href="/fashion/tiamo82.html")
		p.c-item_listPic: img(src="/fashion/img/pic_tiamo82_01.jpg" alt="ティアモVS広瀬 徹底討論！この春、１番モテるジャケットはどれだ？")
		p.c-item_listDate 2019.04.04
		h2.c-item_listTxt 《#82》ティアモVS広瀬 徹底討論！<br>この春、１番モテるジャケットはどれだ？
	ul.c-tag_list
		li: a(href="/") #[span タグ1]
		li: a(href="/") #[span タグあああああ]
section
	a(href="/fashion/tiamo81.html")
		p.c-item_listPic: img(src="/fashion/img/pic_tiamo81_01.jpg" alt="エロいのシブいのイロイロあるよ！男子必見！春のセットアップ！")
		p.c-item_listDate 2019.03.20
		h2.c-item_listTxt 《#81》エロいのシブいのイロイロあるよ！男子必見！春のセットアップ！
	ul.c-tag_list
		li: a(href="/") #[span タグ1]
		li: a(href="/") #[span タグあああああ]
section
	a(href="/fashion/tiamo80.html")
		p.c-item_listPic: img(src="/fashion/img/pic_tiamo80_01.jpg" alt="今年のシャツも個性派揃い！春の新作イッキ見せ！(後編)")
		p.c-item_listDate 2019.03.19
		h2.c-item_listTxt 《#80》今年のシャツも個性派揃い！春の新作イッキ見せ！(後編)
	ul.c-tag_list
		li: a(href="/") #[span タグ1]
		li: a(href="/") #[span タグあああああ]
section
	a(href="/fashion/tiamo79.html")
		p.c-item_listPic: img(src="/fashion/img/pic_tiamo79_01.jpg" alt="今年のシャツも個性派揃い！春の新作イッキ見せ！(前編)")
		p.c-item_listDate 2019.03.15
		h2.c-item_listTxt 《#79》今年のシャツも個性派揃い！春の新作イッキ見せ！(前編)
	ul.c-tag_list
		li: a(href="/") #[span タグ1]
		li: a(href="/") #[span タグあああああ]
section
	a(href="/fashion/tiamo78.html")
		p.c-item_listPic: img(src="/fashion/img/pic_tiamo78_01.jpg" alt="バブるバブればバブる時！春のバブアーも別注で決めろ！")
		p.c-item_listDate 2019.03.12
		h2.c-item_listTxt 《#78》バブるバブればバブる時！春のバブアーも別注で決めろ！
	ul.c-tag_list
		li: a(href="/") #[span タグ1]
		li: a(href="/") #[span タグあああああ]
section
	a(href="/fashion/tiamo77.html")
		p.c-item_listPic: img(src="/fashion/img/pic_tiamo77_01.jpg" alt="春夏スタート！ティアモのゲキ推しアイテムプレビュー（後編）")
		p.c-item_listDate 2019.03.07
		h2.c-item_listTxt 《#77》2019 春夏スタート！ティアモのゲキ推しアイテムプレビュー（後編）
	ul.c-tag_list
		li: a(href="/") #[span タグ1]
		li: a(href="/") #[span タグあああああ]
section
	a(href="/fashion/tiamo76.html")
		p.c-item_listPic: img(src="/fashion/img/pic_tiamo76_01.jpg" alt="春夏スタート！ティアモのゲキ推しアイテムプレビュー（前編）")
		p.c-item_listDate 2019.03.03
		h2.c-item_listTxt 《#76》2019 春夏スタート！ティアモのゲキ推しアイテムプレビュー（前編）
	ul.c-tag_list
		li: a(href="/") #[span タグ1]
		li: a(href="/") #[span タグあああああ]