section
	a(href="/gourmet/butterbutler.html")
		p.c-item_listPic: img(src="/gourmet/img/pic_butterbutler_01.png" alt="『バターバトラー』のバターフィナンシェ")
		p.c-item_listDate 2019.03.04
		h2.c-item_listTxt バターが主役の洋菓子！『バターバトラー』のバターフィナンシェ
	ul.c-tag_list
		li: a(href="/") #[span タグ1]
		li: a(href="/") #[span タグあああああ]
		li: a(href="/") #[span タグ3]
		li: a(href="/") #[span タグｆｆｆ]
section
	a(href="/gourmet/floweryflour.html")
		p.c-item_listPic: img(src="/gourmet/img/pic_floweryflour_01.jpg" alt="FLOWERY FLOUR（フラワリーフラワー）の『ガトーサンド』")
		p.c-item_listDate 2019.03.11
		h2.c-item_listTxt 手のひらにのるケーキ！FLOWERY FLOUR（フラワリーフラワー）の『ガトーサンド』
	ul.c-tag_list
		li: a(href="/") #[span タグ1]
		li: a(href="/") #[span タグあああああ]
		li: a(href="/") #[span タグ3]
		li: a(href="/") #[span タグｆｆｆ]
section
	a(href="/gourmet/daifuku.html")
		p.c-item_listPic: img(src="/gourmet/img/pic_daifuku_01.jpg" alt="東京三大豆大福！")
		p.c-item_listDate 2019.03.15
		h2.c-item_listTxt  東京三大豆大福！<br>手土産におすすめ「売り切れ必至」の有名店
	ul.c-tag_list
		li: a(href="/") #[span タグ1]
		li: a(href="/") #[span タグあああああ]
section
	a(href="/gourmet/whitebread.html")
		p.c-item_listPic: img(src="/gourmet/img/pic_whitebread_01.jpg" alt="2019年 おすすめの差し入れ『生食パン」シリーズ")
		p.c-item_listDate 2019.03.14
		h2.c-item_listTxt 一度味わうとリピーター確実！2019年 おすすめの差し入れ『生食パン」シリーズ
	ul.c-tag_list
		li: a(href="/") #[span タグ1]
		li: a(href="/") #[span タグあああああ]
section
	a(href="/gourmet/flippers-pancake.html")
		p.c-item_listPic: img(src="/gourmet/img/pic_flippers-pancake_01.jpg" alt="奇跡のパンケーキ「フリッパーズ(FLIPPER'S)」")
		p.c-item_listDate 2019.03.08
		h2.c-item_listTxt  奇跡のパンケーキ「フリッパーズ(FLIPPER'S)」がテイクアウト型の進化系スイーツ「奇跡のスフレパンケーキプリン」をリリース！！
	ul.c-tag_list
		li: a(href="/") #[span タグ1]
		li: a(href="/") #[span タグあああああ]
section
	a(href="/gourmet/chocolaphil.html")
		p.c-item_listPic: img(src="/gourmet/img/pic_chocolaphil_01.jpg" alt="「Chocolaphil（ショコラフィル）」")
		p.c-item_listDate 2019.03.07
		h2.c-item_listTxt  自由が丘にオープン！ガトーショコラ専門店。「Chocolaphil（ショコラフィル）」
	ul.c-tag_list
		li: a(href="/") #[span タグ1]
		li: a(href="/") #[span タグあああああ]
section
	a(href="/gourmet/dou.html")
		p.c-item_listPic: img(src="/gourmet/img/pic_dou_01.jpg" alt="DOU（ドウ）")
		p.c-item_listDate 2019.03.06
		h2.c-item_listTxt 誰も食べたことのない和菓子、生どら焼き専門店『DOU（ドウ）』
	ul.c-tag_list
		li: a(href="/") #[span タグ1]
		li: a(href="/") #[span タグあああああ]
section
	a(href="/gourmet/pogg.html")
		p.c-item_listPic: img(src="/gourmet/img/pic_pogg_01.jpg" alt="POGG（ポグ）")
		p.c-item_listDate 2019.03.06
		h2.c-item_listTxt  誰もが懐かしさを感じるスイーツ！焼きたてスイートポテト”パイ”専門店の「POGG（ポグ）」
	ul.c-tag_list
		li: a(href="/") #[span タグ1]
		li: a(href="/") #[span タグあああああ]
section
	a(href="/gourmet/bake.html")
		p.c-item_listPic: img(src="/gourmet/img/pic_bake_01.jpg" alt="BAKE CHEESE TART")
		p.c-item_listDate 2019.03.04
		h2.c-item_listTxt カフェ併設の店舗は全国でたった1店舗！自由が丘のチーズタルト専門店『BAKE CHEESE TART』
	ul.c-tag_list
		li: a(href="/") #[span タグ1]
		li: a(href="/") #[span タグあああああ]
section
	a(href="/gourmet/zakuzaku.html")
		p.c-item_listPic: img(src="/gourmet/img/pic_zakuzaku_01.jpg" alt="クロッカンシュー ザクザク")
		p.c-item_listDate 2019.03.04
		h2.c-item_listTxt 日本から海外まで店舗を構える！『クロッカンシュー ザクザク』
	ul.c-tag_list
		li: a(href="/") #[span タグ1]
		li: a(href="/") #[span タグあああああ]
section
	a(href="/gourmet/ringo.html")
		p.c-item_listPic: img(src="/gourmet/img/pic_ringo_01.jpg" alt="RINGO（RINGO）")
		p.c-item_listDate 2019.03.04
		h2.c-item_listTxt 出来立てが味わえる！カスタードアップルパイ専門店『RINGO』
	ul.c-tag_list
		li: a(href="/") #[span タグ1]
		li: a(href="/") #[span タグあああああ]
section
	a(href="/gourmet/pressbuttersand.html")
		p.c-item_listPic: img(src="/gourmet/img/pic_pressbuttersand_01.jpg" alt="PRESS BUTTER SAND（プレスバターサンド）")
		p.c-item_listDate 2019.03.04
		h2.c-item_listTxt  あの『BAKE』が手掛けたバターサンド！<br>『PRESS BUTTER SAND（プレスバターサンド）』
	ul.c-tag_list
		li: a(href="/") #[span タグ1]
		li: a(href="/") #[span タグあああああ]