div.entry_content
	div.mokuji
		p.m-titleType03 目次
		ul.mokuji_list
			li: a(href="#anchor01") [動画] 《#84》番組別注第２弾！ミカとティアモのネクタイベルト（オーダー編）
			li: a(href="#anchor02") 春の小物！レトロ・ヴィンテージのネクタイ！
			li: a(href="#anchor03") 爽やかな明るい印象が◎！春色特集！

	section.entry_section#anchor01
		h2.m-titleType02 [動画] 《#84》番組別注第２弾！ミカとティアモのネクタイベルト（オーダー編）
		div.entry_youtube
			iframe(width="560" height="315" src="https://www.youtube.com/embed/BqjpI00VP8s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

	section.entry_section#anchor02
		h2.m-titleType02 春の小物！レトロ・ヴィンテージのネクタイ！
		p.entry_txt 春のネクタイはレトロ・ヴィンテージ風のブラウン系が流行り。ペイズリー柄も人気があるのでスーツスタイルに取り入れることでトレンド感が演出できます。
		div.entry_saleitems
			section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709142024_r2016_y050")
				h3.saleitems_name ストライプネクタイ
				p.saleitems_maker STEFANO BIGI
				p.saleitems_pic: img(src="/fashion/img/pic_tiamo84_item01.jpg" alt="ストライプネクタイ")
			section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709142030_r2016_y103")
				h3.saleitems_name ドットネクタイ
				p.saleitems_maker STEFANO BIGI
				p.saleitems_pic: img(src="/fashion/img/pic_tiamo84_item02.jpg" alt="ドットネクタイ")
			section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709142019_r2016_y120")
				h3.saleitems_name ペーズリープリント
				p.saleitems_maker PAOLO ALBIZZATI
				p.saleitems_pic: img(src="/fashion/img/pic_tiamo84_item03.jpg" alt="ペーズリープリント")
			section: a(target="_blank" rel="nofollow" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6707242060_r2016")
				h3.saleitems_name ドットタイ
				p.saleitems_maker ATTO VANNUCCI
				p.saleitems_pic: img(src="/fashion/img/pic_tiamo84_item04.jpg" alt="ドットタイ")
					
	section.entry_section#anchor03
		h2.m-titleType02 爽やかな明るい印象が◎！春色特集！
		p.entry_txt 爽やか系のネクタイも種類が豊富！迷ったときは合わせやすいストライプ柄もおすすめです！
		div.entry_saleitems
			section: a(target="_blank" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709142012_r2016_y060")
				h3.saleitems_name ドットＳ
				p.saleitems_maker Altea
				p.saleitems_pic: img(src="/fashion/img/pic_tiamo84_item05.jpg" alt="ドットＳ")
			section: a(target="_blank" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709142021_r2016_y115")
				h3.saleitems_name ストライプ
				p.saleitems_maker PAOLO ALBIZZATI
				p.saleitems_pic: img(src="/fashion/img/pic_tiamo84_item06.jpg" alt="ストライプ")
			section: a(target="_blank" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6689142004_r2016_y040")
				h3.saleitems_name ＢＩＡＮＣＨＩシルクリネンフラワーモチーフネクタイ
				p.saleitems_maker nano・universe
				p.saleitems_pic: img(src="/fashion/img/pic_tiamo84_item07.jpg" alt="ＢＩＡＮＣＨＩシルクリネンフラワーモチーフネクタイ")
			section: a(target="_blank" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6689142007_r2016")
				h3.saleitems_name ＦＯＳＳＡＴＩシルクコットンストライプネクタイ２
				p.saleitems_maker nano・universe
				p.saleitems_pic: img(src="/fashion/img/pic_tiamo84_item08.jpg" alt="ＦＯＳＳＡＴＩシルクコットンストライプネクタイ２")
			section: a(target="_blank" href="http://h.accesstrade.net/sp/cc?rk=0100l47v00j55a&url=https%3A%2F%2Fstore.nanouniverse.jp%2Fjp%2Fg%2Fg6709142005_r2016_y060")
				h3.saleitems_name ドットＳ
				p.saleitems_maker Altea
				p.saleitems_pic: img(src="/fashion/img/pic_tiamo84_item09.jpg" alt="ドットＳ")