extends /_pug/_inc/_layout

//-
	---------------------------------------------------------
	ページ固有の変数を定義
	---------------------------------------------------------
append setVar
	- layout = 'error'
	- pageUrl = '/_error/404.html'
	- dirArray = createDirArray(pageUrl)
	- bodyAttributes.id = 'p-normal'

//-
	---------------------------------------------------------
	ページ固有のCSSを読み込み
	---------------------------------------------------------
append css
	link(rel="stylesheet" href="/css/p_normal.css")

//-
	---------------------------------------------------------
	コンテンツ
	---------------------------------------------------------
block main

	nav.m-breadcrumbs
		ol.m-breadcrumbs_list
			li: a(href="/") HOME
			li お探しの情報が見つかりませんでした。
			
	div.c-pageTitle
		div.c-pageTitle_inner
			h1.c-pageTitle_txt お探しの情報が見つかりませんでした。

	div.main_inner
		section.normal_block
			h2.normal_ttl #[em おしゃれな手土産ギフトとトレンドファッションの情報サイト『STOCKNOW』]を<br>閲覧いただきありがとうございます。
			p.normal_txt 誠に申し訳ございませんが、お探しの情報が見つかりませんでした。
			p.normal_txt お探しの情報は他のページへ移動したか、掲載期間終了のため閲覧できない可能性がございます。
			p.normal_txt お手数をおかけしますがトップページへお戻りいただくか、下記コンテンツより情報をお求めください。
			
		div.item_box
			div.c-item_list.is-3block.is-2nd
				//#include virtual="/_inc/list_gourmet.html"
			//#include virtual="/_inc/advertise780.html"
			div.c-item_list.is-3block.is-2nd
				//#include virtual="/_inc/list_fashion.html"
			//#include virtual="/_inc/advertise.html"